<h1>OpenLDAP database (back-hdb)</h1>

<p>
  <a title="Go to man-page slapd-hdb(5)" href="https://www.openldap.org/software/man.cgi?query=slapd-hdb">slapd-hdb(5)</a>
</p>

<fieldset title="Basic database parameters">
  <legend>Basic database parameters</legend>
  <table>
    <tr>
      <td>Number and Type of database (olcDatabase)</td>
      <td>%(olcDatabase)s</td>
    </tr>
    <tr>
      <td>Suffix of database (olcSuffix)</td>
      <td>%(olcSuffix)s</td>
    </tr>
    <tr>
      <td>DN of administrator (olcRootDN). Must have same suffix as the database!</td>
      <td>%(olcRootDN)s</td>
    </tr>
    <tr>
      <td>Directory where database files are stored (olcDbDirectory)</td>
      <td>%(olcDbDirectory)s</td>
    </tr>
    <tr>
      <td>Permissions of database files (olcDbMode)</td>
      <td>%(olcDbMode)s</td>
    </tr>
    <tr>
      <td>Checkpoint parameters (kbyte) (min)</td>
      <td>%(olcDbCheckpoint)s</td>
    </tr>
    <tr>
      <td>Visible in cn=Monitor</td>
      <td>%(olcMonitoring)s</td>
    </tr>
    <tr>
      <td>Database in read-only mode (olcReadOnly)</td>
      <td>%(olcReadOnly)s</td>
    </tr>
    <tr>
      <td>Check ACLs against content of Add ops (olcAddContentAcl)</td>
      <td>%(olcAddContentAcl)s</td>
    </tr>
  </table>
</fieldset>

<fieldset title="Berkeley DB configuration">
  <legend>Berkeley DB configuration</legend>
  <p>%(olcDbConfig)s</p>
</fieldset>

<fieldset title="Index configuration">
  <legend>Index configuration</legend>
  <p>%(olcDbIndex)s</p>
</fieldset>

<fieldset title="Access control lists (ACLs)">
  <legend>Access control (ACLS)</legend>
  <p>
    <a title="Go to man-page slapd.access(5)" href="https://www.openldap.org/software/man.cgi?query=slapd.access">slapd.access(5)</a>
  </p>
  <p>%(olcAccess)s</p>
</fieldset>

<h2>Replication</h2>

<fieldset>
  <legend>Consumer options</legend>
  <table>
    <tr>
      <td>olcSyncrepl</td>
      <td>%(olcSyncrepl)s</td>
    </tr>
    <tr>
      <td>olcSyncUseSubentry</td>
      <td>%(olcSyncUseSubentry)s</td>
    </tr>
  </table>
</fieldset>
