body {
  margin:0;
  padding:0;
  font-family:sans-serif;
  background-color:#ffffff;
}

img {
  max-width:90%;
}

h1 {
  font-size:1.4em;
  margin-top:0em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  border-bottom:1px dotted #606060;
}

h2 {
  font-size:1.2em;
  padding-top:0.3em;
  padding-bottom:0.2em;
  border-bottom:1px dotted #606060;
}

h3 {
  font-size:1.1em;
  padding-top:0.2em;
  border-bottom:1px dotted #606060;
}

p {
  padding-bottom:0.2em;
}

td {
  vertical-align:top;
  padding:0.2em;
}

li {
  vertical-align:top;
  list-style-type:square;
  padding:0.2em;
}

img.logo {
  width:70px;
  size:100px;
}

#TopSection {
  font-weight:normal;
}

#StatusLine {
  z-index:10;
  top:0em;
  left:0em;
  right:0em;
  text-align:left;
  padding:0.3em;
  border:none;
  overflow:auto;
  color:#ffffff;
  background-color:#636665;
  white-space: nowrap;
}

#DITNavigation {
  z-index:10;
  top:3.5em;
  margin:0;
  left:0;
  right:0;
  text-align:left;
  padding:0.4em;
  color:#ffffff;
  background-color:#403F3F;
  white-space: nowrap;
  overflow:hidden;
}

html>body #StatusLine {
  position:fixed;
}

html>body #DITNavigation {
  position:fixed;
}

#StatusLine table {
  top:0;
  width:100%;
  font-size:0.95em;
}

#StatusLine th {
  min-width:10%;
  max-width:20%;
  padding:0.1em;
}

#StatusLine td {
  padding:0.1em;
}

#MainMenu {
  left:0;
  margin:3.0em 0 0 0;
  padding:0.6em 0 0 0;
  min-width:5em;
  width:10%;
  height:100%;
  float:left;
}

html>body #MainMenu {
  position:absolute;
}

#ContextMenu {
  right:0;
  margin:3.0em 0 0 0;
  padding:0.6em 0 0 0;
  min-width:5em;
  width:10%;
  height:100%;
  float:right;
}

html>body #ContextMenu {
  position:absolute;
}

#SrchResList {
  margin:1em 0 1em 0;
}

#SrchResList td {
  vertical-align:top;
  padding:0.6em;
  border-bottom:1px dotted;
  margin-bottom:0.2em;
}

#SrchResList tr {
}

#SrchResList td.CT {
  width:7.1em;
  padding:0em;
  padding-top:0.5em;
}

table.HexDump td {
  margin:0;
  padding:0.2em;
  border:1px solid #7a7a7a;
  white-space: nowrap;
}

table.ReadAttrTable {
  background-color:#fcfcfc;
}

tr.ReadAttrTableRow {
}

td.ReadAttrType {
  text-align:right;
  width:10%;
  border-bottom:1px dotted;
  padding:0.2em;
  padding-right:1em;
  padding-left:0.3em;
  margin:0.2em;
  white-space: nowrap;
}

td.ReadAttrValue {
  border-bottom:1px dotted;
  padding:0.2em;
  margin:0.2em;
}

td.InputAttrType {
  text-align:right;
  vertical-align:top;
  width:10%;
  padding:0.1em;
  padding-right:0.3em;
  margin:0.2em;
  white-space: nowrap;
}

td.About {
  text-align:right;
  vertical-align:middle;
}

div.Main {
  position:absolute;
  top:3.5em;
  bottom:0;
  right:12%;
  left:12%;
  text-align:left;
  line-height: 120%;
  padding:0.5em;
  color:#000000;
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-y: auto;
}

legend {
  font-size:85%;
  background-color:#636665;
  color:#ffffff;
  padding:0.2em 0.5em 0.1em 0.5em;
  border-radius: 0.2em;
}

fieldset {
  margin:0em;
  margin-top:1.0em;
  padding:0.8em;
  border:1px dotted #707070;
}

#Message {
}

#Input {
}

.InvalidInput {
  background-color: #f8efdf;
}

.ErrorMessage {
  font-weight:bold;
  padding:0.8em;
  border: 3px solid #c81f2a;
}

.WarningMessage {
  font-weight:bold;
  padding:0.8em;
  border: 3px solid #a0a0a0;
}

.SuccessMessage {
  font-weight:normal;
  padding:0.8em;
  border: 1px solid #e0e0e0;
}

input,button,select,textarea {
  vertical-align:top;
  background-color:transparent;
  border:1px solid #cccccc;
  padding:0.1em;
}

code {
  white-space: nowrap;
}

kbd {
  white-space:nowrap;
  overflow:scroll;
  font-family:Courier,mono-space;
  font-size:1.5em;
}

input[type="submit"],input[type="reset"],button {
  background-color:#d8d8d8;
  border:3px solid #cccccc;
  border-top-color:#eeeeee;
  border-left-color:#eeeeee;
}

input[type="submit"]:hover,input[type="reset"]:hover,button:hover {
  background-color:#dfdfdf;
  border:3px solid #eeeeee;
  border-top-color:#cccccc;
  border-left-color:#cccccc;
}

#DIT dl {
  border-left:1px dotted #606060;
  white-space: nowrap;
  margin:0.1em;
  margin-left:1.7em;
  padding:0.1em;
}

#DIT dt {
  text-align:left;
  margin:0.3em 0 0.2em 0.1em;
  padding:0em;
}

#DIT dd {
  margin:0.3em 0 0.2em 0.1em;
  padding:0em;
}

/* link styles */

a {
  text-align:center;
  padding:0.2em;
  color:#3385a7;
  text-decoration:none;
}

#StatusLine a {
  color:#f8f8f8;
}

a:hover,a:active,a:focus {
  text-decoration:underline;
}

a.CL {
  text-align:center;
  color:#d02f2f;
  text-align:center;
  font-weight:bold;
}

a.CL:hover,a.CL:active,a.CL:focus {
  color:#197a3a;
}

dt {
  padding:0.1em;
}

dd {
  padding:0.1em;
}

p.ScrollLink {
  font-size:0.6em;
  text-align:right;
  float:right;
}

table.PrintSearchResults {
  background: #ffffff;
  color: #000000;
}

#TopSection a.CL {
  border:none;
  padding:0.1em;
}

#DITNavigation a.CL {
  color:#ffffff;
  font-weight:normal;
}

#MainMenu a.CL {
  display:block;
  padding-top:0.4em;
  padding-bottom:0.4em;
  padding-left:0.1em;
  padding-right:0.1em;
  margin:0;
}

#ContextMenu a.CL {
  display:block;
  padding-top:0.4em;
  padding-bottom:0.4em;
  padding-left:0.1em;
  padding-right:0.1em;
  margin:0;
}

a.hide {
  visibility:hidden;
  margin:0;
  padding:0;
}

/* Skip navigation area */

#skipnavi a {
  position:fixed;
  z-index:0;
  padding:0.5em;
  top:-2em;
  left:0em;
  float:left;
  text-align:left;
  border-top-right-radius:4px;
  background-color:#ffffff;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
}

#skipnavi a:focus,#skipnavi a:hover,#skipnavi a:active {
  top:0;
  z-index:20;
  outline:0;
  -webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}

@media only screen and (min-width: 600px) {

  #MainMenu {
    min-width:6.5em;
  }

  #ContextMenu {
    min-width:6.5em;
  }

  #MainMenu a.CL {
    padding-left:0.3em;
    padding-right:0.3em;
  }

  #ContextMenu a.CL {
    padding-left:0.3em;
    padding-right:0.3em;
  }

}

@media only screen and (min-height:680px) {

  div.Main {
    line-height:140%;
    padding:1.0em;
    margin-right:1.0em;
  }

  img {
    max-width:30%;
    float:right;
  }

  html>body #MainMenu {
    position:fixed;
  }

  html>body #ContextMenu {
    position:fixed;
  }

  #MainMenu {
    width:10%;
  }

  #ContextMenu {
    width:10%;
  }

  #MainMenu a.CL {
    padding-top:0.75em;
    padding-bottom:0.75em;
  }

  #ContextMenu a.CL {
    padding-top:0.75em;
    padding-bottom:0.75em;
  }

}
