<div lang="en">

  <h2>Posix Account <em>%(uid)s</em></h2>

  <table>
    <tr>
      <td>
        Numerical UID:
      </td>
      <td>
        %(uidNumber)s
      </td>
    </tr>
    <tr>
      <td>
        Numerical GID:
      </td>
      <td>
        %(gidNumber)s
      </td>
    </tr>
    <tr>
      <td>
        Home Directory:
      </td>
      <td>
        %(homeDirectory)s
      </td>
    </tr>
    <tr>
      <td>
        Shell:
      </td>
      <td>
        %(loginShell)s
      </td>
    </tr>
  </table>

</div>
