<h2>Additional person information</h2>

<table>
  <tr>
    <td>
      Unique identifier:
    </td>
    <td>
      %(uniqueIdentifier)s
    </td>
  </tr>
  <tr>
    <td>
      Country code:
    </td>
    <td>
      %(c)s
    </td>
  </tr>
  <tr>
    <td>
      Personal title:
    </td>
    <td>
      %(personalTitle)s
    </td>
  </tr>
  <tr>
    <td>
      <td>Gender:</td>
    </td>
    <td>
      %(gender)s
    </td>
  </tr>
  <tr>
    <td>
      Building name:
    </td>
    <td>
      %(buildingName)s
    </td>
  </tr>
  <tr>
    <td>
      Business title (position):
    </td>
    <td>
      %(businessTitle)s
    </td>
  </tr>
</table>

<h3>Birth information</h3>

<table>
  <tr>
    <td>
      Date of birth (YYYY-MM-DD):
    </td>
    <td>
      %(dateofBirth)s
    </td>
  </tr>
  <tr>
    <td>
      Place of birth:
    </td>
    <td>
      %(birthPlace)s
    </td>
  </tr>
  <tr>
    <td>
      Birth name:
    </td>
    <td>
      %(birthName)s
    </td>
  </tr>
</table>
