<h1>%(displayName)s</h1>

<p class="EntryDN">%(entryDN)s</p>
<p>%(structuralObjectClass)s</p>
<p>Short bind-DN: uid=%(uid)s,ou=ae-dir</p>

<table>
  <tr>
    <td>&AElig;-DIR user name (uid):</td>
    <td>
      %(uid)s /
      <a href="/pwd/changepw?username=%(uid)s">CHANGE</a> or
      <a href="/pwd/requestpw?username=%(uid)s">RESET</a> password
    </td>
  </tr>
  <tr>
    <td>Base person (aePerson):</td>
    <td>%(aePerson)s</td>
  </tr>
  <tr>
    <td>Intended purpose (description):</td>
    <td>
      %(description)s
    </td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Expiry Status (aeExpiryStatus):</td>
    <td>%(aeExpiryStatus)s</td>
  </tr>
  <tr>
    <td>First and last name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Mail address (mail):</td>
    <td>%(mail)s</td>
  </tr>
  <tr>
    <td>Ticket no. last change (aeTicketId):</td>
    <td>%(aeTicketId)s</td>
  </tr>
  <tr>
    <td>Validity period:</td>
    <td>
      <dl>
        <dt>from (aeNotBefore)</dt>
        <dd>%(aeNotBefore)s</dd>
        <dt>until (aeNotAfter)</dt>
        <dd>%(aeNotAfter)s</dd>
      </dl>
    </td>
  </tr>
  <tr>
    <td>Tag(s) (aeTag):</td>
    <td>%(aeTag)s</td>
  </tr>
  <tr>
    <td>Last login time here (authTimestamp):</td>
    <td>%(authTimestamp)s</td>
  </tr>
  <tr title="IP address(es) from where to expect logins">
    <td>Remote login hosts (aeRemoteHost):</td>
    <td>%(aeRemoteHost)s</td>
  </tr>
</table>

<h2>Password information</h2>
<table>
  <tr>
    <td>Password change time (pwdChangedTime):</td>
    <td>%(pwdChangedTime)s</td>
  </tr>
  <tr>
    <td>Password policy (pwdPolicySubentry):</td>
    <td>%(pwdPolicySubentry)s</td>
  </tr>
</table>

<h2>Group membership (memberOf):</h2>
<p>%(memberOf)s</p>
