<!--#set var="web2ldap_subtitle" value="Changes 0.8.x" -->
<!--#set var="web2ldap_pagedescription" value="History of released versions" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<!--#include file="ssi/changes_navigation.html" -->

<h1 id="r0.8.3">0.8.3</h1>
<p>Release Date: 2001-01-28</p>
<ul>
  <li>
    Added input field for search root in connect input form.
  </li>
  <li>
    Check if user tries to do ModRDN on empty DN.
  </li>
  <li>
    Try to locate a LDAP host for a DN or DNS domain with various methods
    (see <a href="https://tools.ietf.org/html/draft-ietf-ldapext-ldap-taxonomy">draft-ietf-ldapext-ldap-taxonomy</a>).
  </li>
  <li>
    New parameter <var>dir_listing_allowed</var> for HTTP server
    (stand-alone mode).
  </li>
</ul>

<h1 id="r0.8.2">0.8.2</h1>
<p>Release Date: 2001-01-18</p>
<ul>
  <li>
    Code cleaning:
    <ul>
      <li>
        More clean-ups of exception handling in <var>w2lhandler.py</var>.
      </li>
      <li>
        Do a separate DNS lookup of LDAP host name which
        leads to a cleaner exception handling and error
        message being more meaningful to user.
      </li>
      <li>
        Fixed displaying the DN of deleted entries. The parent DN
        was displayed instead of the entry's DN.
      </li>
      <li>
        Solely use the new string methods of Python 2.0 and
        abandoned importing <var>string</var> module wherever possible.
      </li>
      <li>
        Fixed displaying
        <var>cRLDistributionPoints.distributionPoint.fullName</var>
        as proper URL link when displaying HTML.
      </li>
    </ul>
  </li>
  <li>
    Bug fixes:
    <ul>
      <li>
        Display empty DN as <var>- World -</var> in status line.
      </li>
      <li>
        Fixed building modify list when LDAP server is handling
        attribute types case-respecting.
      </li>
      <li>
        Function <var>ldapbase.SearchTree()</var> properly returns
        list of Unicode objects now. Affects recursive deletes.
      </li>
      <li>
        Fixed missing parameter when raising
        <var>cgiforms.formContentLengthException</var>.
      </li>
      <li>
        Somewhat fixed handling of creating modlist's
        with binary attributes involved.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r0.8.1">0.8.1</h1>
<p>Release Date: 2000-12-20</p>
<ul>
  <li>
    Bug fixes:
    <ul>
      <li>
        Wrong regex pattern for select lists in <var>cgiforms.py</var> fixed.
      </li>
      <li>
        Some select fields did not use the right charset.
      </li>
      <li>
        Fixed displaying <var>displayName</var> attribute.
      </li>
      <li>
        Fixed <var>ldapbase.SplitRDN()</var> (affected modrdn command).
      </li>
      <li>
        Default of modrdn input field was displayed as HTML.
      </li>
      <li>
        Proper handling of UTF-8 characters in
        <var>namingContexts</var> attribute of RootDSE.
      </li>
      <li>
        Handling of form data more robust.
      </li>
      <li>
        Corrected handling of RDNs when DN has only one component.
      </li>
      <li>
        Avoid any LDAP operations before first bind.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r0.8.0">0.8.0</h1>
<p>Release Date: 2000-12-02</p>
<ul>
  <li>
    Nice displaying of certificate and CRL attributes including certificate
    extensions if at least sub-module asn1 of
    <a href="http://www.cnri.reston.va.us/software/pisces/">Pisces</a>
    is installed on the system (automatically detected).
    Credits go to Jeremy Hylton for his work on the ASN.1 parser and helping me understanding it.
  </li>
  <li>
    New parameter <var>web2ldapcnf.hosts.ldap_def['timeout']</var>
    for specifying a timeout (seconds) for search operations.
  </li>
  <li>
    Login not longer mandantory at beginning of session.
    User can explicitly bind after connecting to server.
  </li>
  <li>
    Avoid making a LDAP connection when not necessary
    (e.g. when displaying add form).
  </li>
  <li>
    Displayed LDAP URLs are all URL-quoted now and handling of LDAP URLs
    stored in attribute is more robust and smarter.
  </li>
  <li>
    Some efforts were done to browse global directories
    in a reasonable manner.
  </li>
  <li>
    Simple support for direct use of LDAP URLs (short hack):<br>
    <code>[web2ldap URL]/ldapurl?[LDAP URL]</code><br>
    will display the entry or do a search.
  </li>
  <li>
    Gracefully handling of exceptions which make a re-login
    of a user necessary: <var>ldap.INSUFFICIENT_ACCESS</var>, <var>ldap.INVALID_CREDENTIALS</var>,
    <var>ldap.INAPPROPRIATE_AUTH</var> etc. User can re-login and retry command.
  </li>
  <li>
    Smarter handling of LDAPv3 referrals: Instead of relying on the
    referral handling of the underlying lib the referral exceptions
    are caught and the user is prompted for new bind DN / password
    for connecting to the referred host and repeat the action before
    the referral was received.<br>
    Credits go to Konstantin Chuguev
    for patching python-ldap to do correct error handling
    when result() method is called.
  </li>
  <li>
    Compatibility issues:
    <ul>
      <li>
        web2ldap now makes use of the new Unicode features introduced
        in recent Python versions because the handling of different character
        encoding is faster and cleaner.<br>
        =&gt; You have to upgrade your Python installation at least to
        version 2.0.
      </li>
      <li>
       For cleaner exception handling python-ldap prior to 1.8
       is not longer supported since the <var>ldap.LDAPError</var>
       exception base class is used now. This affects mainly
       the Windows platform since I do not know of pre-compiled
       python-ldap version later than 1.5. Feel free to contribute!
      </li>
      <li>
        Moved parameters <var>web2ldapcnf.misc.search_attrsonly</var>
        and <var>web2ldapcnf.misc.search_attrs</var>
        to <var>web2ldapcnf.hosts.ldap_def</var>. You have to adjust
        your local configuration files!
      </li>
    </ul>
  </li>
  <li>
    Code cleaning:
    <ul>
      <li>
        All LDAP-related strings are internally handled as
        Unicode string types.
      </li>
      <li>
        Handle more input field stuff with the fine <var>cgiforms</var> module.
      </li>
      <li>
        LDAP session objects. First step towards session handling
        with pickeable session objects.
      </li>
      <li>
        Simplified many function calls into module <var>w2lcore</var>.
      </li>
      <li>
        All exception handling of LDAP errors is done in module
        <var>w2lhandler</var> except exceptions which needs special
        handling in a specific context.
      </li>
    </ul>
  </li>
  <li>
    Bug fixes:
    <ul>
      <li>
        Correct handling of DNs with quoted comma.
      </li>
      <li>
        Some code was too case-sensitive with
        handling attribute type names.
      </li>
      <li>
        Fixed some compatibility issues with Python 1.6+.
      </li>
      <li>
        Fixed some vCard issues. Still not perfect but usable most times.
      </li>
      <li>
        Correct handling of special characters when putting together
        LDAP filter string (<a href="https://tools.ietf.org/html/rfc2254">RFC 2254</a>).
      </li>
      <li>
        Fixed typo in main exception handling.
      </li>
    </ul>
  </li>
</ul>

<!--#include file="ssi/footer.html" -->
