<!--#set var="web2ldap_subtitle" value="Changes 1.5.x" -->
<!--#set var="web2ldap_pagedescription" value="History of released versions" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<!--#include file="ssi/changes_navigation.html" -->

<h1 id="r1.5.101">1.5.101</h1>
<p>Release Date: 2020-10-xx</p>
<ul>
  <li>
  </li>
</ul>

<h1 id="r1.5.100">1.5.100</h1>
<p>Release Date: 2020-09-24</p>
<ul>
  <li>
    Lazy initialization of session store and expiry thread.
    When running under control of <a href="https://gunicorn.org/">gunicorn</a>
    this ensures that the initialization is done after forking the master
    process which also fixes stopping the expiry thread during shutdown.
  </li>
</ul>

<h1 id="r1.5.98">1.5.98</h1>
<p>Release Date: 2020-09-22</p>
<ul>
  <li>
    Re-factored removal of expired sessions as an incomplete work-around
    when running under control of <a href="https://gunicorn.org/">gunicorn</a>.
  </li>
</ul>

<h1 id="r1.5.97">1.5.97</h1>
<p>Release Date: 2020-09-19</p>
<ul>
  <li>
    Improved HTML templates for TLS attributes in <var>cn=config</var>.
  </li>
  <li>
    New global configuration variable
    <a href="web2ldapcnf.html#httpenv_remote_addr">httpenv_remote_addr</a>
    especially used for running under control of
    <a href="https://gunicorn.org/">gunicorn</a> behind a front-end web server.
  </li>
</ul>

<h1 id="r1.5.96">1.5.96</h1>
<p>Release Date: 2020-09-05</p>
<ul>
  <li>
    Fixed interop issue when running under control of
    <a href="https://gunicorn.org/">gunicorn</a>
    by not closing input stream file object anymore (legacy code clean-up).
  </li>
</ul>

<h1 id="r1.5.95">1.5.95</h1>
<p>Release Date: 2020-08-26</p>
<ul>
  <li>
    Fixed deprecation warning for <var>dnspython</var> 2.0.0+.
  </li>
</ul>

<h1 id="r1.5.94">1.5.94</h1>
<p>Release Date: 2020-07-04</p>
<ul>
  <li>
    Regression fixes for password change:
    <ul>
      <li>
        Fixed str/bytes regression when generating password self-service reset URL.
      </li>
      <li>
        Fixed setting <var>shadowLastChange</var>.
      </li>
      <li>
        Fixed setting <var>pwdReset</var> and <var>pwdLastSet</var>.
      </li>
    </ul>
  </li>
  <li>
    Fixed str/bytes regression when handling <var>PasswordPolicyException</var>.
  </li>
  <li>
    Code cleaning.
  </li>
</ul>

<h1 id="r1.5.93">1.5.93</h1>
<p>Release Date: 2020-07-01</p>
<ul>
  <li>
    Added link to &AElig;-DIR plugin class for <var>entryDN</var> of
    <var>aeUser</var> and <var>aeService</var> entries to search for
    entries created or modified by this entity.
  </li>
  <li>
    <var>SessionException</var> is now ignored in case of disconnect because
    probably user has disconnected in other tab before.
  </li>
</ul>

<h1 id="r1.5.91">1.5.91</h1>
<p>Release Date: 2020-06-30</p>
<ul>
  <li>
    More compact string literal syntax for host-specific parameter
    <var>search_tdtemplate</var> in config presets for &AElig;-DIR.
  </li>
  <li>
    More compact string literal syntax when displaying search results.
    This seems to reduce approx. 15&hellip;20 % of traffic.
  </li>
  <li>
    Code cleaning.
  </li>
</ul>

<h1 id="r1.5.90">1.5.90</h1>
<p>Release Date: 2020-06-30</p>
<ul>
  <li>
    Added log warning in case <var>IOError</var> was catched when reading
    the search form template.
  </li>
  <li>
    Fixed determining zone DN in &AElig;-DIR plugin classes
    (e.g. used for <var>aeProxyFor</var>).
  </li>
  <li>
    Refactored &AElig;-DIR plugin class hierarchy for attributes containing
    references to <var>aeSrvGroup</var> entries with the DNs being displayed
    like user group DNs.
  </li>
</ul>

<h1 id="r1.5.88">1.5.88</h1>
<p>Release Date: 2020-06-28</p>
<ul>
  <li>
    Some small web style changes (CSS).
  </li>
  <li>
    Removed unmaintained style <var>terminal.css</var>.
  </li>
</ul>

<h1 id="r1.5.86">1.5.86</h1>
<p>Release Date: 2020-06-28</p>
<ul>
  <li>
    &lt;h1&gt; and error message now part of login HTML template.
  </li>
  <li>
    Fixed displaying the Who Am I? result in [conninfo] if None.
  </li>
</ul>

<h1 id="r1.5.85">1.5.85</h1>
<p>Release Date: 2020-06-27</p>
<ul>
  <li>
    Fixed str/bytes regression in plugin class for attribute <var>sambaAcctFlags</var>.
  </li>
  <li>
    Updated some LDIF templates for &AElig;-DIR from ansible role.
  </li>
  <li>
    Some small web style changes (CSS).
  </li>
  <li>
    Added line-break after value description when displaying &AElig;-DIR
    attribute values based on select lists.
  </li>
</ul>

<h1 id="r1.5.84">1.5.84</h1>
<p>Release Date: 2020-06-21</p>
<ul>
  <li>
    When skipping HTML templates because of misconfiguration error/warning
    messages are now written to log instead of broken error handling in UI.
  </li>
  <li>
    Code cleaning.
  </li>
</ul>

<h1 id="r1.5.82">1.5.82</h1>
<p>Release Date: 2020-06-19</p>
<ul>
  <li>
    Added more / better man-page links to HTML templates for
    OpenLDAP's back-config.
  </li>
  <li>
    Fixed str/bytes regression when displaying OpenLDAP syncrepl statements
    (attribute <var>olcSyncrepl</var>).
  </li>
</ul>

<h1 id="r1.5.81">1.5.81</h1>
<p>Release Date: 2020-05-30</p>
<ul>
  <li>
    For better performance method
    <a href="https://docs.python.org/3/library/stdtypes.html#str.translate">str.translate()</a>
    is used to escape HTML characters.
  </li>
</ul>

<h1 id="r1.5.79">1.5.79</h1>
<p>Release Date: 2020-05-26</p>
<ul>
  <li>
    Updated LDIF file with local fall-back schema.
  </li>
  <li>
    Support for new &AElig;-DIR object class <var>aeSSHAccount</var>.
  </li>
</ul>

<h1 id="r1.5.77">1.5.77</h1>
<p>Release Date: 2020-05-19</p>
<ul>
  <li>
    Fixed plugin base class for auto-generating unique POSIX Ids,
    e.g. <var>uidNumber</var> and <var>gidNumber</var>.
  </li>
  <li>
    Fixed str/bytes regression when redisplaying input form after catching
    <var>LDAPError</var> exception.
  </li>
</ul>

<h1 id="r1.5.76">1.5.76</h1>
<p>Release Date: 2020-05-10</p>
<ul>
  <li>
    Set HTML <code>http-equiv="refresh"</code> to exactly the value
    of <a href="web2ldapcnf.html#session_remove">web2ldapcnf.session_remove</a>.
  </li>
  <li>
    Registered appropriate plugin classes for root DSE attributes because
    those are not properly defined in subschema subentry of MS AD.
  </li>
  <li>
    Fixed plugin registration of MS AD attribute <var>domainControllerFunctionality</var>.
  </li>
</ul>

<h1 id="r1.5.75">1.5.75</h1>
<p>Release Date: 2020-05-06</p>
<ul>
  <li>
    Added syntax stub classes for schema description syntaxes
    used by attributes in subschema subentry
    (defined in <a href="https://tools.ietf.org/html/rfc4512">RFC 4512</a>).
  </li>
</ul>

<h1 id="r1.5.74">1.5.74</h1>
<p>Release Date: 2020-05-05</p>
<ul>
  <li>
    Fixed using host-/backend-specific parameter
    <a href="web2ldapcnf_hosts.html#timeout">timeout</a>.
  </li>
  <li>
    Fixed error handling during login search.
  </li>
  <li>
    More code-cleaning.
  </li>
</ul>

<h1 id="r1.5.73">1.5.73</h1>
<p>Release Date: 2020-05-05</p>
<ul>
  <li>
    In default config parameter <var>ldap0.OPT_X_TLS_CIPHER_SUITE</var>
    is no longer set to <var>HIGH</var> because this is not a valid
    cipher setting for <em>GNUTLS</em> used on Debian.
  </li>
  <li>
    Updated/fixed <var>docker/</var> stuff, added <var>Dockerfile</var>
    based on Debian stable.
  </li>
  <li>
    Added safety check when logging <var>LDAPSession</var> instance attributes.
  </li>
</ul>

<h1 id="r1.5.71">1.5.71</h1>
<p>Release Date: 2020-05-04</p>
<ul>
  <li>
    Fixed DNS SRV RR lookup for stricter str/bytes handling in Python 3.9.
  </li>
  <li>
    <a href="https://docs.python.org/3/reference/datamodel.html#slots">__slots__</a>
    are used for better performance and reduced memory footprint in
    <var>web2ldap.schema.syntaxes</var>.
  </li>
  <li>
    Replaced crude hack in <var>LDAPSyntax.display()</var> with simply
    returning <var>repr()</var> of attribute value.
    Anyway this will not happen often nowadays.
  </li>
  <li>
    Fixed re-login after own password change.
  </li>
  <li>
    Fixed str/bytes regression in plugin class for attributes storing
    seconds since epoch (e.g. Samba).
  </li>
  <li>
    Fixed str/bytes regression when displaying SASL authc infos in [ConnInfo].
  </li>
  <li>
    Fixed str/bytes regression when binding with SASL password mechanism.
  </li>
</ul>

<h1 id="r1.5.68">1.5.68</h1>
<p>Release Date: 2020-04-30</p>
<ul>
  <li>
    Fixed missing attribute name in <var>web2ldap.web.forms.Field.__slots__</var>.
  </li>
  <li>
    &AElig;-DIR plugin class for group <var>member</var> attribute
    now logs a warning if searching possible member entries failed.
  </li>
</ul>

<h1 id="r1.5.67">1.5.67</h1>
<p>Release Date: 2020-04-29</p>
<ul>
  <li>
    Added HTML attribute <var>autofocus</var> to input fields of username
    in login form templates.
  </li>
  <li>
    &AElig;-DIR plugin class for group <var>member</var> attribute
    now uses higher cache TTL when checking referenced group member entries.
    This should reduce load when editing groups with many members.
  </li>
  <li>
    Fixed str/bytes regression in &AElig;-DIR plugin class for
    group <var>member</var> attribute.
  </li>
  <li>
    Using <a href="https://docs.python.org/3/reference/datamodel.html#slots">__slots__</a>
    for better performance and reduced memory footprint:
    <ul>
      <li>
        Compability for upcoming <var>ldap0</var> release 1.0.3.
      </li>
      <li>Added <var>__slots__</var> to classes in <var>web2ldap.web.forms</var>.</li>
    </ul>
  </li>
</ul>

<h1 id="r1.5.66">1.5.66</h1>
<p>Release Date: 2020-04-27</p>
<ul>
  <li>
    Plugin class for LDAP syntax <var>Integer</var> now sets
    HTML5 attribute <var>type=number</var> for input fields.
  </li>
  <li>
    Fixed plugin class for attribute <var>dhcpRange</var>.
  </li>
</ul>

<h1 id="r1.5.65">1.5.65</h1>
<p>Release Date: 2020-04-26</p>
<ul>
  <li>
    Code cleaning.
  </li>
  <li>
    Fixed str/bytes regression when displaying
    DIT structure rule in schema viewer.
  </li>
  <li>
    Removed file <var>dumpasn1.cfg</var>.
  </li>
</ul>

<h1 id="r1.5.63">1.5.63</h1>
<p>Release Date: 2020-04-17</p>
<ul>
  <li>
    Module
    <a href="https://docs.python.org/3/library/secrets.html#module-secrets">secrets</a>
    used for generating random strings.
  </li>
  <li>
    Requires update of module package
    <a href="https://pypi.org/project/ldap0">ldap0</a> to 1.0.1 or later.
  </li>
</ul>

<h1 id="r1.5.62">1.5.62</h1>
<p>Release Date: 2020-04-14</p>
<ul>
  <li>
    Fixed displaying libc version during startup if available.
  </li>
  <li>
    Display result of
    <a href="https://docs.python.org/3/library/platform.html?highlight=uname#platform.uname">platform.uname()</a>
    during startup.
  </li>
</ul>

<h1 id="r1.5.61">1.5.61</h1>
<p>Release Date: 2020-04-11</p>
<ul>
  <li>
    Minor fixes in &AElig;-DIR plugin classes.
  </li>
</ul>

<h1 id="r1.5.60">1.5.60</h1>
<p>Release Date: 2020-04-08</p>
<ul>
  <li>
    Fixed <em>vCard</em> export.
  </li>
</ul>

<h1 id="r1.5.58">1.5.58</h1>
<p>Release Date: 2020-03-21</p>
<ul>
  <li>
    Fixed <var>ResourceWarning</var> on Python 3.8 by
    using the with-statement for
    <ul>
      <li>temporarily opened files</li>
      <li>built-in HTTP server when running stand-alone</li>
    </ul>
  </li>
</ul>

<h1 id="r1.5.57">1.5.57</h1>
<p>Release Date: 2020-03-14</p>
<ul>
  <li>
    Fixed str/bytes regression fix for plugin class for
    attribute <var>dhcpRange</var>.
  </li>
</ul>

<h1 id="r1.5.55">1.5.55</h1>
<p>Release Date: 2020-03-12</p>
<ul>
  <li>
    Added web2ldap.wsgi wrapper script, improved mod_wsgi sample config.
  </li>
</ul>

<h1 id="r1.5.54">1.5.54</h1>
<p>Release Date: 2020-03-11</p>
<ul>
  <li>
    Fixed compability issue with Python 3.8.
  </li>
</ul>

<h1 id="r1.5.53">1.5.53</h1>
<p>Release Date: 2020-02-17</p>
<ul>
  <li>
    Fixed regression in some plugin modules introduced in
    <a href="#r1.5.52">1.5.52</a>.
  </li>
</ul>

<h1 id="r1.5.52">1.5.52</h1>
<p>Release Date: 2020-02-16</p>
<ul>
  <li>
    Fixed some inconsistent str/bytes handling found when running Python
    interpreter with command-line option
    <a href="https://docs.python.org/3/using/cmdline.html#cmdoption-b">-bb</a>.
  </li>
  <li>
    Added file
    <a href="https://packaging.python.org/guides/using-manifest-in/">MANIFEST.in</a>
    for proper packaging of all files.
  </li>
</ul>

<h1 id="r1.5.51">1.5.51</h1>
<p>Release Date: 2020-02-11</p>
<ul>
  <li>
    Added
    <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity">
    Subresource Integrity</a> to CSS &lt;link&gt; tags
    (see <a href="https://www.w3.org/TR/SRI/">W3C recommendation</a> and
    <a href="https://caniuse.com/#feat=subresource-integrity">browser support</a>).
  </li>
</ul>

<h1 id="r1.5.50">1.5.50</h1>
<p>Release Date: 2020-02-01</p>
<ul>
  <li>
    New env vars <var>LOG_CONFIG</var> and <var>LOG_QUALNAME</var>
    for defining the logging configuration.
  </li>
</ul>

<h1 id="r1.5.49">1.5.49</h1>
<p>Release Date: 2020-01-25</p>
<ul>
  <li>
    Plugin method for <var>OctetString.sanitize()</var> does not raise
    <var>LDAPSyntaxValueError</var> anymore because it does not work well
    with later transmute of attribute values and error handling in the UI.
  </li>
  <li>
    [Up] link in main menu no longer displayed if current DN equals
    the current naming context.
  </li>
</ul>

<h1 id="r1.5.48">1.5.48</h1>
<p>Release Date: 2020-01-22</p>
<ul>
  <li>
    Fixed HTML templates for &AElig;-DIR object class
    <var>aeDept</var> which fixes a <var>KeyError</var>
    exception raised.
  </li>
</ul>

<h1 id="r1.5.47">1.5.47</h1>
<p>Release Date: 2020-01-18</p>
<ul>
  <li>
    Abort handling request in case of invalid session to avoid
    <var>AttributeError</var> exceptions logged.
  </li>
</ul>

<h1 id="r1.5.46">1.5.46</h1>
<p>Release Date: 2020-01-14</p>
<ul>
  <li>
    Improved support for <var>aePerson</var> and <var>aeUser</var> entries
    with status "registered" <code>(aeStatus=-1)</code>.
  </li>
</ul>

<h1 id="r1.5.45">1.5.45</h1>
<p>Release Date: 2020-01-03</p>
<ul>
  <li>
    Corrections/updates in documentation.
  </li>
  <li>
    Implemented
    <a href="https://github.com/prometheus/client_python#custom-collectors">custom collector</a>
    to generate metrics, metric names changed.
  </li>
</ul>

<h1 id="r1.5.40">1.5.40</h1>
<p>Release Date: 2019-12-30</p>
<ul>
  <li>
    Support system-wide installation in <var>/usr/local</var>.
  </li>
</ul>

<h1 id="r1.5.39">1.5.39</h1>
<p>Release Date: 2019-12-28</p>
<ul>
  <li>
    Fixed generating <var>uniqueIdentifier</var> values
    in <var>aePerson</var> entries.
  </li>
  <li>
    Fixed str/bytes regression in &AElig;-DIR plugin classes for attributes.
    <var>gidNumber</var>, <var>host</var> and <var>sudoHost</var>.
  </li>
</ul>

<h1 id="r1.5.38">1.5.38</h1>
<p>Release Date: 2019-12-27</p>
<ul>
  <li>
    Fixed generating printable output of search results.
  </li>
</ul>

<h1 id="r1.5.37">1.5.37</h1>
<p>Release Date: 2019-12-23</p>
<ul>
  <li>
    Fixed list/iterator regression in plugin class for attribute
    <var>mail</var> in <var>aePerson</var> entries.
  </li>
  <li>
    Restructured example configuration module
    <var>web2ldapcnf.hosts</var>.
  </li>
</ul>

<h1 id="r1.5.36">1.5.36</h1>
<p>Release Date: 2019-12-22</p>
<ul>
  <li>
    The current DN is written to exception log message.
  </li>
  <li>
    Fixed str/bytes regression in plugin class for <var>macAddress</var>.
  </li>
  <li>
    Improved template strings for attribute <var>description</var>
    in <var>aeNwDevice</var> entries.
  </li>
</ul>

<h1 id="r1.5.35">1.5.35</h1>
<p>Release Date: 2019-12-21</p>
<ul>
  <li>
    Fixed regression when checking for non-interactive SASL mechs during
    anonymous bind.
  </li>
  <li>
    Fixed str/bytes regressions in &AElig;-DIR plugin class for
    <var>rfc822MailMember</var>.
  </li>
</ul>

<h1 id="r1.5.33">1.5.33</h1>
<p>Release Date: 2019-12-20</p>
<ul>
  <li>
    Remove attribute <var>allowedAttributesEffective</var> from
    editable entry only if present. Fixes editing entries in
    MS AD schema container.
  </li>
  <li>
    SASL option <var>OPT_X_SASL_USERNAME</var> is displayed in
    connection info if available.
  </li>
  <li>
    Fixed str/bytes regression when checking for non-interactive SASL mechs
    which also fixes determining the DN of the bound entity when using
    SASL/GSSAPI with MS AD.
  </li>
</ul>

<h1 id="r1.5.32">1.5.32</h1>
<p>Release Date: 2019-12-20</p>
<ul>
  <li>
    Gracefully handle non-existent <var>namingContexts</var> values
    when determining best-matching naming context for current DN.
  </li>
  <li>
    Requires module
    <a href="https://pypi.org/project/ldap0">ldap0 >= 0.6.6</a>.
  </li>
  <li>
    Gracefully handle error in &AElig;-DIR plugin module when reading
    a non-readable <var>aeZone</var> entry.
  </li>
  <li>
    Fixed regression in CSV export for empty values.
  </li>
</ul>

<h1 id="r1.5.29">1.5.29</h1>
<p>Release Date: 2019-12-17</p>
<ul>
  <li>
    Avoid use of deprecated function removed in Python 3.8
    when generating base64-encoded password hashes.
  </li>
  <li>
    Fixed str/bytes regression when automatically adding object class
    <var>simpleSecurityObject</var> to entry.
  </li>
</ul>

<h1 id="r1.5.28">1.5.28</h1>
<p>Release Date: 2019-12-16</p>
<ul>
  <li>
    Fixed str/bytes regression when setting new password in MS AD
    in attribute <var>unicodePwd</var>.
  </li>
  <li>
    Fixed bytes/int regression in plugin class for <var>logonHours</var>.
  </li>
  <li>
    Fixed plugin class for <var>homeDirectory</var> when auto-generating
    the attribute value.
  </li>
  <li>
    Fixed str/bytes regression when deleting a single (binary) attribute.
  </li>
</ul>

<h1 id="r1.5.26">1.5.26</h1>
<p>Release Date: 2019-12-15</p>
<ul>
  <li>
    Fixed a regression when running with
    <a href="web2ldapcnf.html#session_paranoid">web2ldapcnf.session_paranoid</a>
    to non-zero value for regenerating session IDs.
  </li>
  <li>
    Corrections/updates in documentation.
  </li>
</ul>

<h1 id="r1.5.25">1.5.25</h1>
<p>Release Date: 2019-12-14</p>
<ul>
  <li>
    Adding debug logging when deleting entries.
  </li>
  <li>
    Removed context menu when displaying input form for modifying an entry
    because users were confused by [Modify] link in the context menu.
  </li>
  <li>
    Removed context menu when displaying input forms for deleting and
    renaming an entry.
  </li>
</ul>

<h1 id="r1.5.24">1.5.24</h1>
<p>Release Date: 2019-12-10</p>
<ul>
  <li>
    Fixed regression in &AElig;-DIR plugin class for <var>aeNotAfter</var>.
  </li>
</ul>

<h1 id="r1.5.23">1.5.23</h1>
<p>Release Date: 2019-12-08</p>
<ul>
  <li>
    Fixed regression in plugin class for <var>associatedDomain</var>.
  </li>
  <li>
    Fixed str/bytes regression when switching to object class select form
    during editing a new entry to be added.
  </li>
  <li>
    Removed displaying the kind of an object class for attribute
    <var>structuralObjectClass</var>.
  </li>
  <li>
    Small change to how the kind of an object class is displayed along
    with the object class attribute value.
  </li>
  <li>
    Grouped attributes related to SSH and passwords in HTML templates for &AElig;-DIR.
  </li>
</ul>

<h1 id="r1.5.22">1.5.22</h1>
<p>Release Date: 2019-12-07</p>
<ul>
  <li>
    Fixed str/bytes regressions in &AElig;-DIR plugin module.
  </li>
  <li>
    Removed obsolete class <var>AEPerson2</var> from &AElig;-DIR plugin module.
  </li>
</ul>

<h1 id="r1.5.21">1.5.21</h1>
<p>Release Date: 2019-12-05</p>
<ul>
  <li>
    Avoid adding form parameter <var>dn</var> two times when generating
    links for displaying complete attribute value sets.
  </li>
  <li>
    Fixed str/bytes regression in MS AD plugin class for LDAP syntax
    <a href="https://tools.ietf.org/html/draft-armijo-ldap-syntax-00#section-4">DNWithOctetString</a>.
  </li>
</ul>

<h1 id="r1.5.20">1.5.20</h1>
<p>Release Date: 2019-12-04</p>
<ul>
  <li>
    Fixed str/bytes regression in MS AD plugin classes.
  </li>
  <li>
    Fixed str/bytes regression when writing hidden input fields to output.
  </li>
</ul>

<h1 id="r1.5.19">1.5.19</h1>
<p>Release Date: 2019-12-02</p>
<ul>
  <li>
    Fixed handling of env var <var>LOG_LEVEL</var> to also properly
    handle mix-/lower-cased values.
  </li>
  <li>
    Fix for Python 3.8: Avoid using deprecated <var>Thread</var> method.
  </li>
  <li>
    Fixed binding with a bind-DN of an entry which cannot be read after bind.
  </li>
  <li>
    Added new options to select plugin class for OpenDJ-specific attributes
    <var>ds-privilege-name</var> and friends.
  </li>
  <li>
    Fixed str/bytes regression in plugin class for <var>memberUrl</var>.
  </li>
  <li>
    Fixed str/bytes regression when displaying LDAP URL anchor.
  </li>
</ul>

<h1 id="r1.5.18">1.5.18</h1>
<p>Release Date: 2019-11-29</p>
<ul>
  <li>
    Fixed regressions in &AElig;-DIR plugin module.
  </li>
  <li>
    Fixed regression with empty query string.
  </li>
  <li>
    Fixed <var>str/bytes</var> regressions when locating servers via DNS.
  </li>
</ul>

<h1 id="r1.5.17">1.5.17</h1>
<p>Release Date: 2019-11-26</p>
<ul>
  <li>
    Fixes for Python 3.8+.
  </li>
</ul>

<h1 id="r1.5.16">1.5.16</h1>
<p>Release Date: 2019-11-26</p>
<ul>
  <li>
    Added new global configuration option
    <a href="web2ldapcnf.html#log_error_details">web2ldapcnf.log_error_details</a>.
  </li>
</ul>

<h1 id="r1.5.15">1.5.15</h1>
<p>Release Date: 2019-11-25</p>
<ul>
  <li>
    Fixed many misspellings found by
    <a href="https://fossies.org/features.html#codespell">fossies.org codespell</a>.
  </li>
</ul>

<h1 id="r1.5.12">1.5.12</h1>
<p>Release Date: 2019-11-25</p>
<ul>
  <li>
    Exception counters now have full-qualified module/class name as key.
  </li>
  <li>
    Added Exception counters to metrics.
  </li>
</ul>

<h1 id="r1.5.11">1.5.11</h1>
<p>Release Date: 2019-11-24</p>
<ul>
  <li>
    Fixed <var>str/bytes</var> regression in plugin class for <var>dhcpHWAddress</var>.
  </li>
  <li>
    Added monitoring features:
    <ul>
      <li>
        Added counters for exception types of all unhandled exceptions.
      </li>
      <li>
        Added counters for command URLs.
      </li>
      <li>
        Added metrics endpoint automatically available if module package
        <a href="https://github.com/prometheus/client_python">prometheus_client</a>
        is installed.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.5.8">1.5.8</h1>
<p>Release Date: 2019-11-20</p>
<ul>
  <li>
    Fixed <var>str/bytes</var> regressions in &AElig;-DIR plugin module.
  </li>
</ul>

<h1 id="r1.5.7">1.5.7</h1>
<p>Release Date: 2019-11-18</p>
<ul>
  <li>
    More <var>Content-Security-Policy</var> header options set to
    <var>none</var> in default config.
  </li>
  <li>
    Fixed <var>str/bytes</var> regressions in &AElig;-DIR plugin module.
  </li>
</ul>

<h1 id="r1.5.5">1.5.5</h1>
<p>Release Date: 2019-11-09</p>
<ul>
  <li>
    Cookies now have <a href="https://www.owasp.org/index.php/SameSite">SameSite=Strict</a> set.
  </li>
  <li>
    Fixed regression with setting value-less cookie flags <var>httpOnly</var> and <var>secure</var>.
  </li>
</ul>

<h1 id="r1.5.4">1.5.4</h1>
<p>Release Date: 2019-11-07</p>
<ul>
  <li>
    More code cleaning.
  </li>
  <li>
    Added support for upcoming &AElig;-DIR attribute <var>aeChildClasses</var>.
  </li>
  <li>
    Fixed regressions when changing password attributes with a modify operation.
  </li>
</ul>

<h1 id="r1.5.3">1.5.3</h1>
<p>Release Date: 2019-10-08</p>
<ul>
  <li>
    During CSV export special attribute values are
    prepended with a single quote to hamper
    <a href="https://www.owasp.org/index.php/CSV_Injection">CSV injection attacks</a>.
  </li>
  <li>
    More code cleaning.
  </li>
</ul>

<h1 id="r1.5.2">1.5.2</h1>
<p>Release Date: 2019-10-01</p>
<ul>
  <li>
    Fixed using console entry point in virtual environment.
  </li>
  <li>
    Fixed <code>--python-tag</code> for wheel files.
  </li>
</ul>

<h1 id="r1.5.0">1.5.0</h1>
<p>Release Date: 2019-10-01</p>
<p>
  Due to massive code changes there might be regression bugs especially in rarely used plugin classes.
  Please send bug reports preferably with exception tracebacks to
  <a href="mailto:feedback@web2ldap.de?SUBJECT=[web2ldap]%20Bug%20report">feedback@web2ldap.de</a>.
</p>

<h2>Installation and configuration changes</h2>
<ul>
  <li>
    Requires Python 3.6 or newer.
  </li>
  <li>
    Requires update of module
    <a href="https://pypi.org/project/ldap0">ldap0</a>.
  </li>
</ul>

<h2>New features/enhancements</h2>
<p>None.</p>

<h2>Fixes</h2>
<ul>
  <li>
    Replaced some dangerous mutable values used as class attributes.
  </li>
  <li>
    Many small fixes along code-cleaning, especially bytes/str stuff.
  </li>
</ul>

<h2>Dropped features</h2>
<ul>
  <li>
    Removed some features which require complete new implementation:
    <ul>
      <li>certificate/CRL displayer</li>
      <li>pretty-printing of arbitrary BER data</li>
    </ul>
  </li>
</ul>

<!--#include file="ssi/footer.html" -->
