<!--#set var="web2ldap_subtitle" value="Changes" -->
<!--#set var="web2ldap_pagedescription" value="Overview of released versions" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  This list highlights significant improvements of former releases.
  Details of fixes and enhancements can viewed in detailed lists.
</p>

<p>
  Version numbering follows the
  <a href="https://semver.org/">semantic versioning</a> model.
</p>

<table>

  <tr>
    <td><a href="changes-1.5.html">1.5.x</a><td>
    <td>
      Runs on Python 3.6+ or newer. Added more monitoring/metrics features and improved logging.
    </td>
  </tr>

  <tr>
    <td><a href="changes-1.4.html">1.4.x</a><td>
    <td>
      Heavy code-cleaning, internal API changes, new login mapper configuration,
      dropped obsolete and unused features.
    </td>
  </tr>

  <tr>
    <td><a href="changes-1.3.html">1.3.x</a><td>
    <td>
      PIP-based installation, transition to new modules and
      working on other technical debts.
    </td>
  </tr>

  <tr>
    <td><a href="changes-1.2.html">1.2.x</a><td>
    <td>
      Partial rewrite, the plugin API has been extended and more plugin classes
      were added. Also added bulk operations and DIT browser.
    </td>
  </tr>

  <tr>
    <td><a href="changes-1.1.html">1.1.x</a><td>
    <td>
      Support for more complex LDAPv3 controls, more consequent Unicode support,
      much code cleaning, many additions/improvements for plug-in classes/modules
      and templates. Dropped LDAPv2 support.
    </td>
  </tr>

  <tr>
    <td><a href="changes-1.0.html">1.0.x</a><td>
    <td>
      Full support for DIT structure rules and name forms, various enhancements
      to user interface, many additions/improvements for plug-in classes/modules.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.16.html">0.16.x</a><td>
    <td>
      Support for various LDAPv3 extended controls, major overhaul
      of user interface, especially more plug-in classes for various
      custom schemas, added support for name forms.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.15.html">0.15.x</a><td>
    <td>
      Plugin architecture for syntaxes and attribute types.
      Some improvements to user interface.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.14.html">0.14.x</a><td>
    <td>
      LDIF templates for new entries, support for DIT content rules.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.13.html">0.13.x</a><td>
    <td>
      Support for SASL bind.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.12.html">0.12.x</a><td>
    <td>
      File upload of binary attributes, support for DIT content rules.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.11.html">0.11.x</a><td>
    <td>
       Full LDAPv3 schema handling and built-in schema browser,
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.10.html">0.10.x</a><td>
    <td>
      Many enhancements and fixes.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.9.html">0.9.x</a><td>
    <td>
      Web session management with persistent LDAP connections.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.8.html">0.8.x</a><td>
    <td>
      Displays X.509 certificates and CRLs,
      introduced direct use of LDAP URLs.
    </td>
  </tr>

  <tr>
    <td><a href="changes-0.7.html">0.7.x</a><td>
    <td>
      Faster handling of HTTP requests, new configuration scheme.
    </td>
  </tr>

  <tr>
    <td><a href="changes-ancient.html">Ancient</a><td>
    <td>
      I don't remember the highlights for these old versions.
    </td>
  </tr>

</table>

<!--#include file="ssi/footer.html" -->
