<!--#set var="web2ldap_subtitle" value="Changes 1.4.x" -->
<!--#set var="web2ldap_pagedescription" value="History of released versions" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<!--#include file="ssi/changes_navigation.html" -->

<h1 id="r1.4.19">1.4.19</h1>
<p>Release Date: 2019-10-22</p>
<ul>
  <li>
    Fixed plugin registration for <var>aeChildClasses</var>.
  </li>
</ul>

<h1 id="r1.4.18">1.4.18</h1>
<p>Release Date: 2019-10-22</p>
<ul>
  <li>
    <ul>
      Updated code causing <var>SyntaxError</var> with Python 3:
      <li>
        Avoid using type <code>long</code>.
      </li>
      <li>
        Replaced ancient syntax when raising exceptions.
      </li>
      <li>
        Renamed module <var>web2ldap.ldaputil.async</var> to
        <var>web2ldap.ldaputil.asynch</var>.
      </li>
      <li>
        Avoid string literals starting like <code>ur''</code>.
      </li>
      <li>
        Removed unused code.
      </li>
    </ul>
  </li>
  <li>
    Added support for upcoming &AElig;-DIR attribute <var>aeChildClasses</var>.
  </li>
</ul>

<h1 id="r1.4.17">1.4.17</h1>
<p>Release Date: 2019-08-25</p>
<ul>
  <li>
    Fixed lots of typos (thanks to Klemens).
  </li>
  <li>
    Pinned to use
    <a href="https://pypi.org/project/ldap0/0.2.7/">ldap0 0.2.7</a>.
  </li>
  <li>
    More code-cleaning.
  </li>
</ul>

<h1 id="r1.4.16">1.4.16</h1>
<p>Release Date: 2019-07-15</p>
<ul>
  <li>
    Changed path names for trusted CA certs in default configuration.
  </li>
  <li>
    Dropped dependency on certifi module.
  </li>
</ul>

<h1 id="r1.4.15">1.4.15</h1>
<p>Release Date: 2019-07-13</p>
<ul>
  <li>
    Simplified syntax checking in &AElig;-DIR plugin class
    for attribute <var>memberUid</var>.
  </li>
  <li>
    New plugin class <var>DerefDynamicDNSelectList</var> is meant as drop-in
    replacement for <var>DynamicDNSelectList</var> which improves caching
    behaviour with multi-valued attributes. This requires the LDAP server
    to support the
    <a href="https://tools.ietf.org/html/draft-masarati-ldap-deref">Dereference Control</a>.
  </li>
  <li>
    Various &AElig;-DIR plugin classes now use new base class
    <var>DerefDynamicDNSelectList</var>.
  </li>
</ul>

<h1 id="r1.4.14">1.4.14</h1>
<p>Release Date: 2019-07-09</p>
<ul>
  <li>
    &AElig;-DIR plugin classes for attributes <var>member</var>,
    <var>memberUid</var> and <var>rfc822MailMember</var> now empties
    attribute value list in case <var>aeStatus</var> is set to archived (2).
  </li>
</ul>

<h1 id="r1.4.13">1.4.13</h1>
<p>Release Date: 2019-06-26</p>
<ul>
  <li>
    Some more code-cleaning.
  </li>
  <li>
    Fixed plugin class <var>DHCPConfigStatement</var> to generate correct
    links for searching <var>dNSZone</var> entries.
  </li>
  <li>
    A new consolidated function to determine remote hostname or address
    avoids to accept an empty string.
  </li>
  <li>
    Removed wrong <var>Type=</var> lines from example systemd units.
  </li>
</ul>

<h1 id="r1.4.12">1.4.12</h1>
<p>Release Date: 2019-06-02</p>
<ul>
  <li>
    Fixed regression when displaying login form after failed SASL/GSSAPI bind.
  </li>
  <li>
    Code changes after scanning with <a href="https://pypi.org/project/bandit/">bandit</a>:
    <ul>
      <li>
        Removed non-functional use of <var>pickle</var> module.
      </li>
      <li>
        Module <a href="https://pypi.org/project/defusedxml/">defusedxml</a> is
        now optionally used for parsing XML attribute values to avoid various
        <a href="https://pypi.org/project/defusedxml/#attack-vectors">attack vectors</a>.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.4.11">1.4.11</h1>
<p>Release Date: 2019-05-22</p>
<ul>
  <li>
    Fixed plugin class for <var>aRecord</var> to generate correct filter
    string for searching PTR RRs.
  </li>
</ul>

<h1 id="r1.4.10">1.4.10</h1>
<p>Release Date: 2019-03-25</p>
<ul>
  <li>
    Fixed setting env var <var>LDAPNOINIT=1</var> early enough by
    later import of sub-module.
  </li>
</ul>

<h1 id="r1.4.9">1.4.9</h1>
<p>Release Date: 2019-03-20</p>
<ul>
  <li>
    Added support for new &AElig;-DIR attribute <var>aeRequires</var> in
    <a href="https://ae-dir.com/docs.html#schema-oc-aeSrvGroup-attributes">aeSrvGroup</a>
    entries.
  </li>
</ul>

<h1 id="r1.4.8">1.4.8</h1>
<p>Release Date: 2019-02-22</p>
<ul>
  <li>
    Correctly display a form field for attribute <var>memberUid</var> in
    case no LDAP URL is set in plugin class attribute for searching members.
  </li>
</ul>

<h1 id="r1.4.7">1.4.7</h1>
<p>Release Date: 2019-02-16</p>
<ul>
  <li>
    Correctly ignore empty DNS SRV RR when handling
    <var>ldap0.NO_SUCH_OBJECT</var> for dc-style DNs.
  </li>
</ul>

<h1 id="r1.4.6">1.4.6</h1>
<p>Release Date: 2019-02-14</p>
<ul>
  <li>
    Fixed regression when displaying input form when for chasing referrals.
  </li>
  <li>
    Added some simple LDIF templates for MS AD.
  </li>
</ul>

<h1 id="r1.4.5">1.4.5</h1>
<p>Release Date: 2019-02-13</p>
<ul>
  <li>
    Regression fix for AD-specific plugin class for <var>objectSID</var>.
  </li>
  <li>
    Now multiple values are accepted for form parameter <var>read_expandattr</var>.
    So the user can manually choose which attributes are displayed with expanded value lists.
  </li>
</ul>

<h1 id="r1.4.4">1.4.4</h1>
<p>Release Date: 2019-02-11</p>
<ul>
  <li>
    Fixed superfluous session creation.
  </li>
  <li>
    More CSS tuning for varying display size based on CSS media queries.
  </li>
  <li>
    Submit button in add/modify input form has now text [Save] especially
    to distinguish it from [Modify] in context menu.
  </li>
  <li>
    Some classes now use base class <var>LogHelper</var> for output of
    class-/instance-specific log prefix.
  </li>
</ul>

<h1 id="r1.4.3">1.4.3</h1>
<p>Release Date: 2019-02-06</p>
<ul>
  <li>
    More small UI changes and CSS tuning.
  </li>
  <li>
    Display the parent DN in LDIF template select screen if no matching
    template was found for parent's object classes.
  </li>
</ul>

<h1 id="r1.4.2">1.4.2</h1>
<p>Release Date: 2019-01-31</p>
<ul>
  <li>
    CSS tuning to make user interface look more breezy, save horizontal
    space and more elastic rendering depending on current window width.
  </li>
  <li>
    Dropped displaying operational attributes with extra HTML template
    because it looked very confusing and could not be improved.
    You have to remove host-/site-specific the obsolete parameter
    <var>read_operationalattrstemplate</var> from your config module
    <var>web2ldapcnf.hosts</var>.
  </li>
  <li>
    Stripped down basic search form for &AElig;-DIR.
  </li>
  <li>
    Stripped displayed attributes from
    <a href="web2ldapcnf_hosts.html#inputform_supentrytemplate">inputform_supentrytemplate</a>
    for &AElig;-DIR because the multiple lines were confusing.
  </li>
  <li>
    Fixed assertion raised because of missing encoding step
    in plugin class for <var>aeNwDevice</var>.
  </li>
</ul>

<h1 id="r1.4.1">1.4.1</h1>
<p>Release Date: 2019-01-28</p>
<ul>
  <li>
    Fixed plugin class <var>Integer</var> not to use hard-coded regex
    pattern when creating input field.
  </li>
  <li>
    Fixed plugin class for &AElig;-DIR attribute <var>aeStatus</var>
    to gracefully handle empty value string in attribute
    <var>aeNotBefore</var>.
  </li>
</ul>

<h1 id="r1.4.0">1.4.0</h1>
<p>Release Date: 2019-01-27</p>

<h2>Installation and configuration changes</h2>
<ul>
  <li>
    <a href="web2ldapcnf_hosts.html">Site-specific configuration</a> is
    now checked during startup for valid option names and their type.
    So you have to clean up your old configuration not to contain any
    obsolete parameter.
  </li>
  <li>
    Mandates update of module
    <a href="https://pypi.org/project/ldap0">ldap0</a>.
  </li>
  <li>
    Dropped external dependency on separate module package
    <var>pyweblib</var> because it is now partially shipped as internal
    package <var>web2ldap.web</var>.
  </li>
  <li>
    Configuration parameter
    <a href="web2ldapcnf_hosts.html#ldap_uri_list">web2ldapcnf.hosts.ldap_uri_list</a>
    now must contain list of 2-tuples of Unicode strings.
  </li>
  <li>
    Because of internal API changes custom plugins have to be changed.
  </li>
  <li>
    Some renaming in CSS identifiers to save network bandwidth when
    displaying many search results. Thus custom CSS files must be updated.
  </li>
</ul>

<h2>New features/enhancements</h2>
<ul>
  <li>
    <var>Web2LDAPConfig</var> instances defined and <var>web2ldapcnf.hosts</var>
    now have a method <code>.clone()</code> which gives even more flexibility
    for defining configuration items.
  </li>
  <li>
    New site-specific configuration parameter
    <a href="web2ldapcnf_hosts.html#binddn_mapping">binddn_mapping</a>
    is used for specifying bind DN mappings with an LDAP URL.
    Especially it allows statically derived bind DNs without LDAP search.
  </li>
  <li>
    [ConnInfo] shows max. 30 of the last search bases used before.
  </li>
  <li>
    Bulk-copying entries is now more efficient.
  </li>
  <li>
    All DN information is now always request-specific (formerly session-specific).
    This improves user experience when navigating in multiple browser tabs.
  </li>
  <li>
    HTML5 attribute
    <a href="https://caniuse.com/#feat=input-pattern">pattern</a>
    is set for &lt;input&gt; tags in case the plugin class has
    class attribute <var>input_pattern</var>.
  </li>
  <li>
    Heavy code-cleaning including fixing of various minor bugs:
    <ul>
      <li>
        pylint score (default config) is now <var>8.16</var> which is a
        huge gain in code quality especially compared to <var>-16.33</var>
        of last release <a href="changes-1.3.html#r1.3.38">1.3.38</a>
      </li>
      <li>
        Compliance to <a href="https://www.python.org/dev/peps/pep-0008/">PEP-8</a>
      </li>
      <li>
        Changed some optional imports to mandatory dependencies
      </li>
      <li>
        Handling the password policy response controls
        (see <a href="https://tools.ietf.org/html/draft-behera-ldap-password-policy">draft-behera-ldap-password-policy</a>)
        is now done within module package <var>ldap0</var>.
      </li>
      <li>
        Class <var>ldap0.schema.models.SchemaElementOIDSet</var> used
        wherever possible.
      </li>
    </ul>
  </li>
  <li>
    Module <a href="https://docs.python.org/2/library/logging.html">logging</a>
    used instead of <var>sys.stderr.write()</var> for writing log messages.
    <ul>
      <li>Improved exception logging.</li>
      <li>Debug logging of form class registrations.</li>
      <li>Debug logs and warnings during plugin registrations.</li>
      <li>Debug logging of session handling.</li>
      <li>System environment, Python interpreter, etc.</li>
    </ul>
  </li>
</ul>
</dd>

<h2>Fixes</h2>
<ul>
  <li>
    Tree viewer now correctly uses configuration parameters
    <a href="web2ldapcnf_hosts.html#dit_max_levels">dit_*</a>.
  </li>
  <li>
    Removed some dangerous mutable default values used
    for key-word arguments.
  </li>
  <li>
    Many small fixes along code-cleaning which are not worth to be
    mentioned separately.
  </li>
</ul>

<h2>Dropped features</h2>
<ul>
  <li>
    Dropped support for running on Windows.
  </li>
  <li>
    Removed the separate <kbd>web2ldap-checkinst</kbd> console script.
    Module requirements checking is now done via pip installation
    anyway and some installation information is logged during startup.
  </li>
  <li>
    Removed configuration parameter <var>web2ldapcnf.sec_sslacceptedciphers</var>.
  </li>
  <li>
    Removed site-specific configuration parameter
    <var>search_tablistattrs</var> because the generic parameter
    <a href="web2ldapcnf_hosts.html#search_tdtemplate">search_tdtemplate</a>
    is much more useful anyway.
  </li>
  <li>
    Replaced site-specific configuration parameter
    <var>binddnsearch</var> by more flexible parameter
    <a href="web2ldapcnf_hosts.html#binddn_mapping">binddn_mapping</a>.
  </li>
  <li>
    Hunked out non-functional code for handling
    &quot;Authorization Identity Request and Response Controls&quot;
    (see <a href="https://tools.ietf.org/html/rfc3829">RFC 3829</a>).
  </li>
  <li>
    Dropped login form parameter <var>login_filterstr</var>.
    The user can search for an entry and use link [Bind as]
    from the context menu.
  </li>
  <li>
    Removed obsolete X.509 certificate extension parser classes:
    <ul>
      <li>web2ldap.mspki.vendorext.VerisignCZAG</li>
      <li>web2ldap.mspki.nsext</li>
    </ul>
  </li>
  <li>
    Removed the tool tips from [Read] link of displayed search results
    because tool tips in general are not helpful for better UX.
    Better performance, less network traffic is much more important.
  </li>
  <li>
    For now all german HTML templates (files
    <code>etc/web2ldap/templates/*.html.de</code>)
    and select list properties (files
    <code>etc/web2ldap/properties/*.properties.de</code>)
    were removed because a language mix does not look nice
    to beginners.
  </li>
</ul>

<!--#include file="ssi/footer.html" -->
