<!--#set var="web2ldap_subtitle" value="Changes 1.2.x" -->
<!--#set var="web2ldap_pagedescription" value="History of released versions" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<!--#include file="ssi/changes_navigation.html" -->

<h1 id="r1.2.101">1.2.101</h1>
<p>Release Date: 2018-02-09</p>
<ul>
  <li>
    Added more key types to regex pattern for checking
    <var>sshPublicKey</var> attribute values.
  </li>
  <li>
    Updated plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.100">1.2.100</h1>
<p>Release Date: 2017-12-29</p>
<ul>
  <li>
    New plugin class for handling
    <a href="https://tools.ietf.org/html/rfc8259">JSON</a>
    attribute values.
  </li>
  <li>
    Added more plugin classes for
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a> attributes:
    <ul>
      <li>oathOTPLength</li>
      <li>oathEncKey (JWK)</li>
      <li>oathTokenPIN (JWE)</li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.99">1.2.99</h1>
<p>Release Date: 2017-12-17</p>
<ul>
  <li>
    <strong>Security fix for stand-alone mode:</strong>
    Do not send error response with body including untrusted input.
  </li>
  <li>
    Code cleaning:
    <ul>
      <li>
        Absolute imports used everywhere
        (see <a href="https://www.python.org/dev/peps/pep-0328/">PEP 328</a>).
      </li>
      <li>
        Fixed minor bugs found by <em>pylint</em>.
      </li>
      <li>
        Moved HTTP handler class for stand-alone mode to module
        <var>w2lapp.handler</var>.
      </li>
      <li>
        Removed dead code, unused imports and unused variables found with
        <em>pylint</em>.
      </li>
      <li>
        Removed backward compatibility kludge for module <var>ipaddr</var>
        because it is unmaintained for years.
      </li>
    </ul>
  </li>
  <li>
    Updated plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.98">1.2.98</h1>
<p>Release Date: 2017-11-20</p>
<ul>
  <li>
    Disabled plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>
    in default configuration because it requires a fairly recent
    release version of <a href="https://python-ldap.org">python-ldap</a>
    not available on some platforms.
  </li>
  <li>
    Avoid using internal variables of
    <a href="https://python-ldap.org">python-ldap</a>
    which are subject to change in python-ldap release 2.5.2+.
  </li>
</ul>

<h1 id="r1.2.97">1.2.97</h1>
<p>Release Date: 2017-11-12</p>
<ul>
  <li>
    Dropped support for DSMLv1 export because
    <a href="https://python-ldap.org/">python-ldap 2.5.x</a>
    will not contain module <var>dsml</var> anymore.
  </li>
</ul>

<h1 id="r1.2.96">1.2.96</h1>
<p>Release Date: 2017-11-11</p>
<ul>
  <li>
    Updated plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>
    to support new attribute <var>aeExpiryStatus</var>.
  </li>
  <li>
    Updated HTML templates for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
  <li>
    <var>#</var> for increment was added to known modification types
    in plugin class for attribute <var>reqMod</var>.
  </li>
  <li>
    Fixed missing UTF-8 encoding step in plugin class <var>AutogenNumber</var>
    (which auto-generates <var>uidNumber</var> and <var>gidNumber</var> values).
  </li>
</ul>

<h1 id="r1.2.95">1.2.95</h1>
<p>Release Date: 2017-09-21</p>
<ul>
  <li>
    Allow max. length 300 chars in input field of attribute <var>reqMod</var>
    in basic search form.
  </li>
  <li>
    Added HTML templates for
    <a href="https://tools.ietf.org/html/draft-stroeder-mailboxrelatedobject">mailboxRelatedObject</a>.
  </li>
</ul>

<h1 id="r1.2.94">1.2.94</h1>
<p>Release Date: 2017-09-10</p>
<ul>
  <li>
    Plugin class for bit array integer values (e.g. <var>userAccountControl</var>)
    now also directly accepts Integer values input.
  </li>
  <li>
    Fixed attribute value check regression in plugin class
    for <var>sshPublicKey</var>.
  </li>
</ul>

<h1 id="r1.2.93">1.2.93</h1>
<p>Release Date: 2017-08-08</p>
<ul>
  <li>
    Changes in plugin class for <var>sshPublicKey</var>:
    <ul>
      <li>
        Fingerprints now exactly match <em>ssh-keygen</em> output.
      </li>
      <li>
        SHA-512 fingerprint is displayed.
      </li>
      <li>
        If <a href="https://pypi.org/project/paramiko">paramiko</a> is
        installed the key size is checked against minimum key size
        specified in dict <var>ParamikoSshPublicKey.min_key_size</var>.
      </li>
      <li>
        Relaxed regex pattern to accept empty key comment.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.92">1.2.92</h1>
<p>Release Date: 2017-07-20</p>
<ul>
  <li>
    Fixed too strict assert statement when using Password Modify ext.op.
  </li>
</ul>

<h1 id="r1.2.91">1.2.91</h1>
<p>Release Date: 2017-07-13</p>
<ul>
  <li>
    Fixed caching regressions.
  </li>
  <li>
    Fixed wrong usage of <var>unicode</var> and <var>str</var> arguments
    in <a href="https://ae-dir.com">&AElig;-DIR</a> plugin module.
  </li>
</ul>

<h1 id="r1.2.90">1.2.90</h1>
<p>Release Date: 2017-07-11</p>
<ul>
  <li>
    Implemented caching response controls with encoded request control
    strings in cache key args.
  </li>
  <li>
    Use new API args for response controls caching in
    <a href="https://ae-dir.com">&AElig;-DIR</a> plugin class for
    <var>member</var> attribute.
  </li>
</ul>

<h1 id="r1.2.89">1.2.89</h1>
<p>Release Date: 2017-06-28</p>
<ul>
  <li>
    Removed obsolete <var>summary</var> attribute from &lt;table&gt; tags
    in all HTML templates.
  </li>
  <li>
    Aligned <a href="https://ae-dir.com">&AElig;-DIR</a> HTML templates
    and plugin module with upstream.
  </li>
  <li>
    User input for form parameter <var>search_attrs</var> is now sanitized
    to also accept space chars as separator.
  </li>
  <li>
    Removed code for certificate/CRL text dump viewer based on <var>M2Crypto</var>.
  </li>
  <li>
    Fixed displaying invalid and non-Unicode <var>reqMod</var> values
    (like a single colon).
  </li>
</ul>

<h1 id="r1.2.88">1.2.88</h1>
<p>Release Date: 2017-05-15</p>
<ul>
  <li>
    Slightly improved error message when no valid LDIF templates are found.
  </li>
  <li>
    Display [Monitor] link only if accessing monitor page
    is allowed for remote IP address.
  </li>
  <li>
    Added new class attribute <var>LDAPSession.sessionStartTime</var>
    for internal use.
  </li>
  <li>
    In connect and login HTML templates the value of
    <var>{value_currenttime}</var> is UTC timestamp string of current time.
  </li>
</ul>

<h1 id="r1.2.87">1.2.87</h1>
<p>Release Date: 2017-05-04</p>
<ul>
  <li>
    The input form now highlights invalid attribute values.
  </li>
  <li>
    Enabled controls are now always shown in parameter information even if
    not known in <var>rootDSE</var>.
  </li>
  <li>
    Fixed syntax check in MS AD plugin class for <var>logonHours</var>.
  </li>
</ul>

<h1 id="r1.2.86">1.2.86</h1>
<p>Release Date: 2017-04-22</p>
<ul>
  <li>
    New internal utility functions for composing filters.
  </li>
  <li>
    Updated plugin module and HTML templates for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.85">1.2.85</h1>
<p>Release Date: 2017-04-17</p>
<ul>
  <li>
    Re-factored use of class <var>w2lapp.handler.AppHandler</var>.
  </li>
  <li>
    Fixed an Unicode-related debugging assertion.
  </li>
  <li>
    File extension &quot;.pub&quot; is used when exporting
    <var>sshPublicKey</var> attribute value.
  </li>
  <li>
    Fixed handling of [-] &lt;button&gt; in input form in case only empty
    values of a certain attribute type were present.
  </li>
  <li>
    Added new general config parameter
    <a href="web2ldapcnf.html#good_redirect_targets">
    web2ldapcnf.good_redirect_targets</a>.
  </li>
  <li>
    Updates in plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.84">1.2.84</h1>
<p>Release Date: 2017-04-11</p>
<ul>
  <li>
    Registered <var>rfc822MailMember</var> with
    <var>RFC822Address</var> plugin class.
  </li>
  <li>
    Updated fallback schema file.
  </li>
  <li>
    Updates to plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
  <li>
    When displaying raw table view of single entry the &lt;h1&gt; heading
    now is the <var>displayName</var> or <var>cn</var> or RDN in this order
    followed by the entry's full distinguished name.
  </li>
  <li>
    Added input field in basic search form template for attribute
    <var>entryDN</var> with matching rule select input.
  </li>
  <li>
    Some minor modifications to default style-sheet.
  </li>
  <li>
    Removed scroll-to-top link from all HTML templates.
  </li>
  <li>
    Fixed handling of [-] &lt;button&gt; in input form in case only one
    value of a certain attribute type was left.
  </li>
</ul>

<h1 id="r1.2.83">1.2.83</h1>
<p>Release Date: 2017-03-18</p>
<ul>
  <li>
    [+] and [-] &lt;button&gt;s now have <var>formaction</var> attribute
    to directly navigate to the input field with anchor.
  </li>
  <li>
    Improvements for MS Active Directory:
    <ul>
      <li>
        Added work-around for <var>objectClass</var> declaration with
        <var>NO-USER-APP</var>.
      </li>
      <li>
        New plugin class for <var>msDS-ReplAttributeMetaData</var>.
      </li>
      <li>
        Registered <var>nTSecurityDescriptor</var> with Binary syntax class.
      </li>
    </ul>
  </li>
  <li>
    Added HTTP header <a href="https://www.w3.org/TR/referrer-policy/">
    Referrer-Policy</a> with value &quot;no-referrer&quot; to default values of
    <a href="web2ldapcnf.html#http_headers">web2ldapcnf.http_headers</a>.
  </li>
  <li>
    SASL hostname canonicalization is disabled in case <var>GSSAPI</var> is
    used and the underlying modules/libs support that.
  </li>
  <li>
    Link [DNS lookup] in main menu of entry page is only shown
    if <var>pydns</var> is really installed.
  </li>
  <li>
    Small updates to plugin module for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.82">1.2.82</h1>
<p>Release Date: 2017-03-01</p>
<ul>
  <li>
    Also suppress [+] and [-] buttons for plugin classes with
    <code>maxValues = 1</code>.
  </li>
</ul>

<h1 id="r1.2.81">1.2.81</h1>
<p>Release Date: 2017-02-23</p>
<ul>
  <li>
    New plugin class method and class attribute for displaying multi-value
    buttons [+] and [-] in entry input form which allows overriding
    behaviour in derived plugin classes.
  </li>
  <li>
    [+] and [-] buttons are not shown for attribute <var>memberUid</var>
    in <var>aeGroup</var> entries.
  </li>
  <li>
    Refactored displaying referencing DNs of <var>aeGroup</var> entries in
    <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.80">1.2.80</h1>
<p>Release Date: 2017-02-12</p>
<ul>
  <li>
    Aligned <a href="https://ae-dir.com">&AElig;-DIR</a>
    HTML templates and plugin module with upstream.
  </li>
  <li>
    Changed HTML markup to correctly display LDIF change record
    after modifying an entry.
  </li>
</ul>

<h1 id="r1.2.79">1.2.79</h1>
<p>Release Date: 2016-12-08</p>
<ul>
  <li>
    Use attribute name for <var>objectClass</var> instead of OID when
    processing input form.
  </li>
  <li>
    New base plugin class <var>LDAPv3ResultCode</var> also used for
    attribute <var>reqResult</var>.
  </li>
  <li>
    New plugin class for
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
    attributes <var>oathSuccessResultCode</var> and <var>oathFailureResultCode</var>.
  </li>
</ul>

<h1 id="r1.2.78">1.2.78</h1>
<p>Release Date: 2016-12-02</p>
<ul>
  <li>
    Fixed regression when processing input form introduced with
    <a href="#r1.2.77">1.2.77</a> by modified process workflow:
    <ol>
      <li>Read normal input fields into entry dict</li>
      <li>Sanitize all attribute values one-by-one</li>
      <li>Add LDIF input into entry dict</li>
      <li>Transmute attribute value lists</li>
    </ol>
  </li>
</ul>

<h1 id="r1.2.77">1.2.77</h1>
<p>Release Date: 2016-11-29</p>
<ul>
  <li>
    Fixed <var>UnicodeError</var> when displaying error message for
    unreadable LDIF template.
  </li>
  <li>
    When processing entry input form the attribute <var>objectClass</var>
    is now added first to the entry to correctly trigger plugin classes
    registered on structural object class in sanitize step.
  </li>
  <li>
    Fixed HTML templates for <var>namedObject</var> and <var>namedPolicy</var>.
  </li>
</ul>

<h1 id="r1.2.76">1.2.76</h1>
<p>Release Date: 2016-11-18</p>
<ul>
  <li>
    Improved plugin class for <var>associatedDomain</var>:
    <ul>
      <li>
       Automatically generate attribute value after submitting input form
      </li>
      <li>
        Display link for searching SOA RR entry.
      </li>
    </ul>
  </li>
  <li>
    Plugin definitions/classes for new
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
    attributes.
  </li>
  <li>
    New plugin module and HTML templates for <var>msPwdResetPolicy</var>.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Always generate correct select list in plugin class for
        <var>aeNwDevice</var> reference.
      </li>
      <li>
        Aligned HTML templates with upstream.
      </li>
      <li>
        New plugin classes related to new object classes and attribute types.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.75">1.2.75</h1>
<p>Release Date: 2016-11-02</p>
<ul>
  <li>
    Corrected NIS search form template not to use sub-string search on
    attributes lacking <var>SUBSTR</var> in standard schema definition.
  </li>
  <li>
    Empty option value in select lists now have language-neutral option text
    &quot;-/-&quot;.
  </li>
  <li>
    Setting the plugin class attribute
    <var>SelectList.input_fallback = False</var>
    avoids the fall-back to normal input field.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Gracefully handle missing <var>paramiko</var> module in plugin
        module for &AElig;-DIR which caused <var>ImportError</var> to be
        raised during startup.
      </li>
      <li>
        Aligned plugin module for &AElig;-DIR with upstream
        zone schema modifications.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.74">1.2.74</h1>
<p>Release Date: 2016-10-13</p>
<ul>
  <li>
    LDAP error <var>insufficientAccess</var> is now also ignored when
    checking list of parent entry's attributes  for a LDIF template to be
    displayed.
  </li>
  <li>
    Added <var>SSL_CLIENT_VERIFY</var> and <var>SSL_SECURE_RENEG</var> to
    <a href="web2ldapcnf.html#session_checkvars">web2ldapcnf.session_checkvars</a>.
  </li>
  <li>
    Ignore empty attribute values when building assertion filter.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        New UID/GID generation scheme
      </li>
      <li>
        <var>aePerson</var> entries for select list are searched with
        <var>aeNotBefore</var> and <var>aeNotAfter</var> in filter
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.73">1.2.73</h1>
<p>Release Date: 2016-09-26</p>
<ul>
  <li>
    Better error handling in case DNS SRV lookup does not return results.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Better handling of <var>aeDept</var> linking constraints in
        <var>aeZone</var> and <var>aeGroup</var> entries.
      </li>
      <li>
        Different CSS styles <var>aeStatus</var> values.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.72">1.2.72</h1>
<p>Release Date: 2016-09-22</p>
<ul>
  <li>
    Better regex pattern for <var>sshPublicKey</var>.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        <var>gidNumber</var> values are now generated after submitting the
        input form (in <var>AEGIDNumber.transmute()</var>) to reduce
        likelihood of hitting unique constraint.
      </li>
      <li>
        Separate plugin classes for <var>sshPublicKey</var> in
        <var>aeUser</var> and <var>aeService</var> entries.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.71">1.2.71</h1>
<p>Release Date: 2016-09-16</p>
<ul>
  <li>
    Truly optional import of module <var>pwd</var> for fixing an import
    regression on Windows since release <a href="#r1.2.51">1.2.51</a>.
  </li>
</ul>

<h1 id="r1.2.70">1.2.70</h1>
<p>Release Date: 2016-08-13</p>
<ul>
  <li>
    Registered password policy attributes <var>pwdFailureCountInterval</var>
    and <var>pwdLockoutDuration</var> with plugin class <var>Timespan</var>.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Reformatted HTML templates for <var>aeSrvGroup</var> entries.
      </li>
      <li>
        Added plugin class for <var>aeVisibleGroups</var> which
        automatically adds all groups referenced in
        <var>aeLoginGroups</var> and <var>aeDisplayNameGroups</var>.
      </li>
      <li>
        Plugin class for <var>manager</var> with simple dynamic select list.
      </li>
      <li>
        Aligned HTML templates with upstream.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.69">1.2.69</h1>
<p>Release Date: 2016-08-08</p>
<ul>
  <li>
    Re-factored attribute deletion in function
    <var>ldaputil.modlist2.modifyModlist()</var>.
  </li>
  <li>
    When generating an entry from form input empty attribute lists are now
    removed after <var>transmute()</var> step.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Added plugin class for <var>displayName</var> in <var>aeDept</var> entries.
      </li>
      <li>
        Plugin class for <var>aeDept</var> uses <var>displayName</var> in select lists.
      </li>
      <li>
        Support for new attribute <var>aeDisplayNameGroups</var>.
      </li>
      <li>
        Added filter part for excluding zone <em>pub</em> in rights group DNs.
      </li>
      <li>
        Aligned HTML templates with upstream.
      </li>
      <li>
        Fixed issues with <var>memberUid</var> attribute not being removed
        in case of absent <var>member</var> values.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.68">1.2.68</h1>
<p>Release Date: 2016-08-05</p>
<ul>
  <li>
    Plugin class attribute <var>DistinguishedName.ref_attrs</var> can now
    have additional element for specifying the object class of referring
    entries.
  </li>
  <li>
    New plugin class attribute <var>LDAPSyntax.simpleSanitizers</var> can
    be used to define a series of simple one-argument functions (e.g.
    <var>str.lower</var> or similar) which are applied in method
    <var>LDAPSyntax.sanitizeInput()</var>.
    Note that more complex plugin classes likely do not call this though.
  </li>
  <li>
    Search continuations (referrals) are now simply ignored when processing
    possible parent zone entries in plugin class for <var>associatedDomain</var>.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Better support for attribute <var>aeDept</var>.
      </li>
      <li>
        By default plugin class for <var>aeTicketId</var> now strips and
        upper-cases input value.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.67">1.2.67</h1>
<p>Release Date: 2016-07-29</p>
<ul>
  <li>
    Better error handling for invalid LDIF templates.
  </li>
  <li>
    Added missing trailing separator line in a LDIF template for
    <var>organizationalUnit</var>.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Registered plugin class for <var>uidNumber</var> and
        <var>gidNumber</var> also for object class <var>aeService</var>.
      </li>
      <li>
        More links for searching <var>aeHost</var>.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.66">1.2.66</h1>
<p>Release Date: 2016-07-16</p>
<ul>
  <li>
    Registered <var>defaultObjectCategory</var> with plugin class for
    <var>objectCategory</var> and added <var>ref_attrs</var> to that class.
  </li>
  <li>
    New host-/backend-specific parameter
    <a href="web2ldapcnf_hosts.html#addform_parent_attrs">addform_parent_attrs</a>
    allows to define a list of attributes which must be readable in the
    parent entry for a LDIF template to be displayed.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Plugin class for <var>sudoUser</var> now excludes special role groups.
      </li>
      <li>
        Better error handling in case of empty or invalid
        <var>aeStatus</var> value.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.65">1.2.65</h1>
<p>Release Date: 2016-07-08</p>
<ul>
  <li>
    [Bind as] link now creates new session to be used in a new browser tab.
  </li>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        For better security
        <var>uidNumber</var> / <var>gidNumber</var> assignment is now the
        same to avoid accidental global GID usage.
      </li>
      <li>
        Added plugin classes for <var>mail</var> attribute handling in
        <var>aePerson</var> and primary <var>aeUser</var> entries.
      </li>
      <li>
        Plugin class for attribute <var>aePerson</var> now searches
        <var>aePerson</var> entry based on own current <var>aeStatus</var>.
      </li>
      <li>
        Improved/restructured plugin classes for attributes
        <var>aeProxyFor</var> and <var>aeSrvGroup</var>.
      </li>
      <li>
        Enforce rules for <var>aeStatus</var> related to
        <a href="https://www.ae-dir.com/docs.html#schema-validity-period">
        validity period</a>.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.64">1.2.64</h1>
<p>Release Date: 2016-07-03</p>
<ul>
  <li>
    Updates for <a href="https://ae-dir.com">&AElig;-DIR</a>:
    <ul>
      <li>
        Restructured parent plugin classes.
      </li>
      <li>
        Default plugin class for <var>aePerson</var> is now based on
        <var>DynamicDNSelectList</var>.
      </li>
      <li>
        Added support for <var>aeDept</var> entries.
      </li>
      <li>
        Added plugin class for auto-generating <var>uniqueIdentifier</var>
        attribute value in <var>aePerson</var> entries.
      </li>
      <li>
        Added plugin class for attribute <var>manager</var> in
        <var>aePerson</var> entries.
      </li>
      <li>
        Updated/improved HTML and LDIF templates.
      </li>
    </ul>
  </li>
  <li>
    Fixed login template selection during re-login.
  </li>
</ul>

<h1 id="r1.2.63">1.2.63</h1>
<p>Release Date: 2016-06-27</p>
<ul>
  <li>
    Fall-back for empty DN in base plugin class
    <var>DynamicValueSelectList</var>.
  </li>
  <li>
    Use <var>(objectClass=*)</var> as default when empty filter was input to
    bulk modification.
  </li>
</ul>

<h1 id="r1.2.62">1.2.62</h1>
<p>Release Date: 2016-06-23</p>
<ul>
  <li>
    <strong>Serious security fix:</strong><br>
    Previous <var>StartTLS</var> is now correctly honored in
    login form hidden parameters.
  </li>
  <li>
    When displaying the available LDIF templates after [New entry] the
    superior entries are now displayed with HTML templates snippets defined
    with host-/backend-specific parameter
    <a href="web2ldapcnf_hosts.html#inputform_supentrytemplate">inputform_supentrytemplate</a>.
  </li>
  <li>
    Added new LDIF template for <em>&AElig;-DIR primary user account</em>
    with AUX class <var>inetLocalMailRecipient</var> for mailbox users.
  </li>
</ul>

<h1 id="r1.2.61">1.2.61</h1>
<p>Release Date: 2016-06-21</p>
<ul>
  <li>
    Added config presets, plugin classes and templates for new &AElig;-DIR
    <a href="https://ae-dir.com/docs.html#schema-oc-aeDept">aeDept</a>
    schema.
  </li>
  <li>
    Other small improvements for <a href="https://ae-dir.com">&AElig;-DIR</a>.
  </li>
</ul>

<h1 id="r1.2.60">1.2.60</h1>
<p>Release Date: 2016-06-17</p>
<ul>
  <li>
    Added config presets, plugin classes and templates for new &AElig;-DIR
    <a href="https://ae-dir.com/docs.html#schema-oc-aeTag">aeTag</a>
    schema.
  </li>
</ul>

<h1 id="r1.2.59">1.2.59</h1>
<p>Release Date: 2016-06-13</p>
<ul>
  <li>
    Disabled registering <var>cn</var> with plugin classes in module
    <var>w2lapp.schema.plugins.inetorgperson</var> in default configuration.
  </li>
  <li>
    Some small fixes and updates to various <a href="https://ae-dir.com">
    &AElig;-DIR</a> templates.
  </li>
</ul>

<h1 id="r1.2.58">1.2.58</h1>
<p>Release Date: 2016-06-08</p>
<ul>
  <li>
    Fixed parent plugin class for <var>cn</var> in <var>aeZone</var> entries.
  </li>
  <li>
    Added plugin class for attribute <var>showInAddressBook</var> (MS AD).
  </li>
  <li>
    Fixed <em>spawn-web2ldap.fcgi</em> to really use vars set.
  </li>
  <li>
    Slightly improved sample configuration for
    <a href="https://nginx.org/">nginx</a>.
  </li>
  <li>
    Search continuations (referrals) are now simply ignored when generating
    search root select list.
  </li>
</ul>

<h1 id="r1.2.57">1.2.57</h1>
<p>Release Date: 2016-06-07</p>
<ul>
  <li>
    Search continuations (referrals) are now simply ignored during bulk
    modification.
  </li>
  <li>
    Updates for &AElig;-DIR:
    <ul>
      <li>
        Added plugin class for new attribute <var>aeHost</var>.
      </li>
      <li>
        Added specific plugin classes for attribute <var>cn</var> in
        entries of structural object classes <var>aeZone</var>,
        <var>aeGroup</var>, <var>aeSrvGroup</var> and <var>aeSudoRule</var>
        to let deployments attach specific regex patterns.
      </li>
    </ul>
  </li>
  <li>
    Refactored handling command-line parameter <var>-u</var> and/or
    configuration stand-alone demon parameter <var>run_username</var>.
  </li>
</ul>

<h1 id="r1.2.56">1.2.56</h1>
<p>Release Date: 2016-05-09</p>
<ul>
  <li>
    Fixed regression in plugin class for <var>uid</var> in
    <var>aeUser</var> entries.
  </li>
  <li>
    Fix for truly optional handling of <var>objectClass</var> in rootDSE
    when modifying an entry.
  </li>
  <li>
    Updated HTML templates for <var>aePerson</var>.
  </li>
</ul>

<h1 id="r1.2.55">1.2.55</h1>
<p>Release Date: 2016-05-02</p>
<ul>
  <li>
    New approach for generating fixed-length <var>uid</var> values in
    <var>aeUser</var> entries.
  </li>
  <li>
    Slightly refactored plugin classes for (LDAP) URLs.
  </li>
  <li>
    New plugin class for attribute <var>altServer</var>.
  </li>
</ul>

<h1 id="r1.2.54">1.2.54</h1>
<p>Release Date: 2016-04-28</p>
<ul>
  <li>
    Plugin class for attribute <var>host</var> in <var>aeHost</var> now
    checks forward DNS entries (AEHostname.host_lookup=1) and reverse
    (<var>AEHostname.host_lookup=2</var>).
  </li>
  <li>
    Plugin class for attribute <var>cn</var> in <var>aeHost</var> now
    derives attribute values from left-most label in attribute
    <var>host</var>.
  </li>
</ul>

<h1 id="r1.2.53">1.2.53</h1>
<p>Release Date: 2016-04-27</p>
<ul>
  <li>
    Registered AD attribute type <var>dNSHostName</var> with plugin class
    <var>DNSDomain</var>.
  </li>
  <li>
    Fixed searching LDAP operations sent by a <var>aeUser</var> in accesslog DB.
  </li>
  <li>
    Fixed setting search root in plugin class for <var>reqSession</var>.
  </li>
</ul>

<h1 id="r1.2.52">1.2.52</h1>
<p>Release Date: 2016-04-15</p>
<ul>
  <li>
    Updates for &AElig;-DIR:
    <ul>
      <li>
        Modifications due to new <var>aeGroup</var> naming conventions.
      </li>
      <li>
        <var>LDAPSession</var> derivative class <var>AEDirLDAPSession</var>
        for mapping username to short bind-DN form.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.51">1.2.51</h1>
<p>Release Date: 2016-04-13</p>
<ul>
  <li>
    Added more process information to monitor page (PID, PPID, UID, etc.).
  </li>
  <li>
    Updates for &AElig;-DIR:
    <ul>
      <li>
        Removed obsolete attributes from configuration files.
      </li>
      <li>
        Fixed typo in <a href="web2ldapcnf_hosts.html#boundas_template">boundas_template</a>.
      </li>
      <li>
        Improved consistent maintenance of <var>memberUid</var> attribute
        values in hybrid groups (<var>aeGroup</var>).
      </li>
      <li>
        New plugin class for <var>cn</var> in <var>aeHost</var> entries.
      </li>
      <li>
        New plugin class for <var>entryDN</var> in <var>aeHost</var>
        entries shows links to search all <var>aeHost</var> and
        <var>Service</var> entries within at least in one common
        <var>aeSrvGroup</var>.
      </li>
      <li>
        New plugin class for <var>entryDN</var> in <var>aeSrvGroup</var>
        entries shows links to search all <var>aeHost</var> and
        <var>aeService</var> member entries.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.50">1.2.50</h1>
<p>Release Date: 2016-04-07</p>
<ul>
  <li>
    As a work-around a single object class without object class description
    in the subschema is always treated like STRUCTURAL when choosing
    templates.
  </li>
  <li>
    New plugin classes for &AElig;-DIR:
    <table>
      <tr>
        <th>attribute</th><th>object class</th>
      </tr>
      <tr>
        <td>host</td><td>aeHost</td>
      </tr>
      <tr>
        <td>displayName</td><td>aePerson</td>
      </tr>
      <tr>
        <td>manager</td><td>aePerson</td>
      </tr>
    </table>
  </li>
</ul>

<h1 id="r1.2.49">1.2.49</h1>
<p>Release Date: 2016-04-06</p>
<ul>
  <li>
    Small fixes in templates and plugin module for &AElig;-DIR.
  </li>
</ul>

<h1 id="r1.2.48">1.2.48</h1>
<p>Release Date: 2016-03-30</p>
<ul>
  <li>
    Reconnect counter is displayed along with LDAP connection information.
  </li>
  <li>
    No extra &lt;a&gt; tag for the intra-document links in tree viewer.
  </li>
  <li>
    Fixed <var>UnicodeError</var> when handling malformed RDN input during
    adding new entry.
  </li>
  <li>
    Gracefully handle <var>LDAPSession.whoami()</var> returning <var>None</var>.
  </li>
</ul>

<h1 id="r1.2.47">1.2.47</h1>
<p>Release Date: 2016-02-02</p>
<ul>
  <li>
    Fixed regression since release <a href="#r1.2.46">1.2.46</a> which
    raised exception when uncaching an entry after using LDAP modify
    extended operation.
  </li>
</ul>

<h1 id="r1.2.46">1.2.46</h1>
<p>Release Date: 2016-01-15</p>
<ul>
  <li>
    Fixes when using <a href="https://tools.ietf.org/html/rfc4528">Assertion Control</a>:
    <ul>
      <li>
        Filter string now correctly encoded.
      </li>
      <li>
        Added better work-around for OpenLDAP (see also
        <a href="https://bugs.openldap.org/show_bug.cgi?id=6916">ITS#6916</a>).
      </li>
    </ul>
  </li>
  <li>
    Cleaned up and improved uncaching LDAP entries.
  </li>
  <li>
    Removed obsolete configuration parameter <var>searchform_filterstr_size</var>.
  </li>
  <li>
    Increased <var>maxlength</var> for LDAP filter string in expert search
    form to 1200 chars.
  </li>
</ul>

<h1 id="r1.2.45">1.2.45</h1>
<p>Release Date: 2015-12-28</p>
<ul>
  <li>
    Updated work-around in syntax class <var>Boolean</var> for handling lower-case attribute values.<br>
    (I hate LDAP servers not sticking to
    <a href="https://tools.ietf.org/html/rfc4517#section-3.3.3">standards</a>!)
  </li>
  <li>
    CSS and markup improvements for printable output.
  </li>
  <li>
    Plugin class for <var>pwdChangedTime</var> now strictly reads
    referenced ppolicy entry with filter <var>(objectClass=pwdPolicy)</var>.
  </li>
  <li>
    Plugin class for <var>namingContexts</var>:
    <ul>
      <li>
        Now also registered for OpenDJ attributes
        <var>ds-private-naming-contexts</var> and <var>ds-cfg-base-dn</var>.
      </li>
      <li>
        Now displays link to search accompanying OpenDJ's backend
        configuration entries beneath <var>cn=Backends,cn=config</var>.
      </li>
      <li>
        Now displays link to search accompanying OpenLDAP or OpenDJ backend
        monitoring entry beneath <var>cn=monitor</var>.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.44">1.2.44</h1>
<p>Release Date: 2015-12-16</p>
<ul>
  <li>
    New plugin class for <var>olcPPolicyDefault</var> checks whether
    attribute value references existing <var>pwdPolicy</var> entry.
  </li>
  <li>
    Plugin class for <var>namingContexts</var> also registered for
    attribute <var>olcSuffix</var> used by OpenLDAP's back-config.
  </li>
  <li>
    Plugin class for <var>auditContext</var> also registered for
    attribute <var>olcAccessLogDB</var> used by OpenLDAP's back-config.
  </li>
  <li>
    When displaying a single entry the same <var>search_filter</var> and
    <var>no_cache</var> argument is now used when additionally reading
    potentially hidden operational attributes.
  </li>
  <li>
    Usage of host-/backend-specific parameter <a
    href="web2ldapcnf_hosts.html#requested_attrs">requested_attrs</a> has
    changed when displaying a single entry:<br>
    Only attributes which were not read with prior search operation and
    which are part of the subschema are really used when additionally
    reading potentially hidden operational attributes.
  </li>
  <li>
    If Python modules
    <a href="https://pypi.org/project/python-stdnum/">stdnum</a>
    and <a href="https://pypi.org/project/vatnumber/">vatnumber</a>
    are installed then function <code>vatnumber.check_vat()</code> is used
    to check values in attribute <var>euVATId</var> instead of regex check.
  </li>
</ul>

<h1 id="r1.2.43">1.2.43</h1>
<p>Release Date: 2015-12-08</p>
<ul>
  <li>
    Fixed regression for determining whether only partial search results
    were retrieved. <code>mailto:</code> links were not displayed.
  </li>
  <li>
    New plugin class <var>GroupEntryDN</var> registered for various
    combinations of DN-valued attributes and structural object classes
    mainly for search group members by <var>memberOf</var>:
    <table>
      <tr>
        <th>attribute</th><th>object class</th>
      </tr>
      <tr>
        <td>entryDN</td><td>groupOfNames</td>
      </tr>
      <tr>
        <td>entryDN</td><td>groupOfEntries</td>
      </tr>
      <tr>
        <td>distinguishedName</td><td>group (MS AD)</td>
      </tr>
      <tr>
        <td>entryDN</td><td>aeGroup (used as base class)</td>
      </tr>
    </table>
  </li>
  <li>
    Plugin class for <var>namingContexts</var> now displays
    link into tree browser.
  </li>
  <li>
    New plugin class for OpenLDAP rootDSE attributes
    <var>configContext</var> and <var>monitorContext</var>.
  </li>
  <li>
    Plugin class for <var>memberOf</var> now also registered for OpenDJ's
    attribute <var>isMemberOf</var>.
  </li>
  <li>
    Attribute <var>krbMaxRenewableAge</var> also registered with plugin
    class <var>Timespan</var>.
  </li>
  <li>
    Added plugin module for the <em>FreeIPA</em>
    which does not contain much yet though.
  </li>
  <li>
    Added some HTML templates for displaying entries in OpenLDAP's accesslog.
  </li>
</ul>

<h1 id="r1.2.42">1.2.42</h1>
<p>Release Date: 2015-11-28</p>
<ul>
  <li>
    Fixed regression in plugin class method
    <var>Boolean._sorted_select_options()</var>.
  </li>
  <li>
    General clean-up and many typos fixed in various HTML templates.
  </li>
  <li>
    Added separate read HTML templates for OpenLDAP's cn=config.
  </li>
  <li>
    Special installation receipt for Debian Jessie (sigh!).
  </li>
  <li>
    Changed shee-bang lines to explicitly invoke <em>python2.7</em>
    to avoid issues with distributions changing the default Python version.
  </li>
</ul>

<h1 id="r1.2.41">1.2.41</h1>
<p>Release Date: 2015-11-09</p>
<ul>
  <li>
    Updates to reflect new <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a> schema:
    <ul>
      <li>
        Updated HTML templates
      </li>
      <li>
        New plugin class for <var>oathSecret</var> displays shared secret as
        base32-encoded string.
      </li>
      <li>
        OID renumbering
      </li>
      <li>
        Removed registrations for OATH init attributes.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.40">1.2.40</h1>
<p>Release Date: 2015-11-02</p>
<ul>
  <li>
    Modifications to HTML templates for
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
    to reflect new schema.
  </li>
</ul>

<h1 id="r1.2.39">1.2.39</h1>
<p>Release Date: 2015-10-22</p>
<ul>
  <li>
    Relaxed regex pattern in plugin class for <var>oathTokenIdentifier</var>.
  </li>
  <li>
    New method <var>DynamicValueSelectList_determineFilter()</var> allows
    custom implementations to determine the search filter used when
    searching/reading entries.
  </li>
  <li>
    Modifications to
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
    plugin module and HTML templates to reflect new schema version.
  </li>
</ul>

<h1 id="r1.2.38">1.2.38</h1>
<p>Release Date: 2015-08-15</p>
<ul>
  <li>
    Only write <var>LDAPSession.__dict__</var> to error log
    if there is a valid <var>LDAPSession</var> instance.
  </li>
  <li>
    Improved output for empty results and errors when locating
    LDAP servers with DNS queries.
  </li>
  <li>
    When searching in OpenLDAP's accesslog DB for &AElig;-DIR changes
    the DN is changed to trigger correct configuration cascade.
  </li>
  <li>
    Small modifications to plugin module for &AElig;-DIR.
  </li>
  <li>
    Plugin class for attribute <var>mail</var> now automagically encodes
    and decodes non-ASCII chars in the domain part as
    <a href="https://tools.ietf.org/html/rfc5891#section-4.4">IDNA</a>.
  </li>
  <li>
    Plugin class for attribute <var>reqEntryUUID</var> does not display
    a search link in search result listing anymore.
  </li>
  <li>
    Fixed <var>UnicodeError</var> when presenting re-login form during
    handling <var>ldap.INSUFFICIENT_ACCESS</var>.
  </li>
</ul>

<h1 id="r1.2.37">1.2.37</h1>
<p>Release Date: 2015-08-01</p>
<ul>
  <li>
    Cache is internally flushed on each simple bind. Likely there was no
    relevant impact though.
  </li>
  <li>
    Plugin class for <var>associatedDomain</var> now also catches and
    ignores formerly unhandled <var>IndexError</var> exception.
  </li>
  <li>
    In case of an unhandled exception a pretty-printable view of
    <var>LDAPSession.__dict__</var> is written to the error log.
  </li>
</ul>

<h1 id="r1.2.36">1.2.36</h1>
<p>Release Date: 2015-07-24</p>
<ul>
  <li>
    [Read] links are always displayed in the middle area after
    adding/modifying an entry.
  </li>
  <li>
    Fixed regression with missing last entry when displaying all entries.
  </li>
</ul>

<h1 id="r1.2.35">1.2.35</h1>
<p>Release Date: 2015-07-19</p>
<ul>
  <li>
    DN matching rules added to advanced search form.
  </li>
  <li>
    New plugin class for attribute <var>entryDN</var> and object class
    <var>aeZone</var> shows links to OpenLDAP's accesslog DB if available.
  </li>
  <li>
    When displaying <var>sshPublicKey</var> with an invalid key
    the <var>paramiko.SSHException</var> is caught and an
    error message is displayed inline.
  </li>
</ul>

<h1 id="r1.2.34">1.2.34</h1>
<p>Release Date: 2015-07-13</p>
<ul>
  <li>
    OpenLDAP-specific plugin class for <var>olcRootDN</var> does not throw
    unhandled exception on entries without <var>olcSuffix</var> anymore.
  </li>
  <li>
    There are now configuration preset instances available in
    <var>web2ldapcnf.hosts</var> re-usable for several configuration items
    in <var>web2ldapcnf.hosts.ldap_def</var>:
    <ul>
      <li>cn=config</li>
      <li>
        OpenLDAP accesslog DB
        (see <a href="https://tools.ietf.org/html/draft-chu-ldap-logschema">
        draft-chu-ldap-logschema</a>)
      </li>
      <li>
        Changelog DB
        (see <a href="https://tools.ietf.org/html/draft-good-ldap-changelog">
        draft-good-ldap-changelog</a>)
      </li>
      <li>MS Active Directory</li>
    </ul>
  </li>
  <li>
    New host-/backend-specific parameter
    <a href="web2ldapcnf_hosts.html#bulkmod_delold">bulkmod_delold</a> to
    work-around issues with LDAP servers (e.g
    <a href="https://bugs.openldap.org/show_bug.cgi?id=8197">
    OpenLDAP</a>) hitting internal constraints if <var>delold=0</var>
    is used.
  </li>
</ul>

<h1 id="r1.2.33">1.2.33</h1>
<p>Release Date: 2015-07-07</p>
<ul>
  <li>
    New base plugin class for IANA-registered
    <a href="https://www.iana.org/assignments/hash-function-text-names/">
    hash algorithm OIDs</a>.
  </li>
  <li>
    New base plugin class for HMAC algorithm OIDs.
  </li>
  <li>
    Updated LDIF and HTML templates and plugin module for new
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
    schema work.
  </li>
  <li>
    Plugin class <var>DistinguishedName</var> can now generate links for
    searching back-link entries by just setting class attribute
    <var>ref_attrs</var>.
  </li>
</ul>

<h1 id="r1.2.32">1.2.32</h1>
<p>Release Date: 2015-06-18</p>
<ul>
  <li>
    Fixed regression when determining length of form value for
    <var>Integer</var> input fields.
  </li>
  <li>
    Added plugin module, HTML templates for
    <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>.
  </li>
  <li>
    Removed script <kbd>sbin/compile.py</kbd> because compiling is better
    done with <kbd>python -m compileall</kbd>
    (see <a href="https://docs.python.org/2/library/compileall.html#command-line-use">
    module compileall used with command-line</a>).
  </li>
  <li>
    Unified she-bang lines in all executable Python scripts (sbin/ and fcgi/).
  </li>
  <li>
    <a href="https://tools.ietf.org/html/rfc7230#section-2.7.2">HTTPS</a>
    links are used for all <a href="https://www.openldap.org">OpenLDAP</a>
    and Wikipedia links.
  </li>
</ul>

<h1 id="r1.2.31">1.2.31</h1>
<p>Release Date: 2015-06-09</p>
<ul>
  <li>
    Excel export: Multiple attribute values are now exported as multiple
    lines per cell.
  </li>
  <li>
    Fixed regression when normalizing <var>GeneralizedTime</var> values
    introduced in release <a href="#1.2.30">1.2.30</a>.
  </li>
  <li>
    Session Tracking Control is also sent along with bind requests
    and server host string does not contain double port.
  </li>
</ul>

<h1 id="r1.2.30">1.2.30</h1>
<p>Release Date: 2015-06-07</p>
<ul>
  <li>
    Plugin class for <var>reqSession</var> now displays link only when
    argument <var>commandbutton</var> is <var>True</var>.
  </li>
  <li>
    Registered attributes <var>reqStart</var> and <var>reqEnd</var> with
    plugin class <var>NotBefore</var>.
  </li>
  <li>
    Improvements to plugin class for <var>GeneralizedTime</var>:
    <ul>
      <li>
        More datetime formats accepted when normalizing input values.
      </li>
      <li>
        The datetime formats are preferred over date format when
        normalizing input values.
      </li>
      <li>
        Special input strings are normalized to datetime strings based on current time:
        <table>
          <tr>
            <td><kbd>NOW</kbd> or <kbd>N</kbd></td><td>current time</td>
          </tr>
          <tr>
            <td><kbd>TODAY</kbd> or <kbd>T</kbd></td><td>today with default time</td>
          </tr>
          <tr>
            <td><kbd>YESTERDAY</kbd> or <kbd>Y</kbd></td><td>yesterday with default time</td>
          </tr>
          <tr>
            <td><kbd>TOMORROW</kbd> or <kbd>T</kbd></td><td>tomorrow with default time</td>
          </tr>
        </table>
    </ul>
  </li>
  <li>
    If DIT browser does not show results for root-level search the naming
    contexts are displayed with clickable links.
  </li>
</ul>

<h1 id="r1.2.29">1.2.29</h1>
<p>Release Date: 2015-06-06</p>
<ul>
  <li>
    Tightened links displayed for <var>auditContext</var>.
    Added a search form link.
  </li>
  <li>
    Fixed fallback when generating a input select list for attributes which
    are not visible in the subschema.
  </li>
  <li>
    Small improvements for search form template and configuration for
    OpenLDAP's accesslog.
  </li>
  <li>
    Context search menu action [Negate search] now...
    <ul>
      <li>
        correctly preserves table search output format.
      </li>
      <li>
        strips an existing negation instead of generating double
        negation with (!(!(&hellip;))).
      </li>
    </ul>
  </li>
  <li>
    New plugin class for <var>reqSession</var> displays a link for searching
    all audit entries with same session number.
  </li>
</ul>

<h1 id="r1.2.28">1.2.28</h1>
<p>Release Date: 2015-06-05</p>
<ul>
  <li>
    When displaying a single entry in table format and expanding a
    multi-valued attribute an intra-document link points to that attribute.
  </li>
  <li>
    Updated fallback schema file <em>localschema.ldif</em> adding
    the <a href="https://tools.ietf.org/html/rfc3944">H.350</a> schema.
  </li>
  <li>
    Added simple plugin module for
    <a href="https://tools.ietf.org/html/rfc3944">H.350 Directory Services</a>.
  </li>
  <li>
    Set of ignored attributes when modifying an entry now also handles
    correctly attributes not present in subschema (e.g. OpenLDAP's
    <var>entryCSN</var>).
  </li>
  <li>
    Added attributes <var>entryDN</var>, <var>entryCSN</var> and
    <var>collectiveAttributeSubentries</var> to the hard-coded list of
    attributes always ignored when processing add/modify input.
  </li>
  <li>
    If Relax Rules Control is enabled the input form is forced to be table
    form instead of template form. Also an additional warning is displayed.
  </li>
</ul>

<h1 id="r1.2.27">1.2.27</h1>
<p>Release Date: 2015-05-15</p>
<ul>
  <li>
    Corrected DIT structure rules in &AElig;-DIR supplemental schema.
  </li>
  <li>
    Set <var>maxLen</var> for plugin classes of <var>dc</var> and
    <var>associatedDomain</var> etc. according to clarifications in
    <a href="https://tools.ietf.org/html/rfc2181#section-11">RFC 2181</a>.
  </li>
  <li>
    Updated fallback schema file <em>localschema.ldif</em> especially
    the <a href="http://www.freeradius.org">FreeRADIUS</a> and
    the <a href="https://tools.ietf.org/html/rfc7532">Federated File Systems</a>
    schema.
  </li>
  <li>
    Separate plugin class for <var>cNAMERecord</var> to restrict input to
    one value.
  </li>
  <li>
    Code cleaning in <var>LDAPSession.bind()</var> etc. to allow subclasses
    to easily override new method <var>LDAPSession.getBindDN()</var>.
  </li>
  <li>
    Relaxed determining input size for <var>Integer</var> input fields,
    especially for entering time span strings.
  </li>
</ul>

<h1 id="r1.2.26">1.2.26</h1>
<p>Release Date: 2015-04-30</p>
<ul>
  <li>
    Exception <var>ldap.UNAVAILABLE_CRITICAL_EXTENSION</var> now simply
    ignored when reading <var>rootDSE</var>.
  </li>
  <li>
    New base plugin classes <var>NotBefore</var> and <var>NotAfter</var>
    used in plugin modules <var>aedir</var> and <var>sudoers</var>.
  </li>
  <li>
    Some minor improvements to default CSS theme.
  </li>
</ul>

<h1 id="r1.2.25">1.2.25</h1>
<p>Release Date: 2015-04-19</p>
<ul>
  <li>
    Cleaned up building the set of ignored attributes when modifying an
    entry. This fixes a regression with Relax Rules control enabled.
  </li>
  <li>
    More search links when displaying DNS/DHCP related attributes.
  </li>
  <li>
    <var>data</var> URI scheme
    (see <a href="https://tools.ietf.org/html/rfc2397">RFC 2397</a>)
    is now used when image data is less than threshold set in class
    attribute <var>Image.inline_maxlen</var> (currently 630 bytes).
  </li>
  <li>
    Cleaned up method <var>GeneralizedTime.displayValue()</var> to correctly
    call base class method for fall-back.
  </li>
  <li>
    New plugin class for <var>pwdAccountLockedTime</var>.
  </li>
</ul>

<h1 id="r1.2.24">1.2.24</h1>
<p>Release Date: 2015-03-19</p>
<ul>
  <li>
    Registered attribute type <var>sudoUser</var> with plugin
    class <var>w2lapp.schema.plugins.sudoers.SudoUserGroup</var> and
    structural object class <var>aeSudoRule</var>.
  </li>
  <li>
    Some small changes to HTML templates for &AElig;-DIR.
  </li>
  <li>
    Registered attribute type <var>sambaDomainName</var> with syntax class
    <var>DirectoryString</var> and structural object class <var>sambaDomain</var>.
  </li>
  <li>
    Fixed exception when determining form value for <var>sambaSID</var> in
    <var>sambaDomain</var> entry.
  </li>
  <li>
    Added LDIF template for a DNS zone entry with more zone-related
    attributes (SOA, NS etc.) which uses <var>associatedDomain</var> for
    forming the RDN.
  </li>
  <li>
    Fixed exception when generating additional links for
    <var>aeUser/entryDN</var> in case attribute <var>auditContext</var> is
    not readable.
  </li>
</ul>

<h1 id="r1.2.23">1.2.23</h1>
<p>Release Date: 2015-03-13</p>
<ul>
  <li>
    Fake paging of search results also works now if the LDAP server does
    not return a size-limit LDAP result code (e.g. W2K12 AD DS).
  </li>
  <li>
    Registered attribute type <var>msExchMailboxGuid</var> with plugin
    class <var>MsAdGUID</var>.
  </li>
  <li>
    The example configuration files for Apache were split into 2.2 and 2.4
    variants which are used in Debian and openSUSE installation instructions.
  </li>
  <li>
    Code cleaning when generating additional links for <var>memberOf</var>
    for general schema and for &AElig;-DIR.
  </li>
  <li>
    Work-arounds for interop issues with W2K12 AD DS:
    <ul>
      <li>
        Graceful handling of non-DN authz name in group administration
        because of Who Am I? returning non-DN result which cannot be mapped
        to DN by internal authz-DN search.
      </li>
      <li>
        Graceful handling of Who Am I? returning <var>None</var> as result.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.22">1.2.22</h1>
<p>Release Date: 2015-03-01</p>
<ul>
  <li>
    Removed HTML tag attribute <var>autofocus</var> from all HTML templates
    because it interferes the hidden skip navigation links.
  </li>
  <li>
    Added <var>krbCanonicalName</var> to Kerberos search form template.
  </li>
  <li>
    Eliminated hard-coded DNs in plugin module for &AElig;-DIR.
  </li>
  <li>
    Added LDIF template for X.509 CA entries based on
    <var>applicationProcess</var> and <var>pkiCA</var>.
  </li>
  <li>
    Added to top section template:
    <ul>
      <li>
        &lt;meta name=&quot;referrer&quot; content=&quot;no-referrer&quot;&gt;
      </li>
      <li>
        &lt;meta name=&quot;viewport&quot; ...&gt; for mobile displays
      </li>
    </ul>
  </li>
  <li>
    Added specific search form template for MS AD (see search context menu).
  </li>
  <li>
    Stricter <var>IA5 String</var> validation.
  </li>
  <li>
    Added read and input form HTML template for <var>inetLocalMailRecipient</var>.
  </li>
</ul>

<h1 id="r1.2.21">1.2.21</h1>
<p>Release Date: 2015-02-10</p>
<ul>
  <li>
    Unnecessary &lt;br&gt; tags are avoided when generating input forms.
  </li>
  <li>
    Fixed/improved DNS RR search links in plugin class for
    <var>dhcpOption</var> and <var>dhcpStatements</var>.
  </li>
  <li>
    Plugin class registration for attribute types can now be limited to
    certain structural object classes. This is backward-compatible and does
    not affect existing plugin modules.
  </li>
  <li>
    New mix-in plugin class <var>w2lapp.schema.syntaxes.ComposedAttribute</var>
    composes attributes values from other attribute values within an entry.
    Obviously this only works for single value attributes.
  </li>
  <li>
    New plugin module <var>w2lapp.schema.plugins.inetorgperson</var>
    with plugin classes derived from <var>ComposedAttribute</var>
    generating values for attributes <var>cn</var> and <var>displayValue</var>.
  </li>
  <li>
    Added HTML templates for <var>posixGroup</var>.
  </li>
  <li>
    Added skip navigation links to top of page to ease jumping to content
    and menu areas
    (see <a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-skip">WAI quick ref.</a>).
  </li>
  <li>
    Merged &AElig;-DIR customization:
    <ul>
      <li>
        New plugin module <var>w2lapp.schema.plugins.aedir</var>
      </li>
      <li>
        LDIF and HTML templates
      </li>
      <li>
        Example configuration
      </li>
    </ul>
</ul>

<h1 id="r1.2.20">1.2.20</h1>
<p>Release Date: 2015-02-06</p>
<ul>
  <li>
    Compacted LDAP connection info in <em>[ConnInfo]</em>.
  </li>
  <li>
    Added search form template for MIT Kerberos schema.
  </li>
  <li>
    Hit list of remote IPs seen displayed in monitor page.
  </li>
  <li>
    Added <a href="https://msdn.microsoft.com/en-us/library/cc223351.aspx">
    LDAP_SERVER_LAZY_COMMIT_OID</a> as supported value-less control.
  </li>
  <li>
    Uniqueness checks performed when registering plugin classes:
    <ul>
      <li>
        Syntax class <var>oid</var> must not re-used.
        An exception is raised in this case which gives details about the
        parameters used.
      </li>
      <li>
        A warning is written to <var>stderr</var> when overriding a
        formerly registered plugin class for an attribute type.
      </li>
    </ul>
  </li>
  <li>
    Fixed a couple of misregistrations of plugin classes.
  </li>
  <li>
    A warning is written to <var>stderr</var> during startup when importing
    site-specific configuration module <var>web2ldapcnf.local</var> fails.
  </li>
</ul>

<h1 id="r1.2.19">1.2.19</h1>
<p>Release Date: 2015-01-30</p>
<ul>
  <li>
    All remote IP addresses ever getting a session are counted.
  </li>
  <li>
    The code maintaining session ID and remote IP associations was cleaned up.
  </li>
  <li>
    Standard search form templates were overhauled. Redundant templates were
    removed and more specific templates added (NIS, DNS, DHCP).
  </li>
  <li>
    Empty search attribute type is simply ignored.
  </li>
  <li>
    User interface of enabling/disabling extended controls was overhauled:
    <ul>
      <li>
        Controls can now be enabled/disabled with one click
        (no separate &lt;form&gt;).
      </li>
      <li>
        Per default only controls known in <var>rootDSE</var> are listed.
        The list can be expanded with one click though.
      </li>
      <li>
        Unknown controls are displayed striked instead of an X in a
        separate table column. This also saves horizontal space.
      </li>
      <li>
        Removed erroneous handling of <em>Values Sort Control</em>.
      </li>
    </ul>
  </li>
</ul>

<h1 id="r1.2.18">1.2.18</h1>
<p>Release Date: 2015-01-27</p>
<ul>
  <li>
    Fixed again generating input form values for <var>associatedDomain</var>.
  </li>
  <li>
    Plugin class for <var>associatedDomain</var> now displays links to
    search matching <var>A RR</var> entries for reverse DNS RR entries
    (<var>.in-addr.arpa</var>).
  </li>
  <li>
    Fixed regression when displaying error message in schema viewer.
  </li>
  <li>
    New plugin classes for attribute types <var>member</var> and
    <var>memberOf</var>.
  </li>
</ul>

<h1 id="r1.2.17">1.2.17</h1>
<p>Release Date: 2015-01-25</p>
<ul>
  <li>
    Implemented per remote IP session limits additionally to the global limit.
    This requires new global parameter
    <a href="web2ldapcnf.html#session_per_ip_limit">session_per_ip_limit</a>
    to be set in your configuration.
  </li>
  <li>
    <var>OctetString</var> values are now displayed as a proper hex-dump
    with offset and ASCII excerpt.
  </li>
  <li>
    Registered more Kerberos attribute types with <var>Timespan</var>
    plugin class.
  </li>
  <li>
    Fixed some small issues found with <em>pychecker</em>.
  </li>
</ul>

<h1 id="r1.2.16">1.2.16</h1>
<p>Release Date: 2015-01-22</p>
<ul>
  <li>
    Fixed plugin class registration bug which could lead to
    <var>IOError</var> exception.
  </li>
  <li>
    Major changes to displaying of search results:
    <ul>
      <li>
        Detailed view of search parameters and the export form is provided
        at end of page. An intra-document link points to that section.
        Mainly this saves vertical space at top of page.
      </li>
      <li>
        An equivalent <em>ldapsearch</em> command-line is generated based
        on the search parameters which is only compatible with OpenLDAP's
        command-line tool though.
      </li>
      <li>
        Some minor fixes in HTML markup.
      </li>
    </ul>
  </li>
  <li>
    More minor improvements in DIT browser.
  </li>
  <li>
    Start of main &lt;div&gt; and top anchor are now part of
    <a href="web2ldapcnf_hosts.html#top_template">top_template</a>.
    This makes the top link always work independent of the CSS layout.
  </li>
  <li>
    Small HTML fixes here and there.
  </li>
</ul>

<h1 id="r1.2.15">1.2.15</h1>
<p>Release Date: 2015-01-21</p>
<ul>
  <li>
    Added workaround in DIT browser for servers which return search results
    for one-level search below an empty root DN.
  </li>
  <li>
    Limits/error handling of DIT browser more robust now
    (<var>ldap.ADMINLIMIT_EXCEEDED</var> etc.).
  </li>
  <li>
    <var>DIT_MAX_LEVELS</var> is now enforced in DIT browser.
  </li>
  <li>
    For the current selected DN the link is now for collapsing the sub-tree
    (simply browse from parent entry).
  </li>
  <li>
    Intra-document links are displayed in &quot;Syntax check failed&quot;
    which point to the attribute's input field. This is helpful for the
    user if HTML templates are used for input names without mentioning real
    attribute names.
  </li>
  <li>
    Some minor improvements to default CSS theme.
  </li>
  <li>
    For all [Up] and [Down] links the advanced search form is used now.
  </li>
</ul>

<h1 id="r1.2.14">1.2.14</h1>
<p>Release Date: 2015-01-20</p>
<ul>
  <li>
    Added basic DIT browser reachable with [Tree] in main menu.<br>
    This is a rather useless feature if you have more than a handful of
    entries. But many people seem to be keen to waste their time clicking
    around in their web browser instead of using a proper search.
  </li>
</ul>

<h1 id="r1.2.13">1.2.13</h1>
<p>Release Date: 2015-01-19</p>
<ul>
  <li>
    Some minor changes to default CSS theme especially for smaller displays.
  </li>
  <li>
    Fixed various subtle <var>UnicodeError</var> exceptions,
    added more related assertions.
  </li>
</ul>

<h1 id="r1.2.12">1.2.12</h1>
<p>Release Date: 2015-01-18</p>
<ul>
  <li>
    Fixed <var>UnicodeError</var> exception when adding entries below a DN
    with non-ASCII chars.
  </li>
  <li>
    Finally a new default CSS theme was made (overdue for 1.2.x).
    Hope you like it.<br>
    The old 1.1 CSS theme can still be found in file
    <em>white-on-green.css</em>.
  </li>
  <li>
    Added plugin class for <var>sSHFPRecord</var>.
  </li>
  <li>
    Schema viewer now points to advanced search form for searching by
    attribute type existence or object class.
  </li>
  <li>
    When generating select fields for attribute types unnecessary sorting
    is avoided, value uniqueness is ensured and sorting is done
    case-insensitive.
  </li>
  <li>
    All input HTML templates now make extensive use of &lt;fieldset&gt; and
    &lt;legend&gt; tags instead of sub headings to group related input fields.
  </li>
</ul>

<h1 id="r1.2.11">1.2.11</h1>
<p>Release Date: 2015-01-15</p>
<ul>
  <li>
    Fixed unhandled exception when displaying <var>dhcpStatement</var>
    value with no space-separated value.
  </li>
  <li>
    Fixed generating input form values for <var>associatedDomain</var>.
  </li>
  <li>
    Fixed/improved some HTML search form templates.
  </li>
  <li>
    Added plugin class for <var>mXRecord</var>.
  </li>
  <li>
    Added additional safety check for invalid key string in HTML template
    dictionary.
  </li>
  <li>
    Added example configuration snippet for accessing web2ldap running as
    external FastCGI responder via <a href="https://www.lighttpd.net/">lighttpd</a>.
  </li>
  <li>
    Added script <code>sbin/web2ldap_postinstall.sh</code> which adds demon
    user/group, creates directories and fixes ownership/permissions.
  </li>
  <li>
    Added select list plugin class for NIS attribute <var>ipServiceProtocol</var>.
  </li>
  <li>
    Added inputform template for <var>dNSDomain2</var>.
  </li>
  <li>
    Updated fallback schema file <em>localschema.ldif</em>.
  </li>
  <li>
    <a href="https://tools.ietf.org/html/rfc7230#section-2.7.2">HTTPS</a>
    links are used for all IETF docs, PyPI and Google code links.
  </li>
  <li>
    Added HTML templates for object classes <var>namedObject</var> and
    <var>namedPolicy</var> (defined in
    <a href="https://tools.ietf.org/html/draft-stroeder-namedobject">draft-stroeder-namedobject</a>)
  </li>
  <li>
    Added HTML templates for object class <var>groupOfNames</var>.
  </li>
</ul>

<h1 id="r1.2.10">1.2.10</h1>
<p>Release Date: 2014-12-19</p>
<ul>
  <li>
    Fixed case-insensitive syntax checking of attribute <var>dhcpHWAddress</var>.
  </li>
  <li>
    Added link for search PTR RR entry when displaying  attributes
    <var>aRecord</var> and <var>aAAARecord</var>.
  </li>
  <li>
    Plugin class for <var>associatedDomain</var> now displays link to search
    referencing DNS RR entries.
  </li>
  <li>
    Improved suggesting reasonable input values for <var>associatedDomain</var>
    based on <var>domain</var> entries with attributes
    <var>nSRecord</var> or <var>sOARecord</var> found.
  </li>
  <li>
    Added <em>ssh-ed25519</em> to validation regex pattern for
    <var>sshPublicKey</var>.
  </li>
  <li>
    Plugin class for <var>dhcpStatements</var> and <var>dhcpOptions</var>
    now displays link to search related DNS RR entries for DHCP options
    <var>host-name</var> and <var>fixed-address</var>.
  </li>
  <li>
    Env vars <var>HTTP_X_REAL_IP</var>, <var>HTTP_FORWARDED_FOR</var>,
    <var>HTTP_X_FORWARDED_FOR</var> are derived from HTTP headers to get
    the real client IP address when running in stand-alone mode behind a
    proxy.
  </li>
  <li>
    Many small improvements to docs, config examples and a new wrapper script around
    <a href="http://redmine.lighttpd.net/projects/spawn-fcgi">spawn-fcgi</a>
    for running as a separate FastCGI process.
  </li>
  <li>
    FastCGI process starts even when configured PID file cannot be written.
  </li>
  <li>
    Added example configuration snippet for accessing web2ldap running as
    external FastCGI responder via <a href="http://www.nginx.org">nginx</a>.
  </li>
</ul>

<h1 id="r1.2.9">1.2.9</h1>
<p>Release Date: 2014-12-12</p>
<ul>
  <li>
    In case something goes wrong when reading LDIF templates the name of
    the template is displayed in the error message.
  </li>
  <li>
    Importing non-standard lib modules before extending <var>sys.path</var>
    is now avoided.
  </li>
  <li>
    Added LDIF template for entry with object class
    <var>olcModuleList</var> (for OpenLDAP's back-config).
  </li>
  <li>
    Added LDIF and HTML templates for various DHCP entries / object classes.
  </li>
  <li>
    Added <var>entryDN</var> to HTML templates for structural object classes.
  </li>
  <li>
    Registered multi-line plugin class for <var>dhcpOption</var>,
    <var>dhcpOptions</var> and <var>dhcpStatements</var>.
  </li>
  <li>
    Include more LAN types in regex for <var>dhcpHWAddress</var>.
  </li>
  <li>
    Corrected installation instructions and current version number is used everywhere.
  </li>
  <li>
    Error message is generated for a formerly unhandled exception when object
    classes of an entry are completely unknown and users hits [Modify].
  </li>
</ul>

<h1 id="r1.2.8">1.2.8</h1>
<p>Release Date: 2014-12-01</p>
<ul>
  <li>
    Added preliminary support for bulk copying entries
    based on search results (new checkbox in <em>bulkmod</em>).
    <strong>Use with care!</strong>
  </li>
  <li>
    Slightly improved support for OpenLDAP's <em>back-config</em>:
    <ul>
      <li>
        Moved templates to separate sub directory.
      </li>
      <li>
        Fixed/improved LDIF and HTML templates for <em>back-hdb</em>.
      </li>
      <li>
        New LDIF and HTML templates for <em>back-mdb</em>.
      </li>
      <li>
        Plugin class for <var>olcRootDn</var> now derives form input value
        from <var>olcSuffix</var>.
      </li>
    </ul>
  </li>
  <li>
    Added value for Windows 2012R2 to plugin class for
    <var>domainControllerFunctionality</var>.
  </li>
  <li>
    Added some Windows 2012R2 specific control and capabilities OIDs to
    LDAP OID registry.
  </li>
  <li>
    Added plugin module for the <em>Univention Corporate Server</em>
    which does not contain much yet.
  </li>
  <li>
    Registered attribute types <var>krb5PrincipalName</var>,
    <var>krb5RealmName</var> and <var>krb5Key</var> with more suitable LDAP
    syntax classes to make values displayable.
  </li>
</ul>

<h1 id="r1.2.7">1.2.7</h1>
<p>Release Date: 2014-11-28</p>
<ul>
  <li>
    New parameter
    <a href="web2ldapcnf_hosts.html#groupadm_optgroup_bounds">groupadm_optgroup_bounds</a>
    for defining the DN component slice to use to generate the
    &lt;optgroup&gt; in group administration.
  </li>
  <li>
    New plugin class for <var>namingContexts</var> displays link to search
    accompanying OpenLDAP's database configuration entries.
  </li>
  <li>
    Fixed unhandled exception when choosing printable output of search results.
  </li>
  <li>
    Small improvements to plugin class for <var>associatedDomain</var>.
  </li>
  <li>
    Added work-around to always ignore non-empty configuration value
    <a href="web2ldapcnf_hosts.html#requested_attrs">requested_attrs</a>
    when cloning an entry.
  </li>
</ul>

<h1 id="r1.2.6">1.2.6</h1>
<p>Release Date: 2014-11-13</p>
<ul>
  <li>
    Added plugin class for AD attribute <var>lockoutTime</var>.
  </li>
  <li>
    Fixed group administration exception in case attribute
    <var>objectClass</var> of group entry is not present.
  </li>
  <li>
    Fixed fallback to module <var>ipaddr</var>.
  </li>
  <li>
    Fixed plugin class pseudo OIDs
    <var>IPHostAddress.oid</var> and <var>IPNetworkAddress.oid</var>.
  </li>
  <li>
    Improved plugin class for <var>dhcpRange</var> for checking against
    network address specified in attributes <var>cn</var>/<var>dhcpNetMask</var>
    and suggesting the whole range as default value.
  </li>
  <li>
    Use <var>posixAccount</var> as default value for <var>objectClass</var>
    when searching primary member entries of a <var>posixGroup</var> entry
    by <var>gidNumber</var>.
  </li>
</ul>

<h1 id="r1.2.5">1.2.5</h1>
<p>Release Date: 2014-11-03</p>
<ul>
  <li>
    Fixed various regressions with extended control form handling introduced
    in <a href="#r1.2.2">1.2.2</a> when extending data structure in
    <var>ldapparams.AVAILABLE_BOOLEAN_CONTROLS</var>.
  </li>
  <li>
    Some minor HTML5 markup fixes/improvements.
  </li>
</ul>

<h1 id="r1.2.4">1.2.4</h1>
<p>Release Date: 2014-10-31</p>
<ul>
  <li>
    Plugin class for attribute <var>x509issuer</var> only uses normal DN
    value check.
  </li>
  <li>
    OID values with curly braces are now normalized to dotted IETF string
    representation for OIDs.
  </li>
  <li>
    Different plugin classes for IPv4 and IPv6 host and network addresses.
  </li>
  <li>
    Started new plugin module for
    <a href="http://www.linuxnetworks.de/pdnsldap/dnsdomain2.schema">dnsdomain2.schema</a>.
  </li>
</ul>

<h1 id="r1.2.3">1.2.3</h1>
<p>Release Date: 2014-10-21</p>
<ul>
  <li>
    Disabled using &quot;Don't Use Copy&quot; control for now because
    it's not gracefully handled in OpenLDAP MMR setups.
  </li>
</ul>

<h1 id="r1.2.2">1.2.2</h1>
<p>Release Date: 2014-10-21</p>
<ul>
  <li>
    Relaxed regex patterns for DNS-related attributes to allow underscore.
  </li>
  <li>
    <var>ldap.PROTOCOL_ERROR</var> is now silently ignored when trying to
    read the server's rootDSE.
  </li>
  <li>Fixed using the subentries extended control.</li>
</ul>

<h1 id="r1.2.1">1.2.1</h1>
<p>Release Date: 2014-10-09</p>
<ul>
  <li>
    Fixed sanitizing input values in case of equality search on
    <var>OctetString</var> syntaxes.
  </li>
</ul>

<h1 id="r1.2.0">1.2.0</h1>
<p>Release Date: 2014-10-03</p>
<dl>
  <dt>Installation and configuration changes</dt>
  <dd>
    The following changes to local system installation/configuration are
    <strong>required</strong>:
    <ul>
      <li>
        Update will break your
        <a href="https://xkcd.com/1172/">existing installation/configuration</a>!
      </li>
      <li>
        Upgrade to <a href="https://www.python.org/">Python 2.7.0 or newer</a>.
      </li>
      <li>
        Upgrade to <a href="https://www.python-ldap.org/">python-ldap 2.4.14 or newer</a>.
      </li>
      <li>
        Old separate TLS configuration parameters were obsoleted by new parameter
        <a href="web2ldapcnf_hosts.html#tls_options">tls_options</a>.
      </li>
    </ul>
  </dd>
  <dt>New features/enhancements</dt>
  <dd>
    <ul>
      <li>
        Implemented multi-session cookie handling with cross-checking
        against web2ldap's session ID to prevent attacks in
        case web server's access logs is not kept confidential.
        Cookie usage is enabled by setting
        <a href="web2ldapcnf.html#cookie_length">cookie_length</a>
        to a non-zero cookie value length.
      </li>
      <li>
        Now more TLS options can be set by using the more flexible
        host-/backend-specific parameter
        <a href="web2ldapcnf_hosts.html#tls_options">tls_options</a>.
      </li>
      <li>
        Input form entry data now processed in different steps to give
        plugin classes access to more attributes in the different stages.
        Especially there's a new method <var>LDAPSyntax.transmute()</var>
        which has guaranteed access to the whole entry and will be called
        several times if needed to make composing attributes values possible.
      </li>
      <li>
        The sequence of keys used to determine HTML templates from
        <a href="web2ldapcnf_hosts.html#input_template">input_template</a> and
        <a href="web2ldapcnf_hosts.html#read_template">read_template</a>
        is now first the <strong>single</strong> STRUCTURAL object class
        followed by all non-STRUCTURAL object classes.
      </li>
      <li>
        New context menu item [Clone] when displaying a single entry
        leads to add form being displayed with the old entry used as
        template.
      </li>
      <li>
        HTTP headers pre-configured with
        <a href="web2ldapcnf.html#http_headers">http_headers</a>
        are now consequently used for every HTTP response generated.
      </li>
      <li>
        Bulk modification/moving of entries derived from search results.
        New context menu item [Bulk modify] is shown when displaying search results.
      </li>
      <li>
        Bulk deleting of entries derived from search results.
        New context menu item [Delete] is shown when displaying search results.
      </li>
      <li>
        New host-/backend-specific configuration parameter
        <a href="web2ldapcnf_hosts.html#supplement_schema">supplement_schema</a>
        allows to extend the subschema with the content of a locally
        installed LDIF file.
      </li>
      <li>
        New host-/backend-specific configuration parameter
        <a href="web2ldapcnf_hosts.html#schema_strictcheck">schema_strictcheck</a>
        to deal with buggy subschema in some LDAP servers (e.g.
        <a href="https://fedorahosted.org/389/ticket/47811">issue #47811 in 389-DS</a>).
      </li>
      <li>
        Monitor page now shows maximum of concurrent sessions and how
        many sessions were removed after timeout in the session counter
        table.
      </li>
      <li>
        New host-/backend-specific configuration parameter
        <a href="web2ldapcnf_hosts.html#naming_contexts">naming_contexts</a>
        allows to set list of fake <var>namingContexts</var> values.
      </li>
      <li>
        When starting in stand-alone mode the hostname in command-line
        option <var>-l</var> is now fully honored to determine
        <var>SERVER_NAME</var> and thus the cookie domain.<br>
        This works around a cookie issue with Google Chrome etc.
        when listening just on <var>127.0.0.1</var>. You can now add e.g.
        <var>localhost.localdomain</var> to your /etc/hosts and set the
        hostname with <var>-l</var>.
      </li>
      <li>
        Plugin classes <var>SelectList</var> and friends now support
        additional option title. In particular <var>DynamicValueSelectList</var>
        looks for attributes <var>description</var> or <var>info</var> to
        determine the option title.
      </li>
      <li>
        Former configuration template files/snippets defined with
        <var>status_template</var>, <var>html_begin_template</var> and
        <var>link_css</var> are now all consolidated in one HTML template
        <a href="web2ldapcnf_hosts.html#top_template">top_template</a>.
      </li>
      <li>
        The redirect page can also be defined with a HTML template file referenced by
        <a href="web2ldapcnf.html#redirect_template">redirect_template</a>.
      </li>
      <li>
        Added <a href="http://www.opensearch.org/Specifications/OpenSearch">OpenSearch</a> example file.
      </li>
      <li>
        &quot;Don't Use Copy&quot; control is used if readable in rootDSE
        attribute <var>supportedControl</var> when reading an entry before
        presenting modification input form.
        OIDs from <a href="https://tools.ietf.org/html/rfc6171">RFC 6171</a>
        and OpenLDAP experimental are supported.
      </li>
    </ul>
  </dd>
  <dt>Dropped features</dt>
  <dd>
    <ul>
      <li>
        Support for normally unused parameter <var>web2ldapcnf.sec_expire</var>
        was removed also due to security issues with setting it to non-zero value.
      </li>
      <li>
        Host-/backend-specific parameter now <var>login_default_mech</var>
        obsolete. You can specify a default login mechanism in the HTML
        template referenced by
        <a href="web2ldapcnf_hosts.html#login_template">login_template</a>.
      </li>
    </ul>
  </dd>
  <dt>Changes in the UI</dt>
  <dd>
    <ul>
      <li>
        Full bookmark links are now generated and added as link to
        &lt;head&gt; section and in the displayed status area.
      </li>
      <li>
        When choosing [Modify] from the context menu the entry input form
        is shown directly.
      </li>
      <li>
        The entry input form now provides [+] and [-] buttons for easier
        input handling of multi-valued attributes.
      </li>
      <li>
        The entry input form now provides a button [Classes] for changing
        the set of chosen object classes.
      </li>
      <li>
        New plugin class <var>AuthzDN</var> additionally displays a
        description of the referenced entry. Registered for the
        following attribute types:
        <ul>
          <li>creatorsName</li>
          <li>modifiersName</li>
          <li>reqAuthzID</li>
          <li>monitorConnectionAuthzDN</li>
        </ul>
      </li>
      <li>
        If the user submitted a search form without assertion values the
        same search form is re-displayed now.
      </li>
      <li>
        When displaying search results the context menu now has a new
        menu item [Modify Search] which allows to edit the search input
        in an advanced search form if base or advanced search form was
        used before.
      </li>
      <li>
        No context menu anymore displayed along with input form for new entry.
      </li>
      <li>
        When adding a new entry two different forms are available for
        choosing the object classes:
        <ul>
          <li>
            Templates:<br>
            Displays a radio button list to choose from pre-configured
            <a href="web2ldapcnf_hosts.html#addform_entry_templates">
            LDIF templates</a>
          </li>
          <li>
            Expert:<br>
            Displays multi-select lists for choosing the object classes
            manually.
          </li>
        </ul>
      </li>
      <li>
        <var>mailto:</var> links only displayed along with search
        results if not only partial results were retrieved. Adding a
        mail address more than once is avoided.
      </li>
    </ul>
  </dd>
  <dt>Bugs fixed</dt>
  <dd>
    <ul>
      <li>
        Better error handling when exporting data to e.g. avoid HTML
        error messages appearing in LDIF export.
      </li>
      <li>
        More graceful handling of errors when accessing a LDAP server
        with very paranoid security settings (no anon bind, explicit
        bind required, etc.).
      </li>
    </ul>
  </dd>
  <dt>Security</dt>
  <dd>
    <ul>
      <li>
        Wherever possible the class
        <a href="http://docs.python.org/2.7/library/random.html#random.SystemRandom">
        random.SystemRandom</a> is now used for generating random stuff.
      </li>
    </ul>
  </dd>
</dl>

<!--#include file="ssi/footer.html" -->
