<!--#set var="web2ldap_subtitle" value="Compatibility" -->
<!--#set var="web2ldap_pagedescription" value="LDAP and HTTP servers, and other software tested so far" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
web2ldap is known to work smoothly with the software/platforms mentioned
here. If a software is not listed here does not mean it is not compatible
unless it is listed in the <a href="#negative_list">negative list</a>.
</p>

<p>
[<a href="#ldap_servers">LDAP servers</a>]
[<a href="#web_browsers">Web browsers</a>]
[<a href="#os">Operating systems</a>]
[<a href="#web_servers">Web servers</a>]
</p>

<h1 id="ldap_servers">LDAP Servers</h1>

<p>
  Please note that support for <em>LDAPv2</em> connections was dropped
  in release <a href="changes-1.1.html#r1.1.5">1.1.5</a> since this
  is considered historic since a quite while now
  (see also <a href="https://tools.ietf.org/html/rfc3494">RFC 3494</a>).
</p>

<table>

  <tr>
    <th>Server product</th>
    <th>Tested releases</th>
    <th>Comments</th>
    <th>Current Status</th>
  </tr>

  <tr>
    <td><a href="https://www.openldap.org">OpenLDAP</a></td>
    <td>2.x</td>
    <td>
      Open Source reference implementation of LDAPv3. web2ldap has some extra
      features for this server.
    </td>
    <td>Regularly used for interop tests.</td>
  </tr>

  <tr>
    <td><a href="http://www.opendj.org">OpenDJ</a></td>
    <td>2.4.x</td>
    <td>
      ForgeRock's fork of OpenDS which works just fine. Especially using more
      sophisticated LDAPv3 extended controls has been tested with this.
      Used for interop testing of DIT structure rules and name forms.
    </td>
    <td>Regularly used for interop tests.</td>
  </tr>

  <tr>
    <td>MS Active Directory</td>
    <td>W2K, W2K3, W2K3R2, W2K8, W2K8R2, W2K12</td>
    <td>
      Various work-arounds were added to handle the broken
      sub schema in W2K. Some extra features were added for MS AD.
    </td>
    <td>W2K3+ regularly used for interop tests.</td>
  </tr>

  <tr>
    <td><a href="http://directory.fedoraproject.org/">389 also known as Fedora Directory Server</a></td>
    <td>recent</td>
    <td>
      Seems to work but has subschema bugs with non-unique NAMEs and/or
      OIDs which requires to set
      <a href="web2ldapcnf_hosts.html#schema_strictcheck">schema_strictcheck=False</a>.
    </td>
    <td>Tested occasionally, accessible in <a href="demo.html">online demo</a>.</td>
  </tr>

  <tr>
    <td>CA eTrust Directory</td>
    <td>8.1 and 12.0</td>
    <td>
      Worked just fine. Release 8.1 used as reference server for implementing
      the viewer for DIT structure rules and name forms in web2ldap.
    </td>
    <td>Not tested for a while.</td>
  </tr>

  <tr>
    <td><a href="http://www.novell.com/products/edirectory/">Novell eDirectory</a></td>
    <td>8.7.x and 8.8.x</td>
    <td>
      Ships with broken schema (non-unique OIDs) but
      recent web2ldap versions have work-arounds for this.
    </td>
    <td>Not tested for a while.</td>
  </tr>

  <tr>
    <td>Netscape Directory Server</td>
    <td>4.x</td>
    <td>Used to work just fine but not tested for a while.</td>
    <td>Historic</td>
  </tr>

  <tr>
    <td>iPlanet/SunONE Directory Server</td>
    <td>5.x and 6.x</td>
    <td>
      Seems to work but has subschema bugs with non-unique NAMEs and/or
      OIDs which requires to set
      <a href="web2ldapcnf_hosts.html#schema_strictcheck">schema_strictcheck=False</a>.
    </td>
    <td>Tested rather rarely</td>
  </tr>

  <tr>
    <td>Oracle DSEE (formerly Sun)</td>
    <td>11.1.1.7.2</td>
    <td>
      Seems to work but has subschema bugs with non-unique NAMEs and/or
      OIDs which requires to set
      <a href="web2ldapcnf_hosts.html#schema_strictcheck">schema_strictcheck=False</a>.
    </td>
    <td>Tested recently (04/2015)</td>
  </tr>

  <tr>
    <td>Lotus Domino LDAP</td>
    <td>R5.x, R6.x and R7.0.x</td>
    <td>
      Most times it works quite well. Persistent connections are
      dropped very fast - depends on the version I guess. web2ldap
      contains a work-around for the null-byte terminated string
      of the <em>namingContexts</em> attribute in Domino/LDAP's RootDSE.
    </td>
    <td>Tested rather rarely (last time 7.03)</td>
  </tr>

  <tr>
    <td>Siemens DirX</td>
    <td>6.x</td>
    <td>
      Worked just fine. Added support in web2ldap for searching the
      administrative sub entries.
    </td>
    <td>Not tested for a while.</td>
  </tr>

  <tr>
    <td>Innosoft Distributed Directory Server (IDDS)</td>
    <td>unknown version</td>
    <td>
      Only read-only tests were done and the product is not available anymore
      for years.
    </td>
    <td>Historic</td>
  </tr>

  <tr>
    <td>Critical Path InJoin and Directory Server 4.2</td>
    <td>4.x</td>
    <td>
      Worked without problems.
    </td>
    <td>Not tested for a while.</td>
  </tr>

  <tr>
    <td>Syntegra</td>
    <td>unknown version</td>
    <td>
      Read-only tests on a public address book server worked.
    </td>
    <td>Historic.</td>
  </tr>

  <tr>
    <td>IBM Directory Server</td>
    <td>unknown version</td>
    <td>
      Worked without problems.
    </td>
    <td>Not tested for a while.</td>
  </tr>

  <tr>
    <td><a href="https://directory.apache.org/">Apache DS</a></td>
    <td>1.5 and 2.0M7</td>
    <td>
      Simple operations have been reported to work just fine.
      Recent 2.0M7 caused interop problems with invalid
      password policy response control.
    </td>
    <td>Tested rarely.</td>
  </tr>

  <tr>
    <td><a href="http://www.opends.org/">OpenDS</a></td>
    <td>1.0 and 2.0RC</td>
    <td>
      Worked just fine also with DIT structure rules and name forms.
    </td>
    <td>Not tested for a while since project seems dead.</td>
  </tr>

  <tr>
    <td><a href="http://www.isode.com/products/m-vault-directory.html">Isode's M-Vault LDAP/X.500 Directory Server</a></td>
    <td>R14</td>
    <td>
      Some glitches were resolved in <a href="changes-1.0.html#r1.0.7">web2ldap 1.0.7</a> to work with
      the M-Vault Directory Server.
    </td>
    <td>Not tested for a while.</td>
  </tr>

  <tr>
    <td><a href="http://www.viewds.com/products/directory-server.html">ViewDS (formerly View500)</a></td>
    <td>6.0e11</td>
    <td>
      Works also with DIT structure rules and name forms. web2ldap honors
      the operational attribute <var>governingStructureRule</var>.
    </td>
    <td>Not tested for a while.</td>
  </tr>

</table>


<h1 id="web_browsers">Web Browsers</h1>

<p>
  <a HREF="http://www.anybrowser.org/campaign/">
  <img src="http://www.anybrowser.org/campaign/bvgraphics/w3c_ab.png" hspace="2" border=0 alt="Content Enhanced - Use Any Browser"></a>
</p>

<dl>

  <dt><a href="http://www.mozilla.org">Mozilla</a></dt>
  <dd>
    Mozilla 1.x already had very good CSS support.<br>
    Recent versions of Firefox and Seamonkey simply work and are used as a 
    reference.
  </dd>

  <dt><a href="https://konqueror.org">Konqueror</a></dt>
  <dd>
    The web browser and file manager of the KDE project:
    Note the input forms enclosed in &lt;fieldset&gt; were not displayed
    by older versions.
    (see <a href="http://bugs.kde.org/show_bug.cgi?id=44643">KDE bug #44643 RESOLVED</a>).
  </dd>

  <dt>Microsoft Internet Explorer</dt>
  <dd>
    Support for CSS depends very much on the version used. The modern
    CSS files shipped with web2ldap likely does not work with IE 6.0
    and before. Some minor CSS glitches with IE 7.0.
  </dd>

  <dt><a href="https://www.opera.com">Opera</a></dt>
  <dd>
    Commercial browser. Aims to be fast and small.
    Also very good CSS support.
  </dd>

  <dt><a href="https://www.google.com/chrome/">Google Chrome</a></dt>
  <dd>
    Simply works.
  </dd>

  <dt><a href="http://lynx.invisible-island.net/">lynx</a></dt>
  <dd>
    A text-mode browser - still supported for those who have to use a terminal.
  </dd>

  <dt><a href="http://w3m.sourceforge.net/">w3m</a></dt>
  <dd>
    Another text-mode browser capable of handling tables and
    displaying images (if the terminal allows it).
  </dd>

</dl>

<h1 id="os">Operating Systems</h1>

<dl>

  <dt>Linux</dt>
  <dd>
    Please do not use outdated OS packages.
  </dd>

  <dt>FreeBSD</dt>
  <dd>
    There is a FreeBSD port of web2ldap but outdated.
  </dd>

</dl>

<h1 id="web_servers">Web Servers</h1>

<dl>

  <dt><a href="https://httpd.apache.org">Apache HTTP Server</a></dt>
  <dd>
    I don't have to write any explanation about this one...
  </dd>

  <dt><a href="https://uwsgi.readthedocs.io">UWSGI</a></dt>
  <dd>
    several modes possible,
    also used within <a href="https://ae-dir.com">&AElig;-DIR</a> configuration
    via <a href="https://uwsgi.readthedocs.io/en/latest/Apache.html#mod-proxy-uwsgi">mod_proxy_uwsgi</a>
  </dd>

  <dt><a href="https://www.lighttpd.net/">lighttpd</a></dt>
  <dd>
    ***TO-DO: Update for WSGI***
  </dd>

  <dt><a href="http://www.nginx.org">nginx</a></dt>
  <dd>
    ***TO-DO: Update for WSGI***
  </dd>

</dl>

<!--#include file="ssi/footer.html" -->
