<!--#set var="web2ldap_subtitle" value="Demo" -->
<!--#set var="web2ldap_pagedescription" value="Access to some public LDAP servers" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<!--#set var="w2l_url" value="https://demo.web2ldap.de/web2ldap" -->

<p>
  <strong>
    web2ldap as generic LDAP client only displays the dynamically
    retrieved content of 3rd-party LDAP directories. I am not responsible
    for the data displayed through web2ldap demo in any way.
  </strong>
</p>

<dl>
  <dt id="ae-dir.org">&AElig;-DIR demo</dt>
  <dd>
    web2ldap used as
    <a href="https://demo.ae-dir.com/web2ldap">admin UI for &AElig;-DIR</a>
    with write access for different admin roles
    (see <a href="https://demo.ae-dir.com/web2ldap.html">
    &AElig;-DIR | User Guide -- web2ldap</a>).
  <dt>Schema browser</dt>
  <dd>
    Directly jump into the schema browser:
    <ul>
      <li>
        <a target="web2ldap_demo" href="https://demo.ae-dir.com/web2ldap/oid?ldapi://%2Fopt%2Fae-dir%2Frun%2Fslapd%2Fldapi/ou=ae-dir????bindname=aead,X-BINDPW=CorrectHorseBatteryStaple">
        &AElig;-DIR</a>
      </li>
      <li>
        <a target="web2ldap_demo" href="<!--#echo var="w2l_url" -->/oid?ldap://ipa.demo1.freeipa.org/dc=demo1,dc=freeipa,dc=org">
        FreeIPA (389-DS)</a>
      </li>
    </ul>
  </dd>
  <dt>More public LDAP servers...</dt>
  <dd>
    More LDAP public servers to access through the
    <a target="web2ldap_demo" href="<!--#echo var="w2l_url" -->">demo web2ldap service</a>.
  </dd>
</dl>

<!--#include file="ssi/footer.html" -->
