<!--#set var="web2ldap_subtitle" value="Download" -->
<!--#set var="web2ldap_pagedescription" value="Download source distribution" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  You probably rather want to check out the
  <a href="install.html">installation instructions</a>
  how to install via <em>pip</em>.
</p>

<p>
  The source distribution is provided as gzipped tar ball:
</p>
<ul>
  <li>
    <a
      type="application/octet-stream"
      href="https://www.web2ldap.de/download/web2ldap-<!--#include file="ssi/release.shtml" -->.tar.gz"
    >
    web2ldap-<!--#include file="ssi/release.shtml" -->.tar.gz</a>
    (<a href="changes-1.5.html#r<!--#include file="ssi/release.shtml" -->">release notes</a>)
  </li>
  <li>
    <a
      type="application/octet-stream"
      href="https://www.web2ldap.de/download/web2ldap-<!--#include file="ssi/release.shtml" -->.tar.gz.asc"
    >
      PGP package signature file
    </a>
    (see <a href="https://www.stroeder.com/impressum.html">PGP key download</a>)
  </li>
</ul>

<p>
  Wheel installation file:
</p>
<ul>
  <li>
    <a
      type="application/octet-stream"
      href="https://www.web2ldap.de/download/web2ldap-<!--#include file="ssi/release.shtml" -->-py3-none-any.whl"
    >
    web2ldap-<!--#include file="ssi/release.shtml" -->-py3-none-any.whl</a>
  </li>
  <li>
    <a
      type="application/octet-stream"
      href="https://www.web2ldap.de/download/web2ldap-<!--#include file="ssi/release.shtml" -->-py3-none-any.whl.asc"
    >
      PGP package signature file
    </a>
    (see <a href="https://www.stroeder.com/impressum.html">PGP key download</a>)
  </li>
</ul>

<h1 id="license">Copyright and License</h1>
<p>
  &copy; 1998-2020 by <a href="https://stroeder.com/impressum.html">Michael Str&ouml;der</a>
</p>
<p>
  web2ldap 1.3.0 and newer is distributed under the following license:
</p>
<pre>
  Licensed under the Apache License, Version 2.0 (the "License"); you may
  not use files and content provided on this web site except in compliance
  with the License. You may obtain a copy of the License at

      <a href="https://www.apache.org/licenses/LICENSE-2.0">https://www.apache.org/licenses/LICENSE-2.0</a>

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
</pre>
<p>Further notes:</p>
<ul>
  <li>
    The author refuses to give any warranty of any kind.
  </li>
  <li>
    The source files are using the machine-readable SPDX license identifier
    <a href="https://spdx.org/licenses/Apache-2.0.html">Apache-2.0</a>
  </li>
  <li>
    web2ldap 1.2.x and before is still under copy-left license
    <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL-2.0</a>.
  </li>
</ul>

<!--#include file="ssi/footer.html" -->
