<!--#set var="web2ldap_subtitle" value="FAQ" -->
<!--#set var="web2ldap_pagedescription" value="Frequently Asked Questions" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<h1>General</h1>

<dl>

  <dt>
    Is there a public <var>name-your-favourite-vcs-tool-here</var> repo?
  </dt>
  <dd>
    <a href="https://gitlab.com/ae-dir/web2ldap">gitlab.com/ae-dir/web2ldap</a>
    is publicly readable but might be removed or moved somewhere else
    without prior notice.
  </dd>

  <dt>
    How many developers are working on it?
  </dt>
  <dd>
    <a href="https://www.stroeder.com/">One</a>.
  </dd>

  <dt>
    Is it open source?
  </dt>
  <dd>
    Yes, see <a href="download.html">download</a> page.
  </dd>

  <dt>
    Does it have good <var>name-your-favourite-star-rating-here</var>?
  </dt>
  <dd>
    <a href="https://xkcd.com/937/">I don't care</a> ;-).
  </dd>

</dl>

<h1>Installation</h1>

<dl>

  <dt>
    <var>SyntaxError:</var> ...
  </dt>
  <dd>
    You are probably running a wrong Python version or one of the
    <a href="web2ldapcnf.html">configuration modules</a>
    is screwed up.<br>
    Have a closer look at the traceback where the <var>SyntaxError</var> appears.
  </dd>

  <dt>
    I've installed some packages coming with my <var>favourite Linux
    distribution</var> and get strange errors with...
  </dt>
  <dd>
    Note that many Linux distribution ship outdated Python modules in
    their package repositories. Thus for an easy start it is highly
    recommended to install in a virtual env like described in the
    <a href="install.html">installation instructions</a>.
  </dd>

  <dt>
    I have started web2ldap in stand-alone mode. It runs and accessing it
    from localhost works but I cannot access it over my network.
    What is wrong?
  </dt>
  <dd>
    <p>
      For security reasons web2ldap does not bind to every interface
      in your system as default like other network demons do. You have
      to explicitly bind to a specific network interface by using
      command line arguments.<br>
      <kbd>
      /opt/web2ldap/bin/web2ldap my.public.ether.addr port
      </kbd></p>
      E.g. you can enable binding to TCP port 1760 to all interfaces by
      <p><kbd>
      /opt/web2ldap/bin/web2ldap 0.0.0.0 1760
      </kbd>
    </p>
  </dd>

  <dt>
    I experience problems with session hijacking detection when
    accessing web2ldap through a web proxy or using HTTPS.
  </dt>
  <dd>
    Check out configuration parameter
    <a href="web2ldapcnf.html#session_checkvars">web2ldapcnf.session_checkvars</a>
    and especially read the note about <var>REMOTE_ADDR</var> and <var>REMOTE_HOST</var>.
  </dd>

</dl>

<h1>Customizing</h1>

<p>
  See also extra page <a href="usability.html">customizing UI</a>.
</p>

<dl>

  <dt>
    I want to avoid displaying the raw DNs in the search
    result table. How to do that?
  </dt>
  <dd>
    There are several possibilities:
    <ul>
      <li>
        Use configuration parameter
        <a href="web2ldapcnf_hosts.html#search_tdtemplate">search_tdtemplate</a>.
      </li>
      <li>
        Add the attribute <var>displayName</var> to your LDAP entry if
        appropriate in your schema (e.g. in object class <var>inetOrgPerson</var>).
      </li>
    </ul>
  </dd>

  <dt>
    I would like to setup some automatically filled fields. E.g.
    automatically set the <em>cn</em> (common name) attribute with
    the concatenation of values of the attributes
    <em>givenName</em> and <em>sn</em> (surname).
  </dt>
  <dd>
    <p>There are two ways of achieving something like this:</p>
    <ul>
      <li>
        Use LDIF templates for defining defaults for attributes when
        adding new entries (see host-/backend-specific parameter
        <a href="web2ldapcnf_hosts.html#addform_entry_templates">addform_entry_templates</a>).
      </li>
      <li>
        Implement a <a href="usability.html#plugin_classes">plug-in class</a>
        for the attribute type.
      </li>
    </ul>
  </dd>

  <dt>
    I would like to define a "select" item for certain input fields.
  </dt>
  <dd>
    This can be easily done by defining a plug-in class
    based on base class <var>web2ldap.app.schema.syntaxes.SelectList</var>
    and register it as a LDAP syntax handler or explicitly for an attribute type.
    A simple example can be found in the
    <a href="https://gitlab.com/ae-dir/web2ldap/blob/master/web2ldap/app/plugins/samba.py#L192">
      plugin module for Samba, class <var>SambaGroupType</var>
    </a>.
    <br>
    The select list can also be defined based on LDAP URLs specifying a
    dynamic result set used for the select options. Watch out for plugin
    classes based on <var>DynamicValueSelectList</var> or
    <var>DynamicDNSelectList</var>.
    <br>
    A simple example for that can also be found in the
    <a href="https://gitlab.com/ae-dir/web2ldap/blob/master/web2ldap/app/plugins/samba.py#L209">
      plugin module for Samba, class <var>SambaGroupSID</var>
    </a>.
  </dd>

  <dt>
    How to customize the HTML output to use different colors,
    different font size, etc.?
  </dt>
  <dd>
    Customization of layout can be done by defining a CSS file
    (<a href="http://www.w3.org/Style/CSS/">cascaded
    style sheet</a>). Almost all important HTML elements have own
    <em>id</em> or <em>class</em> attributes which can be used to
    define their appearance.
    Have a look at the example CSS files shipped with the source
    distribution package.
  </dd>

</dl>

<h1>Usage</h1>

<dl>

  <dt>
    I would like to upload a photo, a certificate or other binary
    attribute data. Is that possible?
  </dt>
  <dd>
    Yes. But up to now only a single value is supported per attribute.
    Uploading multiple binary attribute values is currently only possible
    via LDIF when adding or modifying an entry.
    You have to convert your binary data with a LDIF tool first
    and cut&amp;paste its output into the LDIF input field
    or provide a URL in the LDIF line (see global configuration
    parameter
    <a href="web2ldapcnf.html#ldif_url_schemes">
    web2ldapcnf.ldif_url_schemes</a>).
  </dd>

  <dt>
    I would like to delete a photo, a certificate or other binary
    attribute data. Is that possible?
  </dt>
  <dd>
    Yes, it is possible since
    <a href="changes-0.10.html#r0.10.0">version 0.10.0</a>.
    An additional [Delete] link is shown for binary attributes. Note
    that in case of multi-valued attributes all attribute
    values are deleted. You cannot delete a single chosen
    attribute value.
  </dd>

</dl>

<h1>Integration</h1>

<dl>

  <dt>
    I want to refer to the web2ldap gateway from a web page.
    Is there a way to get a persistent URL?
  </dt>
  <dd>
    Yes, see section <a href="usability.html#persistent_bookmarks">
    constructing persistent bookmarks</a> for details.
  </dd>

  <dt>
    Is there some way of nifty browser integration?
  </dt>
  <dd>
    With Mozilla-derived browsers you can use
    <a href="http://kb.mozillazine.org/Using_keyword_searches">
    Custom Keywords</a>.
  </dd>

  <dt>
    Is Kerberos-based authentication supported?
  </dt>
  <dd>
    Yes. <var>ldap0</var> has to been built with SASL/GSSAPI support and
    web2ldap has to be started in stand-alone mode by the end-user to use
    his/her ticket granting ticket (TGT). Make sure that only this
    particular end-user has access to web2ldap!
  </dd>

</dl>

<!--#include file="ssi/footer.html" -->
