<!--#set var="web2ldap_subtitle" value="Features" -->
<!--#set var="web2ldap_pagedescription" value="List of currently available features" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<h1>Running Mode</h1>

<ul>
  <li>
    Runs on Unix-derived OS (e.g. Linux, FreeBSD, Solaris etc.).
  </li>
  <li>
    Runs either stand-alone (built-in web server) or accessed via
    <a href="compatibility.html#web_servers">WSGI-enabled web server</a>.
  </li>
  <li>
    Highly configurable on a <a href="web2ldapcnf_hosts.html#ldap_def">
    per-host/-backend basis</a>.
  </li>
</ul>

<h1>User Interface</h1>

<ul>
  <li>
    Correctly handles <a href="https://xkcd.com/1647/">non-ASCII chars</a>
    (display and input).
  </li>
  <li>
    If the user does something wrong a tersely error
    message is given which is most times based on the
    info field returned by the LDAP server. If it makes sense
    the user can retry immediately his/her action with corrected input
    parameters.
  </li>
  <li>
    Configuring the search root is most times unnecessary.
  </li>
  <li>
    Support for file upload of binary attributes, e.g.
    <var>jpegPhoto</var> or <var>userCertificate</var>.
  </li>
  <li>
    Efficient browsing in directory trees with paged
    displaying of search results. Honors attributes
    <em>hasSubordinates</em>, <em>numSubordinates</em> and
    <em>subordinateCount</em> if available for determining
    if entries have subordinate entries.
  </li>
  <li>
    Displays JPEG pictures in-line with reasonable performance
    by short-term caching.
  </li>
  <li>
    Universal <var>title</var> attribute added to a lot of HTML tags
    to have sort of a bubble-help in browsers which support that.
  </li>
  <li>
    Attributes containing DNs, URLs or mail addresses are shown as
    links. DNs can be followed within <em>web2ldap</em> by simply
    pressing the link.
  </li>
  <li>
    If an error occurs during adding or modifying entries
    the user can edit and re-submit his input data.
  </li>
  <li>
    Tries to be friendly to <a href="compatibility.html#web_browsers">
    all browsers</a> by producing simple, but well-formed HTML 5.
  </li>
  <li>
    Recursive deletion of directory trees.
  </li>
  <li>
    Three different search forms:
    <dl>
      <dt>Basic</dt>
      <dd>Static search form based on customizable HTML template.</dd>
      <dt>Advanced</dt>
      <dd>Build search filter by choosing options from select lists.</dd>
      <dt>Expert</dt>
      <dd>Direct use of LDAP filter expressions.</dd>
    </dl>
  </li>
  <li>
    User-friendly handling of LDAPv3 referrals with
    reconnecting directly to referred host after presenting
    a login form to the user
    (see <a href="https://tools.ietf.org/html/rfc3296">RFC 3296</a>).
  </li>
  <li>
    OIDs in RootDSE attributes are displayed with name and description.
  </li>
  <li>
    Some (configurable) quick-buttons for common actions.
  </li>
  <li>
    Process LDIF input even with URL support (if configured).
  </li>
</ul>

<h1>Many Output Formats</h1>

<ul>
  <li>
    HTML templates can be used for displaying LDAP entries.
  </li>
  <li>
    HTML head section can be configured to include colors, background
    pictures or logos.
  </li>
  <li>
    ID params in main HTML tags for using Cascaded Style Sheets (CSS).
  </li>
  <li>
    Printer-friendly HTML output of search results
    based on a configurable HTML template string.
  </li>
  <li>
    Support for vCards - users of common browsers
    can easily add entries to their local address books.
  </li>
  <li>
    Bulk downloading of directory data as
    <ul>
      <li>
        LDIF or LDIFv1
        (see <a href="https://tools.ietf.org/html/rfc2849">RFC 2849</a>).
      </li>
      <li>
        Comma-separated values (CSV with semicolon as separator)
      </li>
      <li>
        Excel worksheet file
      </li>
    </ul>
</ul>


<h1 id="plugin">Plug-ins</h1>
<p>
  Plug-in modules/classes for specific handling of attributes/syntaxes.
  The following plug-in modules currently exist in directory
  web2ldap/w2lapp/schema/plugins/:
</p>
<table>
  <tr><th>Module name</th><th>Description</th></tr>

  <tr>
    <td>acp133</td>
    <td>
      mainly LDAP syntaxes defined for
      <a href="https://tools.ietf.org/html/draft-dally-acp133-and-ldap">ACP 133</a>
      with simple select lists, but could not tested
    </td>
  </tr>

  <tr>
    <td>activedirectory</td>
    <td>For MS AD and Samba 4</td>
  </tr>

  <tr>
    <td>aedir</td>
    <td>
      powerful plugin classes for maintaining
      <a href="https://www.ae-dir.com">&AElig;-DIR</a>
    </td>
  </tr>

  <tr>
    <td>apple</td>
    <td>support for Apple Open Directory</td>
  </tr>

  <tr>
    <td>asn1objects</td>
    <td>Class which can dump BER objects as pretty-printed ASN.1</td>
  </tr>

  <tr>
    <td>dds</td>
    <td>for dynamic entries defined in <a href="https://tools.ietf.org/html/rfc2589">RFC 2589</a></td>
  </tr>

  <tr>
    <td>dhcp</td>
    <td>for <a href="https://www.isc.org/dhcp/">ISC dhcpd</a> with LDAP backend</td>
  </tr>

  <tr>
    <td>dns</td>
    <td>for DNS RR entries like defined in <a href="http://www.linuxnetworks.de/pdnsldap/dnsdomain2.schema">dnsdomain2.schema</a></td>
  </tr>

  <tr>
    <td>edirectory</td>
    <td>Various syntaxes found in <a href="https://tools.ietf.org/html/draft-sermersheim-nds-ldap-schema">draft-sermersheim-nds-ldap-schema</a></td>
  </tr>

  <tr>
    <td>eduperson</td>
    <td>for attributes defined <a href="http://middleware.internet2.edu/eduperson/">eduPerson</a></td>
  </tr>

  <tr>
    <td>entrust</td>
    <td>Some small syntax quirks for Entrust PKI schema</td>
  </tr>

  <tr>
    <td>exchange</td>
    <td>Some small quirks for Exchange 5.5</td>
  </tr>

  <tr>
    <td>freeipa</td>
    <td>Some small quirks for <a href="https://www.freeipa.org">FreeIPA</a></td>
  </tr>

  <tr>
    <td>groups</td>
    <td>handles DN attributes related to groups</td>
  </tr>

  <tr>
    <td>h350</td>
    <td>for H.350 attributes defined in <a href="https://tools.ietf.org/html/rfc3944">RFC 3944</a></td>
  </tr>

  <tr>
    <td>ibmds</td>
    <td>Some small quirks for IBM Directory Server</td>
  </tr>

  <tr>
    <td>inetorgperson</td>
    <td>
      Plugin classes solely registered for composing certain attributes
      used with <var>inetOrgPerson</var>
      (see <a href="https://tools.ietf.org/html/rfc2798">RFC 2798</a>).
    </td>
  </tr>

  <tr>
    <td>krb5</td>
    <td>for heimdal and MIT Kerberos schema</td>
  </tr>

  <tr>
    <td>ldapns</td>
    <td>LDAP-based naming service</td>
  </tr>

  <tr>
    <td>lotusdomino</td>
    <td>for attributes in Lotus Domino's LDAP service</td>
  </tr>

  <tr>
    <td>msperson</td>
    <td>
      See <a href="https://www.stroeder.com/stroeder.com.schema">stroeder.com.schema</a>
    </td>
  </tr>

  <tr>
    <td>mssfu30</td>
    <td>Microsoft System Services for Unix 3.0</td>
  </tr>

  <tr>
    <td>nis</td>
    <td>
      NIS attributes (see also <a href="https://tools.ietf.org/html/rfc2307">RFC 2307</a>)
    </td>
  </tr>

  <tr>
    <td>oath</td>
    <td>
      Attributes used with
      <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>
    </td>
  </tr>

  <tr>
    <td>opends</td>
    <td>
      mainly some configuration attributes used in
      <a href="http://www.opendj.org">OpenDJ</a> (formerly known as OpenDS)
    </td>
  </tr>

  <tr>
    <td>openldap</td>
    <td>
      some attributes used in <a href="https://www.openldap.org">OpenLDAP</a>
      for
      <a href="https://www.openldap.org/software/man.cgi?query=slapd-config">back-config</a> and
      <a href="https://www.openldap.org/software/man.cgi?query=slapo-accesslog">slapo-accesslog</a>
      (see also <a href="https://tools.ietf.org/html/draft-chu-ldap-logschema">draft-chu-ldap-logschema</a>)
    </td>
  </tr>

  <tr>
    <td>pgpkeysrv</td>
    <td>Multi-line fields for PGP keys</td>
  </tr>

  <tr>
    <td>pilotperson</td>
    <td>for attributes defined in <a href="https://tools.ietf.org/html/rfc1274">RFC 1274</a></td>
  </tr>

  <tr>
    <td>pkcschema</td>
    <td>for attributes defined in <a href="https://tools.ietf.org/html/draft-ietf-pkix-ldap-pkc-schema">draft-ietf-pkix-ldap-pkc-schema</a></td>
  </tr>

  <tr>
    <td>ppolicy</td>
    <td>for attributes defined in <a href="https://tools.ietf.org/html/draft-behera-ldap-password-policy">draft-behera-ldap-password-policy</a></td>
  </tr>

  <tr>
    <td>quirks</td>
    <td>Various quirks for very misbehaving servers</td>
  </tr>

  <tr>
    <td>samba</td>
    <td>for Samba 3</td>
  </tr>

  <tr>
    <td>schac</td>
    <td>for attributes defined in <a href="https://wiki.refeds.org/display/STAN/SCHAC">SCHAC</a></td>
  </tr>

  <tr>
    <td>subentries</td>
    <td>for attributes defined for subentries (see <a href="https://tools.ietf.org/html/rfc3672">RFC 3672</a>)</td>
  </tr>

  <tr>
    <td>vchupwdpolicy
    <td>covering central password policy configuration attributes defined in <a href="https://tools.ietf.org/html/draft-vchu-ldap-pwd-policy">draft-vchu-ldap-pwd-policy</a></td>
  </tr>

  <tr>
    <td>vpim</td>
    <td>for attributes defined in VPIM (see <a href="https://tools.ietf.org/html/rfc4237">RFC 4237</a>)</td>
  </tr>

  <tr>
    <td>x500dsa</td>
    <td>for attributes available on real X.500 DSAs</td>
  </tr>
</table>


<h1 id="ldap">Advanced LDAP features</h1>

<dl>

  <dt>Schema support</dt>
  <dd>
    <ul>
      <li>
        Full LDAPv3 sub schema sub entry support when displaying
        an entry or input form with required and allowed attributes.
      </li>
      <li>
        Built-in schema browser displays all forward and backward references
        to other schema elements as links for all supported schema elements
        and allows a simple wildcard search by <var>OID</var> or <var>NAME</var>
        patterns.
      </li>
      <li>
        Supported and used schema attributes:
        <ul>
          <li>attributeTypes</li>
          <li>dITContentRules</li>
          <li>ldapSyntaxes</li>
          <li>matchingRuleUse</li>
          <li>matchingRules</li>
          <li>objectClasses</li>
          <li>dITStructureRules</li>
          <li>nameForms</li>
        </ul>
      </li>
      <li>
        Schema support has reasonable performance since
        caching of parsed sub schema sub entries is done.
      </li>
      <li>
        Full support for inherited schema elements (object classes
        and attribute types).
      </li>
      <li>
        Fall-back to a local schema definition in configuration stored in
        LDIF file (for e.g. LDAPv2 servers).
      </li>
      <li>
        Special handling of collective attributes.
      </li>
    </ul>
  </dd>

  <dt>Write Access</dt>
  <dd>
    <ul>
      <li>
        Support for adding, modifying, deleting entries, deleting sub trees
        and renaming entries.
      </li>
      <li>
        Schema-aware to provide schema-matching input forms
        for add/modify.
      </li>
      <li>
        Octet strings can be directly edited as hex-bytes.
      </li>
      <li>
        Plug-in classes implement specific input fields for many vendor-specific attributes.
      </li>
      <li>
        Configurable LDIF templates for new entries.
      </li>
      <li>
        Automatic search for missing parent entries if adding of an entry fails
        with &quot;no such object&quot;.
        (for reducing the same old boring questions on the LDAP-related
        mailing lists ;-).
      </li>
      <li>
        Input values for some attributes/syntaxes (e.g. <var>jpegPhoto</var>, certificates and CRLs)
        are automagically converted to the right format.
      </li>
    </ul>
  </dd>

  <dt>Password attributes</dt>
  <dd>
    <ul>
      <li>
        Password Modify Extended Operation (see <a href="https://tools.ietf.org/html/rfc3062">RFC 3062</a>)
      </li>
      <li>
        Generating client-hashed <var>userPassword</var> values (see also
        <a href="https://tools.ietf.org/html/draft-stroeder-hashed-userpassword-values">
        draft-stroeder-hashed-userpassword-values</a>).
      </li>
      <li>
        Synced setting of <em>userPassword</em> and Samba NT password attribute
        (support for old LAN manager hash was dropped in 1.1).
      </li>
      <li>
        Attribute <em>shadowLastChange</em> set if an entry has object
        class <em>shadowAccount</em>.
      </li>
      <li>
        Resetting the password attribute
        <a href="https://support.microsoft.com/en-us/help/269190/">
        <var>unicodePwd</var> in MS AD</a>.
      </li>
      <li>
        Removing various password-related attributes is supported even when
        the values are not visible (write-only access). Relax Rules Control
        can be used to remove operational attributes.
      </li>
    </ul>
  </dd>

  <dt>Group administration feature</dt>
  <dd>
    Convenient, secure and efficient way to add/remove an entry
    to/from a group entry. Many common group object classes are
    automagically supported:
    <ul>
      <li>groupOfNames</li>
      <li>groupOfUniqueNames</li>
      <li>rfc822MailGroup</li>
      <li>mailGroup</li>
      <li>posixGroup (see <a href="https://tools.ietf.org/html/rfc2307">RFC 2307</a>)</li>
      <li>groupOfEntries (see <a href="https://tools.ietf.org/html/draft-findlay-ldap-groupofentries">draft-findlay-ldap-groupofentries</a>)</li>
      <li>accessGroup (found in IBM SecureWay)</li>
    </ul>
    Even large groups (>100000 members) are handled with
    reasonable performance. Security problems even with distributed
    management are avoided by &quot;just doing it right&quot;.
  </dd>

  <dt>LDAP connection handling</dt>
  <dd>
    Automatically determine the protocol version and features
    supported by the LDAP server. Falls back to reasonable defaults
    if features are not available.
  </dd>

  <dt>LDAP URLs</dt>
  <dd>
    It it possible to directly use LDAP URLs (see
    <a href="https://tools.ietf.org/html/rfc4516">RFC 4516</a>)
    to reference LDAP entries and LDAP search results. Example:
    <samp>
      <code>
        http://demo.web2ldap.de:1760/web2ldap/ldapurl?ldap://ldap.openldap.org/dc=openldap,dc=org
      </code>
    </samp>
    Note: Although most LDAP URLs will work you should use URL-quoted LDAP URLs.
  </dd>

  <dt>Root DSE</dt>
  <dd>
    <ul>
      <li>
        Uses namingContexts attribute from RootDSE to
        determine appropriate search root automatically.
      </li>
    </ul>
  </dd>

  <dt>LDAPv3 Referrals</dt>
  <dd>
    <ul>
      <li>
        Displays new login mask to
        repeat current action after chasing a referral.
      </li>
      <li>
        Search continuations are displayed.
      </li>
    </ul>
  </dd>

  <dt>Locating LDAP service</dt>
  <dd>
    Try to locate a LDAP host for a specific domain, dc-style DN
    (<a href="https://tools.ietf.org/html/rfc2247">RFC 2247</a>,
    <a href="https://tools.ietf.org/html/rfc2377">RFC 2377</a>)
    or e-mail address (see
    <a href="https://tools.ietf.org/html/draft-ietf-ldapext-ldap-taxonomy">
    draft-ietf-ldapext-ldap-taxonomy</a>).
    <ul>
      <li>
        Well known DNS aliases (kinda primitive anyway)
      </li>
      <li>
        LDAPv3 Referrals (knowledge references)
      </li>
      <li>
        Locate LDAP host via SRV RR (see also
        <a href="https://tools.ietf.org/html/rfc2782">RFC 2782</a>).
        This is automatically done if e.g a LDAP URL does not contain
        a host name but a dc-style DN or if an error response was received
        with error code <var>NO_SUCH_OBJECT</var> (somewhat inspired by
        <a href="https://tools.ietf.org/html/rfc3088">RFC 3088</a>).
      </li>
    </ul>
  </dd>

  <dt>allowed* attributes</dt>
  <dd>
    Some attributes provided by MS Active Directory and partially by
    OpenLDAP's <em>slapo-allowed</em> are used:
    <ul>
      <li>
        <a href="https://msdn.microsoft.com/en-us/library/cc220102.aspx">allowedAttributesEffective</a>
        to determine writeable attributes when displaying entry input form
        for modification
      </li>
      <li>
        <a href="https://msdn.microsoft.com/en-us/library/cc220103.aspx">allowedChildClasses</a>
        to determine suitable object classes for child entries when
        displaying object class select form during adding new entry
      </li>
    </ul>
  </dd>

  <dt>LDAPv3 extended controls</dt>
  <dd>
    <dl>
      <dt>Manage DSA IT mode</dt>
      <dd>
        For editing referral entries
        (see <a href="https://tools.ietf.org/html/rfc3296">RFC 3296</a>).
      </dd>
      <dt>Subentries</dt>
      <dd>
        Two different controls for searching subentries
        (see <a href="https://tools.ietf.org/html/rfc3672">RFC 3672</a>
        and <a href="https://tools.ietf.org/html/draft-ietf-ldup-subentry-07">draft-ietf-ldup-subentry-07</a>)
      </dd>
      <dt>Relax Rules Control (formerly Manage DIT control)</dt>
      <dd>
        For editing operational attributes
        (see <a href="https://tools.ietf.org/html/draft-zeilenga-ldap-relax">draft-zeilenga-ldap-relax</a>).
      </dd>
      <dt>Tree Delete</dt>
      <dd>
        deletion of whole subtrees with a single DeleteRequest (see
        <a href="https://tools.ietf.org/html/draft-armijo-ldap-treedelete">draft-armijo-ldap-treedelete</a>).
      </dd>
      <dt>Assertion Control</dt>
      <dd>
        is used when sending a modify request
        if the seems to support it to prevent the server to process the
        request if the entry has been changed in between
        (see <a href="https://tools.ietf.org/html/rfc4528">RFC 4528</a>).
        Host-specific parameter
        <a href="web2ldapcnf_hosts.html#modify_constant_attrs">modify_constant_attrs</a>
        is used to generate the assertion filter.
      </dd>
      <dt>Password policy</dt>
      <dd>
        Displaying password warnings and guide the user to change the password (see
        <a href="https://tools.ietf.org/html/draft-behera-ldap-password-policy">draft-behera-ldap-password-policy</a>).
      </dd>
      <dt>Read Entry Control</dt>
      <dd>
        Retrieving <var>DN</var> and attribute <var>entryUUID</var> when adding/renaming
        an entry (see <a href="https://tools.ietf.org/html/rfc4527">RFC 4527</a>).
      </dd>
      <dt>Session Tracking Control</dt>
      <dd>
        The client's IP address, the server name and the <var>LDAPObject</var>
        instance hash is sent to the LDAP server for debugging
        (see <a href="https://tools.ietf.org/html/draft-wahl-ldap-session">draft-wahl-ldap-session</a>).
      </dd>
      <dt>OpenLDAP's no-op search control</dt>
      <dd>
        Count of all search results is retrieved by using OpenLDAP's no-op search control
        in case only partial search results were returned
        (see <a href="https://bugs.openldap.org/show_bug.cgi?id=6598">OpenLDAP ITS#6598</a>).
      </dd>
      <dt>Don't Use Copy control</dt>
      <dd>
        Is used if found in rootDSE attribute <var>supportedControl</var>
        when reading an entry before presenting modification input form.
        OIDs from <a href="https://tools.ietf.org/html/rfc6171">RFC 6171</a>
        and OpenLDAP experimental are supported.
      </dd>
    </dl>
  </dd>

  <dt>LDAPv3 extended operations</dt>
  <dd>
    <dl>
      <dt>StartTLS</dt>
      <dd>
        provides transport layer security with TLS
        (see <a href="https://tools.ietf.org/html/rfc4513">RFC 4513</a>).
      </dd>
      <dt>&quot;Who am I?&quot;</dt>
      <dd>
        this operation shows which bind-DN is in effect e.g. when using SASL bind
        (see <a href="https://tools.ietf.org/html/rfc4532">RFC 4532</a>).
      </dd>
      <dt>Password Modify Extended Operation</dt>
      <dd>
        for server-side password setting
        (see <a href="https://tools.ietf.org/html/rfc3062">RFC 3062</a>).
      </dd>
      <dt>Refresh Dynamic Entry Extended Operation</dt>
      <dd>
        for server-side refreshing of a dynamic entry
        (see <a href="https://tools.ietf.org/html/rfc2589">RFC 2589</a>).
      </dd>
    </dl>
  </dd>

  <dt>LDAPv3 extensions</dt>
  <dd>
    <dl>
      <dt>All Operational Attributes</dt>
      <dd>
        Request the server to return all operational attributes in a search response.
        (See rootDSE attribute <var>supportedFeatures</var>, OID 1.3.6.1.4.1.4203.1.5.1,
        see also <a href="https://tools.ietf.org/html/rfc3673">RFC 3673</a>)
      </dd>
    </dl>
  </dd>

</dl>

<h1>Advanced HTTP options</h1>

<ul>
  <li>
    Downloading of binary attributes with appropriate mapping
    to MIME types.
  </li>
  <li>
    Optionally use the right character set for output according to the
    HTTP header <code>Accept-Charset</code> sent by the HTTP client.
  </li>
</ul>

<h1>Security</h1>

<ul>
  <li>
    Support for SASL bind.
  </li>
  <li>
    Default configuration is quite strict.
  </li>
  <li>
    Since the user logs in and opens a persistent LDAP connection
    storing or passing around passwords is not necessary.
  </li>
  <li>
    Security mechanisms to avoid hijacking web sessions.
  </li>
  <li>
    Maximum number of currently used web sessions can be limited.
  </li>
  <li>
    Smart login with automatic completion of bind DN.
  </li>
</ul>

<h1>SASL login mechanisms</h1>

<table summary="SASL login mechanisms supported">
  <tr>
    <th>Supported Mechanism(s)</th><th>Remark</th>
  </tr>
  <tr>
    <td>DIGEST-MD5, CRAM-MD5</td>
    <td>Password-based challenge-response mechs: use short user name in login form, not the bind-DN</td>
  </tr>
  <tr>
    <td>PLAIN</td>
    <td>is supported but not recommended unless SSL/TLS is used</td>
  </tr>
  <tr>
    <td>EXTERNAL</td>
    <td>
      Usable for LDAPS,
      <a href="https://tools.ietf.org/html/rfc4513">StartTLS</a> or
      <a href="https://tools.ietf.org/html/draft-chu-ldap-ldapi">LDAPI</a> connections.
      End-user authentication is only meaningful if the web2ldap
      is started in stand-lone mode as a personal client.
    </td>
  </tr>
  <tr>
    <td>GSSAPI</td>
    <td>
      Usable for Kerberos V authentication. User authentication is only
      meaningful if the web2ldap is started in stand-lone mode as a personal
      client and the user obtained a TGT from the KDC before
      (with command-line tool kinit).
    </td>
  </tr>
</table>

<!--#include file="ssi/footer.html" -->
