<!--#set var="web2ldap_subtitle" value="Files" -->
<!--#set var="web2ldap_pagedescription" value="Overview of included files" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  You can also browse all files on
  <a href="https://fossies.org/linux/www/web2ldap-<!--#include file="ssi/release.shtml" -->.tar.gz/">fossies.org</a>
  or
  <a href="https://gitlab.com/ae-dir/web2ldap">gitlab.com</a>.
</p>

<dl>

  <dt>htdocs/</dt>

  <dd>
    HTML files of the web pages you are looking at.
    <dl>
      <dt>css/</dt>
      <dd>
        Directory containing example CSS files (cascaded style sheets).
        <dl>
          <dt>web2ldap/</dt>
          <dd>
            CSS files of the application.
          </dd>
        </dl>
      </dd>
    </dl>
  </dd>

  <dt>etc/</dt>

  <dd>

    <dl>
      <dt>web2ldap/</dt>
      <dd>
        <dl>
          <dt>templates/</dt>
          <dd>
            various HTML and LDIF templates for displaying entries and input forms
            and for setting defaults of new entries to be added
          </dd>
          <dt>web2ldapcnf/</dt>
          <dd>
            the configuration module package
            <ul>
              <li><a href="web2ldapcnf.html">__init__.py</a>
              <li><a href="web2ldapcnf_hosts.html">hosts.py</a>
              <li>plugins.py -- defines which plugin modules to import</li>
            </ul>
          </dd>
        </dl>
      </dd>

      <dt>systemd/</dt>
      <dd>
        <dl>
          <dt>web2ldap-standalone.service</dt>
          <dd>
            Starting web2ldap as stand-alone HTTP server with <em>systemd</em>.
          </dd>
        </dl>
      </dd>

      <dt>apache2/</dt>
      <dd>
        Example configuration files for WSGI integration with
        <a href="https://httpd.apache.org/">Apache httpd</a>.
      </dd>

      <dt>uwsgi/</dt>
      <dd>
        Example configuration files for integration with
        <a href="https://uwsgi.readthedocs.io">UWSGI</a>.
      </dd>

    </dl>
  </dd>

  <dt>web2ldap/</dt>
  <dd>
    the application's module package
    <dl>
      <dt>app/plugins/</dt>
      <dd>
        The pre-installed <a href="features.html#plugin">plugin modules</a>
      </dd>
    </dl>
  </dd>

</dl>

<!--#include file="ssi/footer.html" -->
