<!--#set var="web2ldap_subtitle" value="Running in a container" -->
<!--#set var="web2ldap_pagedescription" value="A brief description on how to run web2ldap in a container" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  You can either use
  <a href="https://www.docker.com/">Docker</a>
  or run as root-less containers using
  <a href="https://podman.io">podman</a>.
  For using <em>podman</em> you simply replace command
  <code>docker</code> by command <code>podman</code> in the instructions below.
</p>

<p>
  In directory <code>docker/</code> in the
  <a href="download.html">source distribution</a> you
  can find some example images for quick tests or developing your own
  custom container:
</p>
<dl>
  <dt>Dockerfile.debian-stable-venv</dt>
  <dd>
    <ul>
      <li>
        Based on <a href="https://www.debian.org/releases/stable/">Debian stable</a>
      </li>
      <li>
        PIP-based installation to virtual environment
      </li>
    </ul>
  </dd>
  <dt>Dockerfile.opensuse-tumbleweed-rpm</dt>
  <dd>
    <ul>
      <li>
        Based on <a href="https://www.opensuse.org/#Tumbleweed">openSUSE Tumbleweed</a>
      </li>
      <li>
        RPM-based installation like described in installation instructions
        for <a href="install_opensuse.html">openSUSE and SLE</a>
      </li>
      <li>
        Uses additional
        <a href="https://download.opensuse.org/repositories/home:/stroeder:/iam/openSUSE_Tumbleweed/">zypper repository</a>
        (see also OBS package
        <a href="https://build.opensuse.org/package/show/home:stroeder:iam/web2ldap">
          home:stroeder:iam/web2ldap
        </a>)
      </li>
    </ul>
  </dd>
  <dt>Dockerfile.opensuse-tumbleweed-venv</dt>
  <dd>
    <ul>
      <li>
        Based on <a href="https://www.opensuse.org/#Tumbleweed">openSUSE Tumbleweed</a>
      </li>
      <li>
        PIP-based installation to virtual environment
      </li>
    </ul>
  </dd>
</dl>

<p>Build the container image with one of the above Docker files:</p>

<pre class="cli">
docker build --tag web2ldap --file Dockerfile.&lt;flavor&gt; .
</pre>

<p>
  Run with stand-alone web server by default listening port 1760:
</p>
<pre class="cli">
docker run -p 1760:1760 web2ldap
</pre>

<p>
  Test by accessing the monitor page:
</p>
<pre class="cli">
curl http://172.17.0.1:1760/web2ldap/monitor|html2text
</pre>

<!--#include file="ssi/footer.html" -->
