<!--#set var="web2ldap_subtitle" value="Installing" -->
<!--#set var="web2ldap_pagedescription" value="A brief description on how to install it" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  <strong>
    Note that this installation description is for
    release <!--#include file="ssi/release.shtml" -->!
  </strong>
</p>

<h1 id="generic">Quick installation</h1>

<p>Notes:</p>
<ul>
  <li>
    This simple install receipt requires that the machine has Internet (proxy)
    access to load packages from <a href="https://pypi.org">PyPI repository</a>.
  </li>
  <li>
    Some C wrapper modules have to be compiled. So you have to install
    a C compiler and build tools for your particular OS.
  </li>
  <li>
    Also look for the <var>Dockerfile</var> in the source distribution for
    automated installation into container running
    <a href="https://www.opensuse.org">openSUSE Tumbleweed</a>.
  </li>
</ul>

<p>Install in a Python virtual environment:</p>
<pre class="cli">
python3 -m venv /opt/web2ldap
/opt/web2ldap/bin/pip3 install --find-links https://www.web2ldap.de/download.html web2ldap
</pre>

<p>
  Start simple stand-alone web server by default listening
  on localhost, port 1760:
</p>
<pre class="cli">
/opt/web2ldap/bin/web2ldap 127.0.0.1 1760
</pre>

<p>
  For remote access to this stand-alone instance you have to explicitly
  allow access from remote IP addresses by editing configuration option
  <a href="web2ldapcnf.html#access_allowed">access_allowed</a>
  in file <code>etc/web2ldap/web2ldapcnf/__init__.py</code>.
</p>

<p>
  For serious use you should use a HTTPS-enabled web server as frontend.
  See directories <code>etc/apache2/</code> and <code>etc/uwsgi/</code>
  in source distribution for web server integration examples.
</p>

<h1 id="Installing">Upgrade instructions</h1>

<p>
  If you've customized web2ldap configuration backup your local config
  changes first:
</p>
<pre class="cli">
cp -av /opt/web2ldap/etc/web2ldap /path/to/backupdir/
</pre>

<p>
  Then install the web2ldap upgrade (without necessarily upgrading other modules) like this:
</p>
<pre class="cli">
/opt/web2ldap/bin/pip3 install --upgrade --upgrade-strategy only-if-needed --find-links https://www.web2ldap.de/download.html web2ldap
</pre>

<p>
  Restore your customized web2ldap configuration e.g. from backup or via
  config management.
</p>

<h1 id="os">Specific instructions</h1>
<ul>
  <li><a href="install_opensuse.html">openSUSE and SLE</a></li>
  <li><a href="install_container.html">Running in a container</a></li>
</ul>

<!--#include file="ssi/footer.html" -->
