<!--#set var="web2ldap_subtitle" value="News" -->
<!--#set var="web2ldap_pagedescription" value="What's going on..." -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  Detailed changes can be found in the <a href="changes.html">change log</a>.<br>
  Short machine-readable change log can be found in <a href="releases.json">releases.json</a>.
</p>

<dl>

  <dt>2019-10-01</dd>
  <dd>
    Released <a href="changes-1.5.html#r1.5.2">web2ldap 1.5.2</a>!
    This version runs on Python 3.6 or newer.
  </dd>

  <dt>2019-01-27</dd>
  <dd>
    Released <a href="changes-1.4.html#r1.4.0">web2ldap 1.4.0</a>!
    The release notes high-light massive code-cleaning and internal API
    changes besides some new features and bug fixes.
  </dd>

  <dt>2019-02-02/03</dd>
  <dd>
    <strong>web2ldap</strong> will be presented at the
    <a href="https://fosdem.org/2019/stands/">OpenLDAP stand at FOSDEM 2019</a>
  </dd>

  <dt>2018-10-09</dd>
  <dd>
    20th anniversary party of OpenLDAP and web2ldap at
    <a href="https://www.openldap.org/conf/odd-tuebingen-2018/">5th OpenLDAP Developers' Day 2018</a>
  </dd>

  <dt>2018-07-09</dd>
  <dd>
    Official RPM packages are available now for
    <a href="install_opensuse.html">installation on openSUSE/SLE</a>.
  </dd>

  <dt>2018-02-27</dd>
  <dd>
    Released <a href="changes-1.3.html#r1.3.8">web2ldap 1.3.8</a>
    which can be easily <a href="install.html">installed via pip</a>.
  </dd>

  <dt>2018-02-09</dd>
  <dd>
    Released <a href="changes-1.2.html#r1.2.100">web2ldap 1.2.101</a>
    as last release of 1.2.x series.
  </dd>

  <dt>2015-03-04</dd>
  <dd>
    <a href="https://www.syss.de">SySS</a> conducted a security review of
    <a href="changes-1.2.html#r1.2.21">release 1.2.21</a> without finding
    any vulnerabilities.
  </dd>

  <dt>2015-01-20</dd>
  <dd>
    The hell is freezing:
    Released <a href="changes-1.2.html#r1.2.14">web2ldap 1.2.14</a>
    with tree browser.
  </dd>

  <dt>2014-10-03</dd>
  <dd>
    Finally released <a href="changes-1.2.html#r1.2.0">web2ldap 1.2.0</a>
    with many new features and enhancements.
    Make sure to read the change log carefully.
  </dd>

  <dt>2013-10-06</dd>
  <dd>
    Presentation at LDAPcon 2013, Paris:
    <a href="https://www.stroeder.com/download/Presentation_LDAPcon2013_Michael_Stroeder_Do_The_Right_Thing.pdf">
      Do The Right Thing! How LDAP servers should help LDAP clients
    </a><br>
    This talk is about the highs and lows of implementing a generic
    interactive LDAP client with web2ldap to be shown as example.
  </dd>

  <dt>2012-02-16</dd>
  <dd>
    Final release of <a href="changes-1.1.html#r1.1.0">web2ldap 1.1.0</a>.
  </dd>

  <dt>2008-09-03</dd>
  <dd>
    When looking at the exception log of the online demo
    I can't believe what people are doing (e.g. trying to modify the rootDSE).
    <a href="changes-1.0.html#r1.0.2">web2ldap 1.0.2</a> catches all this.
  </dd>

  <dt>2008-09-03</dd>
  <dd>
    10th anniversary! Finally released <a href="changes-1.0.html#r1.0.0">web2ldap 1.0.0</a>. ;-)
  </dd>

  <dt>2006-10-13</dd>
  <dd>
    web2ldap was presented at the
    <a href="https://www.openldap.org/conf/odd-tuebingen-2006/">
    OpenLDAP Developers' Day - T&uuml;bingen - 2006</a>.
    You can download <a href="https://www.openldap.org/conf/odd-tuebingen-2006/Michael.pdf">the slides</a>.
  </dd>

  <dt>2000-09-20</dd>
  <dd>
    Presentation of new PKI features of web2ldap at the
    first public meeting of the
    <a href="https://www.terena.org/activities/tf-lsd/">Terena TF-LSD</a>.<br>
    (read <a href="https://www.terena.org/activities/tf-lsd/tf-lsd000920agenda.txt">agenda</a>)
  </dd>

  <dt>2000-07-20</dd>
  <dd>
    Oddbjorn Steffensen created
    <a href="https://svnweb.freebsd.org/ports/head/www/web2ldap/">
    FreeBSD port of web2ldap</a>:
    Users can install and update web2ldap by CVSup'ing their /usr/ports
    tree against one of the FreeBSD CVS servers.
  </dd>

</dl>

<!--#include file="ssi/footer.html" -->
