<!--#set var="web2ldap_subtitle" value="Related" -->
<!--#set var="web2ldap_pagedescription" value="Related work and presentations" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<h1>Other software</h1>

<h2><a href="https://ae-dir.com">&AElig;-DIR</a></h2>
<p>
  web2ldap is used as administration front-end for &AElig;-DIR
  mainly with the help of a special plugin module.
  See the <a href="https://ae-dir.com/web2ldap.html">user guide</a>
  for details.
</p>

<h2><a href="https://www.stroeder.com/oath-ldap.html">OATH-LDAP</a></h2>
<p>
  web2ldap can be used as administration front-end for OATH-LDAP
  with the help of a special plugin module.
</p>

<h1>Talks</h1>

<h2>Presentation 2013-10-19 at <a href="http://ldapcon.org/2013/">LDAPcon 2013</a></h2>
<p>
  Do The Right Thing! How LDAP servers should help LDAP clients
  (<a href="https://www.stroeder.com/download/Presentation_LDAPcon2013_Michael_Stroeder_Do_The_Right_Thing.pdf">download PDF</a>)
</p>
<p>
  &quot;This talk is about the highs and lows of implementing a generic interactive
  LDAP client with web2ldap to be shown as example (because the author is biased
  of course).&quot;
</p>

<h2>OpenLDAP Developers' Day</h2>
<p>
  web2ldap was presented at the <a href="https://www.openldap.org/conf/odd-tuebingen-2006/">OpenLDAP Developers' Day - T&uuml;bingen - 2006</a>
  (<a href="https://www.openldap.org/conf/odd-tuebingen-2006/Michael.pdf">download slides</a>).
</p>

<h2><a href="https://www.terena.org/activities/tf-lsd/">Terena TF-LSD</a></h2>
<p>
  Presentation
  (<a href="https://www.terena.nl/tech/task-forces/tf-lsd/docs/michael.stroeder.web2ldap_TF-LSD.ppt">download slides</a>)
  of new PKI features of web2ldap held at the
  first public meeting of this Terena task force (Sep. 2000).
  Note that this presentation is very outdated, especially
  all <em>Limitations</em> have been solved and everything on
  <em>Road Map</em> was implemented since then.
</p>

<!--#include file="ssi/footer.html" -->
