<!--#set var="web2ldap_subtitle" value="To-do" -->
<!--#set var="web2ldap_pagedescription" value="Ideas for future work" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<ul>
  <li>
    Access control for the different <var>PATH_INFO</var> URLs
    based on regex-matching of arbitrary environment vars.
  </li>
  <li>
    Handle LDIF change records for bulk operations
  </li>
  <li>
    Make use of HTML 5 features like &lt;datalist&gt; etc.
  </li>
  <li>
    &lt;optgroup&gt; markup in all dynamic select lists for grouping
    options along their superior DNs.
  </li>
  <li>
    Reimplement using <em>dumpasn1.cfg</em> for displaying OIDs.
  </li>
  <li>
    Reimplement certificate/CRL viewer based on
    <a href="https://pypi.org/project/asn1crypto">asn1crypto</a>.
  </li>
  <li>
    CSS style chooser.
  </li>
  <li>
    HTTP-LDAP login bindings:<br>
    Define binding conditions between HTTP connection parameters
    (<var>REMOTE_ADDR</var>, <var>REMOTE_USER</var>, etc.) and a LDAP
    authz-DN entry which is result of a LDAP bind.
  </li>
  <li>
    Drop-down menu structure with all possible context menu items reachable
    by one click.
  </li>
  <li>
    Time zone chooser.
  </li>
  <li>
    More powerful handling of attribute input fields:
    <ul>
      <li>
        Multi-select fields for multiple attribute values.
      </li>
      <li>
        Multiple check boxes for setting bits in an Integer.
      </li>
      <li>
        Attribute values composed of multiple accompanying input fields.
      </li>
      <li>
        Multi-line input fields for attributes
        <a href="https://tools.ietf.org/html/draft-chu-ldap-xordered">X-ORDERED</a> set.
      </li>
    </ul>
  </li>
  <li>
    LDAP transaction support (see
    <a href="https://tools.ietf.org/html/rfc5805">RFC 5805</a>)
    for bulk write operations (group administration and bulk
    modify/renaming)
  </li>
  <li>
    Search extensions:
    <ul>
      <li>
        <a href="https://tools.ietf.org/html/rfc2696">Simple Paged Results</a>
      </li>
      <li>
        <a href="https://tools.ietf.org/html/draft-ietf-ldapext-ldapv3-vlv">Virtual List View</a>
      </li>
      <li>
        <a href="https://tools.ietf.org/html/rfc2891">server-side sorting</a>
      </li>
    </ul>
  </li>
  <li>
    Localization of user interface.
  </li>
  <li>
    Support for language tags and ranges when displaying LDAP entries via
    HTML templates.
  </li>
  <li>
    Redesign of plug-in API:
    <ul>
      <li>
        Plug-in classes for pre-input, post-input actions at entry level
        which makes it possible to implement attribute actions which depend
        on other entry data (e.g. autogeneration/composition of attribute values).
      </li>
      <li>
        Plug-in classes will be limited to a certain scope
        by configuration (e.g. by matching LDAP URL).
      </li>
    </ul>
  </li>
  <li>
    HTML-based help system.
  </li>
</ul>

<!--#include file="ssi/footer.html" -->
