<!--#set var="web2ldap_subtitle" value="How to improve usability" -->
<!--#set var="web2ldap_pagedescription" value="How to improve usability for end-users by configuration" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<h1>Client-side customization considerations</h1>

<p>
  For simplifying usage of web2ldap for end-users the LDAP administrator
  can utilize many customization options. Please make yourself comfortable
  how to specify <a href="web2ldapcnf_hosts.html#ldap_def">
  host-/backend-specific parameters</a> with the cascaded configuration
  since that saves you a lot of configuration work.
</p>

<h2 id="persistent_bookmarks">Constructing persistent bookmarks</h2>

<p>
  You can construct bookmarks and make them available on a simple web page
  which makes certain functions in web2ldap more easily accessible. Or you
  can add the LDAP URLs with an appropriate description to the select list
  presented on the front page by adding them to the list specified with
  <a href="web2ldapcnf_hosts.html#ldap_uri_list">ldap_uri_list</a>.
</p>

<p>
  web2ldap generates persistent bookmarks and displays them as ready-to-use
  links in the status area also including the simple bind information (in
  LDAP URL extension <var>bindname</var>).
</p>

<p>Examples:</p>

<dl>
  <dt>Search user accounts (here entries with object class <var>account</var>) anonymously</dt>
  <dd>
    <samp>
      http://web2ldap.example.com:1760/web2ldap?ldap://directory.example.com/ou=Users,dc=example,dc=com??sub?(objectClass=account)
    </samp>
  </dd>
  <dt>
    Adding a new user entry beneath <em>ou=Users,dc=example,dc=com</em> but with
    enforcing a login with bind-DN
    <em>uid=fred,ou=Users,dc=example,dc=com</em>
    before</dt>
  <dd>
    <samp>
      http://web2ldap.example.com:1760/web2ldap/add?ldap://directory.example.com/ou=Users,dc=example,dc=com????bindname=uid%3Dfred%2Cou%3DUsers%2Cdc%3Dexample%2Cdc%3Dcom
    </samp>
  </dd>
  <dt>Set a password for a certain user (again after a login)</dt>
  <dd>
    <samp>
      http://web2ldap.example.com:1760/web2ldap/passwd?ldap://directory.example.com/uid=anna,ou=Users,dc=example,dc=com????bindname=uid%3Dfred%2Cou%3DUsers%2Cdc%3Dexample%2Cdc%3Dcom
    </samp>
  </dd>
</dl>

<p>
  See LDAP URL format specified in <a href="https://tools.ietf.org/html/rfc4516">RFC 4516</a>.
</p>

<p>
  See <a href="demo.html#examples">specific examples</a> on the demo page
  for even more examples.
</p>

<h2 id="html_templates">HTML templates for guiding users</h2>
<p>You can specify HTML snippets in template files for certain things.
HTML templates can be are chosen based on language configuration in your browser.</p>
<dl>
  <dt>Displaying single entries</dt>
  <dd>
    You can assign HTML templates to object classes with parameter
    <a href="web2ldapcnf_hosts.html#read_template">read_template</a>
    which specify how to display the entry's data of this particular object class.
    See files <samp>etc/web2ldap/templates/read_*.html</samp> as examples.
    Attributes not covered by the display template(s) will
    be shown as raw table at the bottom.
  </dd>
  <dt>Search input form</dt>
  <dd>
    Parameter <a href="web2ldapcnf_hosts.html#searchform_template">searchform_template</a>
    allows to specify a HTML template defining input fields for search parameters.
  </dd>
  <dt>Entry input forms</dt>
  <dd>
    Parameter <a href="web2ldapcnf_hosts.html#input_template">input_template</a>
    allows to specify HTML templates for object classes used in the input
    form when adding new entries or editing existing entries.
  </dd>
  <dt>Login forms</dt>
  <dd>
    Set <a href="web2ldapcnf_hosts.html#login_template">login_template</a>
    to customize the login input form. Consider setting
    <a href="web2ldapcnf_hosts.html#binddn_mapping">binddn_mapping</a>
    if you have specific policy for the LDAP bind mechanism used.
  </dd>
</dl>

<h2 id="ldif_templates">LDIF templates for quickly add entries you need often</h2>
<p>
  With parameter <a href="web2ldapcnf_hosts.html#addform_entry_templates">
  addform_entry_templates</a> you can define a set of LDIF-based templates
  for a kind of entries you have to add very often.
  See files <samp>etc/web2ldap/templates/add_*.ldif</samp> as examples.
</p>

<h2>Plug-in classes for syntaxes and/or attribute types</h2>
<p>
  web2ldap internally handles many aspects of displaying attribute
  values or input fields with the help of Python classes (derived from
  <var>web2ldap.app.schema.syntaxes.LDAPSyntax</var>) registered for LDAP syntax OIDs
  and/or attribute types.<br>
  Plug-in classes have access to various data:
</p>
<ul>
  <li>attribute type and one of the values are direct class attributes</li>
  <li>LDAP connection object for sending additional queries</li>
  <li>DN of the entry</li>
  <li>whole entry (schema-aware instance of <var>ldaputil.schema.Entry</var></li>
</ul>
<p>
  There are already various base classes available quite handy for implementing
</p>
<ul>
  <li>Client-side regex-checking of valid attribute values</li>
  <li>Static or dynamic select classes</li>
</ul>
<p>
  Look into files <samp>web2ldap/app/plugins/*.py</samp> for examples.
  Best practice is to stuff self-implemented custom classes in a module in
  directory <code>etc/web2ldap/web2ldapcnf/</code> and import this
  module in file <code>etc/web2ldap/web2ldapcnf/plugins.py</code>.
  Order of the <var>import</var>-statements is significant.
</p>
<p>
  There is a nice viewer available displaying a clickable map of the
  <a href="https://fossies.org/dox/web2ldap-<!--#include file="ssi/release.shtml" -->/classweb2ldap_1_1app_1_1schema_1_1syntaxes_1_1LDAPSyntax.html">
  plugin class hierarchy</a>.
</p>


<h1>Server-side configuration</h1>

<p>You can also influence how the user interacts with your LDAP directory via web2ldap
by configuring things in the server.</p>

<h2>Schema design</h2>
<dl>
  <dt>Syntaxes</dt>
  <dd>
    specify the syntax to which attribute values must comply. If you choose
    finer-grained syntaxes web2ldap displays input fields and conducts
    syntax validation appropriate for that syntax (e.g. TRUE/FALSE select field
    for syntax <var>Boolean</var>).
  </dd>
  <dt>Attribute types</dt>
  <dd>
    For some attribute types web2ldap has already special handler classes
    (e.g. attribute type <var>mail</var>).
  </dd>
  <dt>Object classes</dt>
  <dd>
    are the type(s) of an entry and specify which attributes can be used
    within an entry. web2ldap uses this to display the input entry form (table format)
    indicating required and allowed attributes.
  </dd>
  <dt>DIT content rules</dt>
  <dd>
    specify which auxiliary object classes are
    allowed for a structural object class. This is used by web2ldap to display
    the allowed auxiliary object classes in the object class select form.
  </dd>
  <dt>Name forms</dt>
  <dd>
    specify how to form the RDN for a new entry to be added. If a name form
    applies web2ldap displays a select list for choosing a RDN string template.
  </dd>
  <dt>DIT structure rules</dt>
  <dd>
    specify which structural object classes are
    allowed in a certain part of the DIT. This is used by web2ldap to display
    the allowed structural object classes in the object class select form.
  </dd>
</dl>

<!--#include file="ssi/footer.html" -->
