<!--#set var="web2ldap_subtitle" value="hosts.py" -->
<!--#set var="web2ldap_pagedescription" value="The configuration module directory web2ldapcnf/" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  This section describes the parameters related to specific LDAP
  hosts/backends.
</p>
<p>
  [<a href="#addform_entry_templates">addform_entry_templates</a>]
  [<a href="#addform_parent_attrs">addform_parent_attrs</a>]
  [<a href="#binddn_mapping">binddn_mapping</a>]
  [<a href="#boundas_template">boundas_template</a>]
  [<a href="#bulkmod_delold">bulkmod_delold</a>]
  [<a href="#description">description</a>]
  [<a href="#dit_max_levels">dit_max_levels</a>]
  [<a href="#dit_search_sizelimit">dit_search_sizelimit</a>]
  [<a href="#dit_search_timelimit">dit_search_timelimit</a>]
  [<a href="#groupadm_defs">groupadm_defs</a>]
  [<a href="#groupadm_filterstr_template">groupadm_filterstr_template</a>]
  [<a href="#groupadm_optgroup_bounds">groupadm_optgroup_bounds</a>]
  [<a href="#input_template">input_template</a>]
  [<a href="#inputform_supentrytemplate">inputform_supentrytemplate</a>]
  [<a href="#login_template">login_template</a>]
  [<a href="#modify_constant_attrs">modify_constant_attrs</a>]
  [<a href="#naming_contexts">naming_contexts</a>]
  [<a href="#passwd_genchars">passwd_genchars</a>]
  [<a href="#passwd_genlength">passwd_genlength</a>]
  [<a href="#passwd_hashtypes">passwd_hashtypes</a>]
  [<a href="#passwd_modlist">passwd_modlist</a>]
  [<a href="#passwd_template">passwd_template</a>]
  [<a href="#print_cols">print_cols</a>]
  [<a href="#print_template">print_template</a>]
  [<a href="#read_tablemaxcount">read_tablemaxcount</a>]
  [<a href="#read_template">read_template</a>]
  [<a href="#rename_supsearchurl">rename_supsearchurl</a>]
  [<a href="#rename_template">rename_template</a>]
  [<a href="#requested_attrs">requested_attrs</a>]
  [<a href="#schema_uri">schema_uri</a>]
  [<a href="#search_attrs">search_attrs</a>]
  [<a href="#searchform_search_root_url">searchform_search_root_url</a>]
  [<a href="#searchform_template">searchform_template</a>]
  [<a href="#searchoptions_template">searchoptions_template</a>]
  [<a href="#search_resultsperpage">search_resultsperpage</a>]
  [<a href="#search_tdtemplate">search_tdtemplate</a>]
  [<a href="#session_track_control">session_track_control</a>]
  [<a href="#starttls">starttls</a>]
  [<a href="#supplement_schema">supplement_schema</a>]
  [<a href="#timeout">timeout</a>]
  [<a href="#tls_options">tls_options</a>]
  [<a href="#top_template">top_template</a>]
  [<a href="#vcard_template">vcard_template</a>]
</p>


<h1 id="ldap_uri_list">ldap_uri_list</h1>
<p>
  List of LDAP URLs which will appear in the default select list of the
  connect form. List items are 2-tuples of Unicode strings containing LDAP
  URL and description.
</p>
  <p>Example:</p>
<samp>
  <pre class="cli">
ldap_uri_list = [
    (
        'ldap://ldap.openldap.org',
        "OpenLDAP's demo server",
    ),
]
  </pre>
</samp>

<h1 id="restricted_ldap_uri_list">restricted_ldap_uri_list</h1>
<p>
  If non-zero (or True) gateway access is restricted to the
  LDAP servers specified in <a href="#ldap_uri_list">ldap_uri_list</a>.
  Note that the check is case sensitive (because of possibly case-sensitive
  path names of Unix domain sockets for LDAPI)!<br>
  Default in source distribution: 1 (restriction enabled)
</p>

<h1 id="ldap_def">ldap_def</h1>
<p>
  This is a string-keyed dictionary (Python data structure)
  which holds all options specific for certain LDAP hosts or backends(
  naming contexts). The values of the dictionary <var>ldap_def</var>
  are of the simple class <var>Web2LDAPConfig</var> which is instantiated
  via key word arguments
</p>

<h2 id="cascaded_config">Cascaded configuration</h2>
<p>
  Any configuration parameter in the
  dictionary <var>web2ldapcnf.hosts.ldap_def</var> is retrieved by looking
  at all dictionary items with string-keys
</p>
<ol>
  <li><code>'ldap://<var>ldap_host</var>/<var>ldap_basedn</var>',</code></li>
  <li><code>'ldap:///<var>ldap_basedn</var>',</code></li>
  <li><code>'ldap://<var>ldap_host</var>' and</code></li>
  <li><code>'_'</code></li>
</ol>
<p>
  in this particular order. All those string-key MUST
  be valid LDAP URLs except for the default section which is
  marked by a single underscore.<br>
  This allows to hold several database backends on the same host with
  the same DNS name. It also shortens the <var>ldap_def</var> dictionary by
  avoiding having to repeat same options for every server and
  makes browsing of completely unconfigured hosts easy.
</p>

<h2 id="example_config">Configuration Example</h2>
<samp>
  <pre class="cli">
ldap_def = {

  '_': Web2LDAPConfig(
    # Default fall-back options
  ),

  'ldap://nldap.com': Web2LDAPConfig(
    # Per-host options for host nldap.com
  ),

  'ldap:///dc=openldap,dc=org': Web2LDAPConfig(
    # Options for naming context dc=openldap,dc=org
    # regardless on which server
  ),

  'ldap://localhost/dc=stroeder,dc=com': Web2LDAPConfig(
    # Options dictionary entries for backend
    # on host localhost with naming context dc=stroeder,dc=com
  )

}
  </pre>
</samp>

Now each parameter is described. A system default value is assumed
if the parameter was not defined at all (no dictionary key
<em>parameter</em>). Most times this default value simply switches
off a certain behaviour.

<dl>

  <dt id="addform_parent_attrs">addform_parent_attrs</dt>
  <dd>
    This parameter allows to define a tuple of attributes which must be
    readable in the parent entry for a LDIF template to be displayed.
    If the bound user does not have sufficient access rights the LDIF
    template will be suppressed.
    <dl>
      <dt>Default:</dt>
      <dd><code>()</code></dd>
    </dl>
  </dd>

  <dt id="addform_entry_templates">addform_entry_templates</dt>
  <dd>
    This parameter allows to define a set of LDIF templates for new
    entries each with a short descriptive identifier. The identifiers
    are shown in a radio button field after choosing [New entry] from
    the main menu.<br>
    This is a dictionary with free-form identifiers as key and path
    names of the LDIF template files as value.
    <dl>
      <dt>Default:</dt><dd><code>{}</code></dd>
      <dt>Example (the variant with <code>os.path.join(web2ldapcnf.templates_dir,..)</code> automatically
      determines the standard template directory):</dt>
      <dd>
        <samp>
          <pre class="cli">
addform_entry_templates={
  'Person':os.path.join(web2ldapcnf.templates_dir,'add_person.ldif'),
  'My User Account':'/home/web2ldap/lib/add_myuser.ldif'),
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="binddn_mapping">binddn_mapping</dt>
  <dd>
    This specifies how a full bind-DN should be derived from the username
    the user has input in the login form.
    The syntax is a Python template string containing an LDAP URL.
    Occurrences of <code>{user}</code> are substituted by the string the user entered.
    <dl>
      <dt>
          Default (searching a user in the current naming context by
          attribute <var>uid</var>):
      </dt>
      <dd><code>'ldap:///_??sub?(uid={user})'</code></dd>
      <dt>
          Example for searching a user in sub-tree <em>ou=Users</em> beneath
          current naming context by attribute <var>uid</var> or
          <var>mail</var>:
      </dt>
      <dd>
        <samp>
          <code>'ldap:///ou=Users,_??sub?(|(uid={user})(mail={user}))'</code>
        </samp>
      </dd>
      <dt>
        Example for directly mapping the user name to a bind DN in
        sub-tree <em>ou=Users</em> beneath current naming context:
      </dt>
      <dd>
        <samp>
          <code>'ldap:///uid={user},ou=Users,_??base'</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="boundas_template">boundas_template</dt>
  <dd>
    HTML template strings used to bind name in the status section
    on top of page depending on the object class of an entry.
    This is a dictionary with object class names as key and
    HTML templates strings as value.<br>
    If no matching template is found most times the bind-DN is displayed.
    <dl><dt>Default:</dt><dd><code>{}</code></dd></dl>
  </dd>

  <dt id="bulkmod_delold">bulkmod_delold</dt>
  <dd>
    Value for
    <a href="https://tools.ietf.org/html/rfc4511#section-4.9">deleteoldrdn</a>
    to be sent along with Modify DN operations during bulk modification.
    Possible values are 0 for FALSE and 1 for TRUE.
    <dl><dt>Default:</dt><dd><code>0</code></dd></dl>
  </dd>

  <dt id="description">description</dt>
  <dd>
    Textual description of the host or backend which is displayed in the
    status area at top of the window.
    <dl>
      <dt>Default:</dt>
      <dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>'My nifty LDAP server for user accounts'</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="dit_max_levels">dit_max_levels</dt>
  <dd>
    Allow maximum this number of levels in tree browser.
    <dl><dt>Default:</dt><dd><code>10</code></dd></dl>
  </dd>

  <dt id="dit_search_sizelimit">dit_search_sizelimit</dt>
  <dd>
    Fetch at most this number of entries when searching below a node in tree browser.
    <dl><dt>Default:</dt><dd><code>50</code></dd></dl>
  </dd>

  <dt id="dit_search_timelimit">dit_search_timelimit</dt>
  <dd>
    Timelimit [secs] for searching in tree browser.
    <dl><dt>Default:</dt><dd><code>10</code></dd></dl>
  </dd>

  <dt id="login_template">login_template</dt>
  <dd>
    HTML template file for the input fields of a <em>Login Form</em>.
    The HTML document must not contain HTML &lt;head&gt; section,
    &lt;body&gt; or &lt;html&gt; tags and uses
    <a href="https://docs.python.org/library/string.html#formatstrings">
    Python's Format String Syntax</a> to reference the different
    dynamically generated input fields etc.
    <dl>
      <dt>Default:</dt>
      <dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>login_template=os.path.join(web2ldapcnf.templates_dir,'login.html')</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="modify_constant_attrs">modify_constant_attrs</dt>
  <dd>
    List of names of attribute types which are supposed to be constant during
    editing an entry and are usually not edited by the user (only modified by DSA).<br>
    If at least one value of these attributes was changed
    during editing the entry and submitting the new data modifying the entry
    will fail with an error message to prevent conflicts of concurrent
    modifications
    <dl>
      <dt>Default:</dt>
      <dd><code>['createTimestamp','modifyTimestamp','creatorsName','modifiersName']</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>modify_constant_attrs=['entryCSN','entryDN','entryUUID','createTimestamp','modifyTimestamp','creatorsName','modifiersName','uSNChanged','uSNCreated','whenChanged','whenCreated']</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="naming_contexts">naming_contexts</dt>
  <dd>
    List of fake <var>namingContexts</var> values used in case this
    attribute could not be read from the server's <var>root DSE</var>.
    <dl>
      <dt>Default:</dt>
      <dd>None</dd>
    </dl>
  </dd>

  <dt id="groupadm_defs">groupadm_defs</dt>
  <dd>
    Dictionary containing definitions about group entries storing members
    in multi-valued member attributes. This is used in the group admin
    mask. The dictionary's keys are the name of the group entry object
    classes. The dictionary values are either 2-tuples representing the
    name of the multi-valued member attribute in the group entry and the
    attribute type name of the user attribute which is put to/removed from
    the group entry, or 3-tuples with additional flag indicating whether
    this definition shall be used for determining group membership.
    <dl>
      <dt>Default:</dt><dd><code>{}</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
groupadm_defs={
  'groupOfNames':       ('member',None),
  'groupOfUniqueNames': ('uniqueMember',None),
  'rfc822MailGroup':    ('mail','mail'),
  'mailGroup':          ('mgrprfc822mailmember','mail'),
  'accessGroup':        ('member',None),
  'posixGroup':         ('memberUid','uid'),
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="groupadm_filterstr_template">groupadm_filterstr_template</dt>
  <dd>
    String template which allows to restrict the groups displayed
    in left select list in the group administration dialogue.
    The <em>mandantory, single</em> occurrence of <var>%s</var> is replaced
    by the group search filter generated based on
    <a href="#groupadm_defs">groupadm_defs</a>.
    <dl>
      <dt>Default:</dt><dd><code>r'(|%s)'</code></dd>
    </dl>
  </dd>

  <dt id="groupadm_optgroup_bounds">groupadm_optgroup_bounds</dt>
  <dd>
    2-tuple defining the DN component slice to use to generate the
    &lt;optgroup&gt; in select lists of the group administration.
    This allows to limit the length (width) of the select list
    in case of long group entry DNs.
    <dl>
      <dt>Default (use direct parent DN):</dt>
      <dd><code>(1,None)</code></dd>
      <dt>More examples:</dt>
      <dd>
        <dl>
          <dt><code>(None,-3)</code></dt>
          <dd>last three DN components</dd>
          <dt><code>(2,None)</code></dt>
          <dd>strip first two components</dd>
          <dt><code>(2,-1)</code></dt>
          <dd>strip first two and one last DN components</dd>
        </dl>
      </dd>
    </dl>
  </dd>

  <dt id="passwd_hashtypes">passwd_hashtypes</dt>
  <dd>
    List of strings specifying the allowed password-hash types.
    Valid values of implemented hashing schemes are:
    <dl>
      <dt>'' (empty string)</dt>
      <dd>no hashing, plain text</dd>
      <dt>'crypt'</dt>
      <dd>Unix crypt algorithm (with salt like used with Unix passwd)</dd>
      <dt>'md5'</dt>
      <dd>MD5 hash</dd>
      <dt>'smd5'</dt>
      <dd>salted MD5 hash</dd>
      <dt>'sha'</dt>
      <dd>SHA-1 hash</dd>
      <dt>'ssha'</dt>
      <dd>salted SHA-1 hash</dd>
    </dl>
    The hash-based encodings require the appropriate Python modules to be
    installed on your system. The presence of the modules is automatically
    detected and the displayed select list shows the available
    password hash-types.<br>
    <dl>
      <dt>Default:</dt><dd><code>[]</code></dd>
      <dt>Example (allow only salted MD5 and salted SHA-1):</dt>
      <dd><samp><code>'passwd_hashtypes':['smd5','ssha']</code></samp></dd>
    </dl>
  </dd>

  <dt id="passwd_modlist">passwd_modlist</dt>
  <dd>
    Allows to extend the modification list to be sent along with a modify
    request or after a password modify extended operation.
    <dl>
      <dt>Default:</dt>
      <dd><code>[]</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>passwd_modlist=[]</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="passwd_template">passwd_template</dt>
  <dd>
    HTML template file for the input fields of a <em>change password form</em>.
    The HTML document must not contain HTML &lt;head&gt; section,
    &lt;body&gt; or &lt;html&gt; tags and uses
    <a href="https://docs.python.org/2/library/string.html#formatstrings">
    Python's Format String Syntax</a> to reference the different
    dynamically generated input fields etc.
    <dl>
      <dt>Default:</dt>
      <dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>passwd_template=os.path.join(web2ldapcnf.templates_dir,'passwd.html')</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="print_cols">print_cols</dt>
  <dd>
    Number of columns for printable output.
    <dl><dt>Default:</dt><dd><code>'4'</code></dd></dl>
  </dd>

  <dt id="print_template">print_template</dt>
  <dd>
    HTML template files for printing table entries. This is a dictionary
    with object class names as key and path names of HTML template files
    as value.
    <dl>
      <dt>Default:</dt>
      <dd><code>None</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
print_template={
  # 'object class':'pathname of printable HTML template file'
  'person':os.path.join(web2ldapcnf.templates_dir,'print_person.html'),
  'organization':os.path.join(web2ldapcnf.templates_dir,'print_organization.html'),
  'organizationalUnit':os.path.join(web2ldapcnf.templates_dir,'print_organizationalUnit.html'),
},
          </pre>
        </samp>
    </dl>
  </dd>

  <dt id="read_tablemaxcount">read_tablemaxcount</dt>
  <dd>
    Dictionary with attribute types as keys defining maximum count of
    attribute values to be displayed when displaying a single entry.
    <dl>
      <dt>Default:</dt><dd><code>{}</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
read_tablemaxcount={
  'member':100,
  'allowedAttributes':2,
  'allowedAttributesEffective':2,
  'allowedChildClasses':2,
  'allowedChildClassesEffective':2,
  'allowedChildClassesEffective':2,
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="read_template">read_template</dt>
  <dd>
    Dictionary defining HTML templates for displaying entries
    of certain object classes.
    <dl>
      <dt>Default:</dt><dd><code>{}</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
read_template={
  # 'object class':'pathname of HTML template file'
  'inetOrgPerson':os.path.join(web2ldapcnf.templates_dir,'read_inetOrgPerson.html'),
  'organizationalPerson':os.path.join(web2ldapcnf.templates_dir,'read_inetOrgPerson.html'),
  'organization':os.path.join(web2ldapcnf.templates_dir,'read_organization.html'),
  'posixAccount':os.path.join(web2ldapcnf.templates_dir,'read_posixAccount.html'),
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="input_template">input_template</dt>
  <dd>
    Dictionary defining HTML templates with input forms for entries
    of certain object classes. The input form templates of all matching
    object classes are displayed.
    See files <samp>etc/web2ldap/templates/inputform_*.html</samp> as examples.
    <dl>
      <dt>Default:</dt>
      <dd><code>{}</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
input_template={
  'inetOrgPerson':os.path.join(web2ldapcnf.templates_dir,'inputform_inetOrgPerson.html'),
  'posixAccount':os.path.join(web2ldapcnf.templates_dir,'inputform_posixAccount.html'),
  'msPerson':os.path.join(web2ldapcnf.templates_dir,'inputform_msPerson.html'),
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="inputform_supentrytemplate">inputform_supentrytemplate</dt>
  <dd>
    Dictionary defining HTML template snippets for displaying short
    description of parent entry in input form.
    <dl>
      <dt>Default:</dt>
      <dd><code>{}</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
inputform_supentrytemplate={
    'organization':r'Organization <strong>%(o)s</strong>',
    'organizationalUnit':r'Organizational Unit <strong>%(ou)s</strong>',
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="passwd_genchars">passwd_genchars</dt>
  <dd>
    Unicode string containing all characters to be used
    when generating passwords.
  </dd>

  <dt id="passwd_genlength">passwd_genlength</dt>
  <dd>
    Integer which specifies the length of generated passwords.
    <dl><dt>Default:</dt><dd><code>12</code></dd></dl>
  </dd>

  <dt id="requested_attrs">requested_attrs</dt>
  <dd>
    List of attribute type names which are explicitly requested when
    doing a search/read or modify operation. This is meant for accessing
    operational attributes which the LDAP server does not return
    without being asked for them.
    Only attribute types which are part of the subschema are really used.
    <dl><dt>Default:</dt><dd><code>[]</code></dd></dl>
  </dd>

  <dt id="rename_supsearchurl">rename_supsearchurl</dt>
  <dd>
    Dictionary with named LDAP URLs (without <var>hostport</var> portion) each specifying how to search
    for a new superior DN of a rename operation. The DNs of the search results are
    displayed as select list. The <var>attrs</var> portion is ignored.
    If not set or empty string a normal input field is displayed.
    <dl>
      <dt>Default:</dt>
      <dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
rename_supsearchurl={
    'Search for organizational units': 'ldap:///dc=stroeder,dc=de??sub?(objectClass=organizationalUnit)',
    'Search for organizations': 'ldap:///dc=stroeder,dc=de??sub?(objectClass=organization)',
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="rename_template">rename_template</dt>
  <dd>
    HTML template file for the input fields of a <em>Rename Form</em>.
    The HTML document must not contain HTML &lt;head&gt; section,
    &lt;body&gt; or &lt;html&gt; tags and uses
    <a href="https://docs.python.org/library/string.html#formatstrings">
    Python's Format String Syntax</a> to reference the different
    dynamically generated input fields etc.
    <dl>
      <dt>Default:</dt>
      <dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>rename_template=os.path.join(web2ldapcnf.templates_dir,'rename.html')</code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="schema_strictcheck">schema_strictcheck</dt>
  <dd>
    Whether to apply strict checks during subschema parsing. Some LDAP
    servers with buggy schema like eDirectory or Fedora/389 DS requite
    <var>False</var> here.<br>
    Don't set to <var>False</var> if you also use
    <a href="#supplement_schema">supplement_schema</a> because errors will be
    possibly ignored leading to unwanted behaviour.
  </dd>

  <dt id="supplement_schema">supplement_schema</dt>
  <dd>
    LDIF file with additiona subschema attributes to be added to the
    subschema subentry read from the server. This can be used to add
    schema descriptions to the sub schema used by web2ldap not supported
    by the LDAP server itself  (e.g. DIT structure rules and name forms).
  </dd>

  <dt id="schema_uri">schema_uri</dt>
  <dd>
    URI pointing to fake sub schema sub entry.
    If schema_uri is a LDAP URL an LDAP server is queried directly.
    Otherwise schema_uri is assumed to point to a LDIF file.
    <dl><dt>Default:</dt><dd>None</dd></dl>
  </dd>

  <dt id="search_attrs">search_attrs</dt>
  <dd>
    Attribute types which should be present in search attribute type select
    list of advanced search form.
    <dl>
      <dt>Default:</dt><dd><code>['cn','mail']</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          search_attrs = ['cn','mail','o','ou','st','uid','telephonenumber','description']
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="searchform_bases">searchform_bases</dt>
  <dd>
    Tuple of search bases to be added to the select list of search bases displayed in the search form.
    <dl>
      <dt>Default:</dt>
      <dd><code>()</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
searchform_bases=(
  '..',
  'ou=Bizness,dc=example,dc=com',
  'ou=Friends,dc=example,dc=com'
)
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="searchform_search_root_url">searchform_search_root_url</dt>
  <dd>
    String with a LDAP URL (without <var>hostport</var> portion) which specifies how to search
    for additional search bases to be displayed as select list in the search form.
    The DNs of the search results are displayed as select list. The <var>attrs</var> portion is ignored.
    <dl>
      <dt>Default:</dt>
      <dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <code>
            searchform_search_root_url='ldap:///dc=example,dc=com??sub?(|(objectClass=organization)(objectClass=organizationalUnit))'
          </code>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="search_resultsperpage">search_resultsperpage</dt>
  <dd>
    Integer which specifies the number of results shown per page.
    This affects the select list of the search form and displaying
    results of a search without prior use of a search form.
    <dl><dt>Default:</dt><dd><code>10</code></dd></dl>
  </dd>

  <dt id="search_tdtemplate">search_tdtemplate</dt>
  <dd>
    HTML template strings used to display entries in the table
    of search results depending on the object class of an entry.
    This is a dictionary with object class names as key and
    HTML templates strings as value.
    <dl><dt>Default:</dt><dd><code>{}</code></dd></dl>
  </dd>

  <dt id="searchform_template">searchform_template</dt>
  <dd>
    This has to be a dictionary which specifies a set of named template files.
    The name _ (underscore) specifies a default template.
    <dl>
      <dt>Default:</dt><dd><code>''</code></dd>
      <dt>Example:</dt>
      <dd>
        <samp>
          <pre class="cli">
searchform_template= {
    '_': os.path.join(web2ldapcnf.templates_dir,'searchform_Base.html'),
    'Users': os.path.join(web2ldapcnf.templates_dir,'searchform_users.html'),
    'Orga': os.path.join(web2ldapcnf.templates_dir,'searchform_orga.html'),
    'Persons': os.path.join(web2ldapcnf.templates_dir,'searchform_persons.html'),
},
          </pre>
        </samp>
      </dd>
    </dl>
  </dd>

  <dt id="searchoptions_template">searchoptions_template</dt>
  <dd>
    HTML template file for search options.
    The HTML document must not contain HTML &lt;head&gt; section,
    &lt;body&gt; or &lt;html&gt; tags and uses
    <a href="https://docs.python.org/library/string.html#formatstrings">
    Python's Format String Syntax</a> to reference the different
    dynamically generated input fields etc.
    <dl><dt>Default:</dt><dd>none</dd></dl>
  </dd>

  <dt id="session_track_control">session_track_control</dt>
  <dd>
    If non-zero the session tracking control
    (see <a href="https://tools.ietf.org/html/draft-wahl-ldap-session">draft-wahl-ldap-session</a>)
    is sent along to the LDAP server with each LDAP request
    which is handy for debugging in combination with setting
    <a href="web2ldapcnf.html#ldap_trace_level">ldap_trace_level</a>.<br>
    <strong>Think twice!</strong><br>
    This reveals the client's IP address, your server name and the <var>LDAPObject</var> instance hash
    to the LDAP server.
    <dl><dt>Default:</dt><dd><code>0</code></dd></dl>
  </dd>

  <dt id="starttls">starttls</dt>
  <dd>
    Integer defining whether StartTLS should not be used
    (value 0), StartTLS should be tried (value 1) or use
    of StartTLS is mandantory (value 2) for connecting
    to this server. Does only make sense per server.
    <dl><dt>Default:</dt><dd><code>0</code></dd></dl>
  </dd>

  <dt id="top_template">top_template</dt>
  <dd>
    HTML template file for whole <em>TopSection</em> on top of page based on
    <a href="https://docs.python.org/library/string.html#formatstrings">
    Python's Format String Syntax</a>.
  </dd>

  <dt id="tls_options">tls_options</dt>
  <dd>
    <p>
      Dictionary for specifying arbitrary TLS-related LDAP options
      (see section TLS OPTIONS on OpenLDAP's man page
      <a href="https://www.openldap.org/software/man.cgi?query=ldap_set_option%283%29&apropos=0&sektion=0&manpath=OpenLDAP+2.4-Release&format=html#TLS_OPTIONS">
      ldap_get_option(3)</a>.
    </p>
    <p>
      <strong>
        Warning!<br>
        The TLS options do not work with OS-provided <var>libldap</var> on macOS!
        Global TLS parameters are used instead.
      </strong>
    </p>
    <dl>
      <dt>Default:</dt>
      <dd><code>{}</code></dd>
      <dt>Example:</dt>
      <dd>
        <pre class="cli">
tls_options={
  ldap.OPT_X_TLS_REQUIRE_CERT:ldap.OPT_X_TLS_DEMAND,
  # File containing all the trusted root CA certs
  ldap.OPT_X_TLS_CACERTFILE:os.path.join(web2ldapcnf.etc_dir,'web2ldap','ssl','crt','trusted-certs.crt'),
  ldap.OPT_X_TLS_CIPHER_SUITE:'ECDHE-RSA-AES256-SHA:DHE-RSA-AES256-SHA:!RC4-SHA:!ADH:!LOW:!EXP:!NULL',
  ldap.OPT_X_TLS_PROTOCOL_MIN:2,
  ldap.OPT_X_TLS_CRLCHECK:ldap.OPT_X_TLS_CRL_PEER,
  ldap.OPT_X_TLS_CRLFILE:os.path.join(web2ldapcnf.etc_dir,'web2ldap','ssl','crt','peers.crl'),
},
        </pre>
      </dd>
    </dl>
  </dd>

  <dt id="timeout">timeout</dt>
  <dd>
    Timeout value for LDAP operations in seconds.
    <dl><dt>Default:</dt><dd><code>20</code></dd></dl>
  </dd>

  <dt id="vcard_template">vcard_template</dt>
  <dd>
    HTML template files for vCard downloading. This is a dictionary
    with object class names as key and path names of vCard template files
    as value.
    <dl><dt>Default:</dt><dd><code>{}</code></dd></dl>
  </dd>

</dl>

<!--#include file="ssi/footer.html" -->
