<!--#set var="web2ldap_subtitle" value="LDAP client for the web" -->
<!--#set var="web2ldap_pagedescription" value="Full-featured LDAP client running as web application" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<h1>Status</h1>
<p>
  Current release:
  <a href="changes-1.5.html#r<!--#include file="ssi/release.shtml" -->">web2ldap <!--#include file="ssi/release.shtml" --></a>
</p>
<p>
  This software is still actively developed (see <a href="news.html">announcements</a>).
</p>

<h1>What is web2ldap?</h1>
<ul>
  <li>
    A generic LDAPv3 client which does not make any assumptions
    about the tree structure or LDAP schema.
  </li>
  <li>
    Kind of a swiss-army knife for accessing/manipulating LDAP servers
    without <em>having</em> to configure anything.
  </li>
  <li>
    A secure LDAP client with clean login behaviour.
  </li>
  <li>
    A schema browser which displays references/dependencies
    within an LDAPv3 schema.
  </li>
  <li>
    A <a href="usability.html">customizable</a> platform for prototyping
    LDAP administration use-cases.
  </li>
  <li>
    For <a href="https://www.stroeder.com/impressum.html">me</a>
    it is a platform for implementing cutting edge
    <a href="features.html#ldap">LDAP features</a>.
  </li>
  <li>
    <a href="changes.html">Continuously</a> maintained software since September 1998!
  </li>
</ul>

<h1>E-mail announcements</h1>
<p>
  I usually send the <a href="news.html">announcements</a> about
  web2ldap as e-mail. You might want to
  <a href="mailto:feedback@web2ldap.de?SUBJECT=Subscribe%20to%20web2ldap%20announcements">subscribe</a>
  or
  <a href="mailto:feedback@web2ldap.de?SUBJECT=Unsubscribe%20from%20web2ldap%20announcements">unsubscribe</a>.
</p>

<!--#include file="ssi/footer.html" -->
