<!--#set var="web2ldap_subtitle" value="Configuration" -->
<!--#set var="web2ldap_pagedescription" value="The configuration module directory web2ldapcnf/" -->
<!--#include file="ssi/head.html" -->
<!--#include file="ssi/navigation.html" -->

<p>
  This is the reference documentation for the Python module package <var>web2ldapcnf</var>.
  You can set configuration options for various aspects. See also the
  <a href="usability.html">usability summary</a>
  on how to customize the user interface the by configuration.
</p>
<p>
  The configuration module is divided into different sub-modules:
</p>
<dl>
  <dt>__init__.py</dt>
  <dd>
    Initialization module for the directory module and global options
  </dd>
  <dt><a href="web2ldapcnf_hosts.html">hosts.py</a></dt>
  <dd>
    Options specific for certain LDAP hosts
  </dd>
</dl>
<p>
  <strong>Note:</strong><br>
  The configuration itself is a Python module and therefore
  you have to provide a syntactically correct module and correct
  configuration parameters.<br>
  For doing nifty things please refer to the <a href="https://docs.python.org/">Python docs</a>
  on details about the Python syntax itself.
  Most times this is not necessary since the example configuration is pretty easy to understand.
</p>

<p>
  [<a href="#access_allowed">access_allowed</a>]
  [<a href="#connect_template">connect_template</a>]
  [<a href="#cookie_domain">cookie_domain</a>]
  [<a href="#cookie_length">cookie_length</a>]
  [<a href="#cookie_max_age">cookie_max_age</a>]
  [<a href="#good_redirect_targets">good_redirect_targets</a>]
  [<a href="#http_headers">http_headers</a>]
  [<a href="#httpenv_remote_addr">httpenv_remote_addr</a>]
  [<a href="#input_maxattrs">input_maxattrs</a>]
  [<a href="#input_maxfieldlen">input_maxfieldlen</a>]
  [<a href="#ldap_cache_ttl">ldap_cache_ttl</a>]
  [<a href="#ldap_opt_debug_level">ldap_opt_debug_level</a>]
  [<a href="#ldap_trace_level">ldap_trace_level</a>]
  [<a href="#ldif_maxbytes">ldif_maxbytes</a>]
  [<a href="#ldif_url_schemes">ldif_url_schemes</a>]
  [<a href="#log_error_details">log_error_details</a>]
  [<a href="#max_searchparams">max_searchparams</a>]
  [<a href="#redirect_template">redirect_template</a>]
  [<a href="#search_attrs">search_attrs</a>]
  [<a href="#session_checkvars">session_checkvars</a>]
  [<a href="#session_limit">session_limit</a>]
  [<a href="#session_paranoid">session_paranoid</a>]
  [<a href="#session_per_ip_limit">session_per_ip_limit</a>]
  [<a href="#session_remove">session_remove</a>]
</p>

<h1>General options</h1>
<dl>

  <dt id="connect_template">connect_template</dt>
  <dd>
    HTML template file for the input fields of a <em>Connect Form</em> based on
    <a href="https://docs.python.org/library/string.html#formatstrings">
    Python's Format String Syntax</a> to reference the different
    dynamically generated input fields etc.
  </dd>

  <dt id="cookie_domain">cookie_domain</dt>
  <dd>
    Sets cookie domain (DNS name) sent in <var>Set-Cookie</var> header.
    <var>None</var> lets web2ldap send the hostname automatically
    determined which might not work in tunnel/proxy setups because it has
    to match the DNS name the browser uses to access web2ldap.
  </dd>

  <dt id="cookie_length">cookie_length</dt>
  <dd>
    Integer number of chars to use for cookie
    <var>0</var> or <var>None</var> disables using cookies completely.
  </dd>

  <dt id="cookie_max_age">cookie_max_age</dt>
  <dd>
    Cookie lifetime in seconds. It's probably a good idea to set it to
    the same value like <a href="#session_remove">session_remove</a>.
  </dd>

  <dt id="ldif_maxbytes">ldif_maxbytes</dt>
  <dd>
    Maximum length (in bytes) of LDIF data in the &lt;textarea&gt;
    of <em>addform/modifyform</em>.
  </dd>

  <dt id="ldif_url_schemes">ldif_url_schemes</dt>
  <dd>
    List of strings which specifies the URL schemes to process in LDIF input
    (marker :&lt; in LDIF notation, see
    <a href="https://tools.ietf.org/html/rfc2849">RFC 2849</a>).<br>
    <strong>
      Think twice!!!<br>
      This can be a security nightmare! Every resource addressable by URL
      which is accessible by the system running web2ldap can be revealed.
      Usually you MUST not allow <em>file</em> if others can access
      your web2ldap installation and you MUST not allow any URL retrieval
      when running at a security border (like somewhere at firewall border).
    </strong><br>
    If unsure leave as empty list to ignore all URLs in LDIF.<br>
    Once again. This is the safe setting:<br>
    <samp>
      ldif_url_schemes = []
    </samp>
  </dd>

  <dt id="input_maxattrs">input_maxattrs</dt>
  <dd>
    Maximum count of input attribute fields in addform/modifyform.
  </dd>

  <dt id="input_maxfieldlen">input_maxfieldlen</dt>
  <dd>
    Maximum length of attribute data input fields in addform/modifyform.
  </dd>

  <dt id="max_searchparams">max_searchparams</dt>
  <dd>
    Maximum count of search parameters in advanced search form.
    <p>Example:</p>
    <samp>
      max_searchparams=9
    </samp>
  </dd>

  <dt id="ldap_cache_ttl">ldap_cache_ttl</dt>
  <dd>
    Time (seconds) search results retrieved with a synchronous search
    operation will be kept in a short-time cache used per LDAP connection.
    E.g. this affects performance of dynamic select lists.
  </dd>

  <dt id="ldap_opt_debug_level">ldap_opt_debug_level</dt>
  <dd>
    If non-zero this turns on debug output of the OpenLDAP libs
    and sets the debug level.
    Warning! Confidential information might be disclosed to the log!
    If unsure leave zero! Only set to non-zero if you have protected logs!
  </dd>

  <dt id="ldap_trace_level">ldap_trace_level</dt>
  <dd>
    Trace output of the LDAP connection can be written to error
    output. Set to non-zero if you want debug your LDAP connection.
    Warning! Passwords (credentials) are written to this trace log!
    If unsure leave zero! Only set to non-zero for testing purposes
    and if you have protected logs!
  </dd>

  <dt id="redirect_template">redirect_template</dt>
  <dd>
    HTML template file for the redirect page.
  </dd>

</dl>

<h1>Logging options</h1>
<dl>

  <dt id="log_error_details">log_error_details</dt>
  <dd>
    If set to <var>True</var> exceptions are logged with details of LDAP
    connection and HTTP request. The default is the value of Python variable
    <a href="https://docs.python.org/3/library/constants.html#__debug__">__debug__</a>.
  </dd>

</dl>


<h1>HTML and HTTP options</h1>
<dl>

  <dt id="httpenv_remote_addr">httpenv_remote_addr</dt>
  <dd>
    Name of environment variable from where to read the client's IP address
    for IP-based access control. Make sure you understand the interaction
    between a front-end web server (e.g. nginx, Apache httpd) and your
    WSGI application server (e.g. gunicorn, uwsgi) and whether to trust
    the referenced environment variable or not.
  </dd>

  <dt id="http_headers">http_headers</dt>
  <dd>
    Static dictionary of HTTP headers to be always sent to the browser.
    You can extend this if new HTTP headers are defined for enabling
    optional security features in browsers.
  </dd>

</dl>


<h1>Security options</h1>
<p>
  You should think about these parameters a little bit longer...
</p>

<dl>

  <dt id="access_allowed">access_allowed</dt>
  <dd>
    Dictionary which defines for each URL command a list of accepted
    address/net mask strings of client addresses permitted to access a
    certain page.
    <p>Example for accepting only clients from loopback network for all commands:</p>
    <samp>
      access_allowed = {'_': ['127.0.0.1/255.0.0.0', '::1']}
    </samp>
    <p>Example for allowing access to all clients for all commands:</p>
    <samp>
      access_allowed = {'_': ['0.0.0.0/0.0.0.0', '::0/0']}
    </samp>
    <p>Example for allowing access to all clients for all commands except monitor page:</p>
    <samp>
      access_allowed = {'_': ['0.0.0.0/0.0.0.0', '::0/0'], 'monitor': ['127.0.0.1/255.255.255.255']}
    </samp>
  </dd>

  <dt id="good_redirect_targets">good_redirect_targets</dt>
  <dd>
    Set of unsuspicious target URLs accept by redirector even
    without a session.
  </dd>

  <dt id="session_limit">session_limit</dt>
  <dd>
    Maximum number of currently persistent web sessions.
  </dd>
  <dt id="session_per_ip_limit">session_per_ip_limit</dt>
  <dd>
    Maximum number of currently persistent web sessions per remote IP address.
  </dd>
  <dt id="session_paranoid">session_paranoid</dt>
  <dd>
    If non-zero this is the time-span in seconds after which a
    new session ID is generated.<br>
    Disadvantage: The browser's back button does not work anymore.<br>
    Default: 0 (disabled)
  </dd>
  <dt id="session_remove">session_remove</dt>
  <dd>
    Amount of time in seconds after which inactive sessions will be expired
    and the session data is removed silently without the possibility to relogin.
  </dd>
  <dt id="session_checkvars">session_checkvars</dt>
  <dd>
    List of environment variables assumed to be constant throughout
    web sessions with the same ID if existent.
    These env vars are cross-checked for each hit while restoring a
    web session to reduce the risk of session-hijacking.<br>
    Note: <var>REMOTE_ADDR</var> and <var>REMOTE_HOST</var> might not be
    constant if the client accesses web2ldap through a network of web proxy
    siblings.
  </dd>

</dl>

<!--#include file="ssi/footer.html" -->
