<p>
  <a href="changes-1.5.html">1.5</a> /
  <a href="changes-1.4.html">1.4</a> /
  <a href="changes-1.3.html">1.3</a> /
  <a href="changes-1.2.html">1.2</a> /
  <a href="changes-1.1.html">1.1</a> /
  <a href="changes-1.0.html">1.0</a> /
  <a href="changes-0.16.html">0.16</a> /
  <a href="changes-0.15.html">0.15</a> /
  <a href="changes-0.14.html">0.14</a> /
  <a href="changes-0.13.html">0.13</a> /
  <a href="changes-0.12.html">0.12</a> /
  <a href="changes-0.11.html">0.11</a> /
  <a href="changes-0.10.html">0.10</a> /
  <a href="changes-0.9.html">0.9</a> /
  <a href="changes-0.8.html">0.8</a> /
  <a href="changes-0.7.html">0.7</a> /
  <a href="changes-ancient.html">Ancient</a> /
  <a href="changes.html">Overview</a>
</p>
