<nav>
  <div id="navigation">
    <a href="web2ldap.html" rel="home">web2ldap</a> //
    <a href="download.html">Download</a> /
    <a href="install.html">Install</a> /
    <a href="news.html">News</a> /
    <a href="demo.html">Demo</a> /
    <a href="docs.html">Docs</a> /
    <a href="related.html">Related</a>
  </div>
</nav>

<div id="content">

<header>
  <p class="pagetitle">
    <!--#echo var="web2ldap_subtitle" -->
  </p>
  <p class="subtitle">
    <!--#echo var="web2ldap_pagedescription" -->
  </p>
</header>
